Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

feat(lab_sim): Add lab desk objects and update objectives
  src/lab_sim/description/assets/bottle.stl
  src/lab_sim/description/assets/microscope.stl
  src/lab_sim/description/keyboard-texture.png
  src/lab_sim/description/laptop-screen.png
  src/lab_sim/description/picknik_ur.xacro
  src/lab_sim/description/scene.xml
  src/lab_sim/objectives/3_waypoint_pick_and_place.xml
  src/lab_sim/objectives/classical_pick_and_place.xml
  src/lab_sim/objectives/computelinkposefromwaypoint.xml
  src/lab_sim/objectives/constrained_pick_and_place_subtree.xml
  src/lab_sim/objectives/constrained_pick_place.xml
  src/lab_sim/objectives/create_pcl_poses_vector.xml
  src/lab_sim/objectives/grasp_planning.xml
  src/lab_sim/objectives/grasp_pose_tuning_with_april_tag.xml
  src/lab_sim/objectives/grasp_pose_using_yaml.xml
  src/lab_sim/objectives/move_flasks_to_burners.xml
  src/lab_sim/objectives/mpc_pose_tracking.xml
  src/lab_sim/objectives/mpc_pose_tracking_dynamic_point_cloud_avoidance_with_sphere_down_sample.xml
  src/lab_sim/objectives/mpc_pose_tracking_static_point_cloud_avoidance_with_sphere_down_sample.xml
  src/lab_sim/objectives/mpc_pose_tracking_with_static_sphere_point_cloud_avoidance.xml
  src/lab_sim/objectives/pick_1_pill_bottle_with_ml.xml
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
  src/lab_sim/objectives/pick_april_tag_object_with_approval.xml
  src/lab_sim/objectives/pick_object.xml
  src/lab_sim/objectives/pick_up_cube.xml
  src/lab_sim/objectives/place_object.xml
  src/lab_sim/objectives/register_cad_part.xml
  src/lab_sim/objectives/register_cad_part_subtree.xml
  src/lab_sim/objectives/square_traj.yaml
  src/lab_sim/objectives/stitch_multiple_point_clouds_together.xml
  src/lab_sim/test/objectives_integration_test.py
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

fix(lab_sim): Increase GetPointCloud timeout in Register CAD Part
  src/lab_sim/objectives/register_cad_part.xml
Due: check-objective-favorites

fix(lab_sim): Add Teleoperate to cancel_objectives in integration test
  src/lab_sim/test/objectives_integration_test.py
Due: none

Fix Port Names
  src/lab_sim/objectives/mpc_pose_tracking_dynamic_point_cloud_avoidance_with_sphere_down_sample.xml
  src/lab_sim/objectives/mpc_pose_tracking_static_point_cloud_avoidance_with_sphere_down_sample.xml
Due: check-objective-favorites

Dedup sam2 and sam3 models
  .gitmodules
  src/dual_arm_sim/objectives/find_with_prompt.xml
  src/dual_arm_sim/objectives/segment_point_cloud_from_text.xml
  src/example_behaviors/package.xml
  src/example_behaviors/src/example_sam2_segmentation.cpp
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
  src/hangar_sim/objectives/segment_image_from_point.xml
  src/hangar_sim/objectives/segment_point_cloud_from_clicked_point.xml
  src/hangar_sim/package.xml
  src/kitchen_sim/models/decoder.onnx
  src/kitchen_sim/models/sam2_hiera_large_encoder.onnx
  src/kitchen_sim/objectives/generate_graspable_object.xml
  src/kitchen_sim/objectives/grasp_object_from_point.xml
  src/kitchen_sim/objectives/segment_image_from_point.xml
  src/kitchen_sim/objectives/segment_point_cloud_from_point.xml
  src/kitchen_sim/package.xml
  src/lab_sim/models/decoder.onnx
  src/lab_sim/models/sam2_hiera_large_encoder.onnx
  src/lab_sim/models/sam3_decoder.onnx
  src/lab_sim/models/sam3_geometry_encoder.onnx
  src/lab_sim/models/sam3_text_encoder.onnx
  src/lab_sim/models/sam3_vision_encoder.onnx
  src/lab_sim/objectives/get_candidate_grasps_subtree.xml
  src/lab_sim/objectives/ml_auto_grasp_object_from_clicked_point.xml
  src/lab_sim/objectives/ml_find_bottles_on_table_from_image_exemplar.xml
  src/lab_sim/objectives/ml_find_objects_on_table.xml
  src/lab_sim/objectives/ml_segment_bottles_from_file.xml
  src/lab_sim/objectives/ml_segment_point_cloud.xml
  src/lab_sim/objectives/ml_segment_point_cloud_from_clicked_point.xml
  src/lab_sim/objectives/pick_1_pill_bottle_with_ml.xml
  src/lab_sim/package.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_image_from_point_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_image_from_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_point_cloud_from_text_prompt_subtree.xml
Due: check-objective-favorites

Start multi_arm_sim with gripper controllers activated
  src/moveit_pro_ur_configs/multi_arm_sim/config/config.yaml
Due: check-mujoco-viewer

Remove ros2_control overrides from space_satellite_sim
  src/moveit_pro_kinova_configs/space_satellite_sim/config/config.yaml
Due: check-mujoco-viewer

Merge pull request #564 from PickNikRobotics/MikeWrock-patch-2
  src/moveit_pro_ur_configs/multi_arm_sim/config/config.yaml
Due: check-mujoco-viewer

Merge pull request #565 from PickNikRobotics/MikeWrock-patch-2
  src/moveit_pro_kinova_configs/space_satellite_sim/config/config.yaml
Due: check-mujoco-viewer

add port for retrieving transform for static camera
  src/dual_arm_sim/objectives/find_with_prompt.xml
  src/dual_arm_sim/objectives/segment_point_cloud_from_text.xml
Due: check-objective-favorites

feat(hangar_sim): switch to wheel-driven mecanum locomotion with fuse odometry
  src/hangar_sim/config/config.yaml
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/description/front_left_wheel_link.xml
  src/hangar_sim/description/front_right_wheel_link.xml
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/description/rear_left_wheel_link.xml
  src/hangar_sim/description/rear_right_wheel_link.xml
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/launch/agent_bridge.launch.xml
  src/hangar_sim/launch/fuse.launch.py
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/script/odom_qos_relay.py
Due: check-objective-favorites, check-mujoco-viewer

Repro for https://github.com/PickNikRobotics/moveit_pro/issues/17959 - incorrect xacro call
  src/lab_sim/description/picknik_ur.xacro
Due: none

feat: add cd objectives for QA deployments
  src/hangar_sim/objectives/move_boxes_looping.xml
  src/lab_sim/objectives/ml_segment_image_loop.xml
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

remove changes to platform_vel_controller maintain whole body planning
  src/hangar_sim/config/config.yaml
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
Due: check-mujoco-viewer

fix: Reduce qpos Values in factory_sim Scene
  src/factory_sim/description/scene.xml
Due: check-objective-favorites

fix(hangar_sim): Expand replicate elements for MuJoCo 3.6.0 compatibility
  src/hangar_sim/description/ur5e_ridgeback.xml
Due: check-objective-favorites

17875 Add navigate-with-replanning objective and dual-lidar nav2 integration for ur5e_ridgeback
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/params/laser_filter_params.yaml
  src/hangar_sim/params/nav2_params.yaml
Due: check-objective-favorites

update poses in Stitch Multiple Point Clouds Together
  src/lab_sim/objectives/stitch_multiple_point_clouds_together.xml
Due: check-objective-favorites

fix(hangar_sim): Clarify pose prompt in Navigate to Clicked Point objective
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
Due: check-objective-favorites

feat: add batch merging of current release branch
  .github/workflows/batch-merge-release-branch.yaml
Due: none

Test Using Depot Runners
  .github/workflows/ci.yaml
Due: none

Configure Dependabot for GitHub Actions
  .github/dependabot.yml
Due: none

Test Using Depot Runners
  .github/workflows/ci.yaml
  .github/workflows/format.yaml
Due: none

Remove Stack Blocks with ICP
  src/lab_sim/objectives/stack_blocks_with_icp.xml
Due: check-objective-favorites

fix: invert dependency so example_ws action gets called in moveit_pro
  .github/actions/find_release_branch/action.yaml
  .github/workflows/batch-merge-release-branch.yaml
Due: none

Fix expected april tag size and clean up april tag tuning objectives
  src/lab_sim/objectives/get_april_tag_pose_from_image.xml
  src/lab_sim/objectives/grasp_pose_tuning_with_april_tag.xml
  src/lab_sim/objectives/grasp_pose_using_yaml.xml
  src/lab_sim/objectives/relative_grasp_pose.yaml
Due: check-objective-favorites

Fix april tag picking objectives
  src/lab_sim/objectives/apriltag_pick_object.xml
  src/lab_sim/objectives/pick_april_tag_object_with_approval.xml
Due: check-objective-favorites

18203 Change waypoint for looking at bottles and increase bottle threshold
  src/lab_sim/objectives/ml_find_bottles_on_table_from_image_exemplar.xml
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

chore(ci): Use AWS Runners and Update Action Refs
  .github/workflows/ci.yaml
Due: none

18205 Add bottle.stl from bottle.obj export for ICP fit
  mujoco_assets/assets/bottle.stl
Due: none

fix(lab_sim): Set MuJoCo arena memory to 64M to prevent constraint overflow
  src/lab_sim/description/scene.xml
Due: check-objective-favorites

fix(lab_sim): Set MuJoCo timestep to 0.005 so sim keeps up with wall time
  src/lab_sim/description/scene.xml
Due: check-objective-favorites

18205 Make Pick All Pill Bottles reliably transfer three bottles
  src/lab_sim/objectives/fan_pose_about_tool_z_subtree.xml
  src/lab_sim/objectives/fit_bottle_model_subtree.xml
  src/lab_sim/objectives/get_bottle_grasp_via_icp_subtree.xml
  src/lab_sim/objectives/get_candidate_grasps_subtree.xml
  src/lab_sim/objectives/get_grasp_from_text_prompt_subtree.xml
  src/lab_sim/objectives/pick_all_pill_bottles.xml
  src/lab_sim/objectives/pick_from_pose_vector.xml
  src/lab_sim/objectives/pill_bottle_place_poses.yaml
  src/lab_sim/objectives/place_at_pose_vector.xml
  src/lab_sim/objectives/segment_bottle_subtree.xml
  src/lab_sim/test/objectives_integration_test.py
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

Snapshot camera-trigger workspace state (handoff salvage)
  .gitignore
  Dockerfile
  docker-compose.yaml
  patches/README.md
  patches/pylon-ros-camera-disable-blaze.patch
  patches/zed-ros2-wrapper-parameter-value-int.patch
  src/harvest_moon/CMakeLists.txt
  src/harvest_moon/README.md
  src/harvest_moon/config/basler_cam_1.yaml
  src/harvest_moon/config/basler_cam_2.yaml
  src/harvest_moon/config/config.yaml
  src/harvest_moon/config/zed_x_overrides.yaml
  src/harvest_moon/docs/A_field_quickstart.md
  src/harvest_moon/docs/B_operations.md
  src/harvest_moon/docs/C_field_troubleshooting.md
  src/harvest_moon/docs/D_architecture.md
  src/harvest_moon/docs/E_bom.md
  src/harvest_moon/docs/F_hardware_build.md
  src/harvest_moon/docs/G_software_setup.md
  src/harvest_moon/docs/H_config_reference.md
  src/harvest_moon/docs/J_deep_troubleshooting.md
  src/harvest_moon/launch/agent_bridge.launch.xml
  src/harvest_moon/launch/cameras.launch.xml
  src/harvest_moon/launch/debug_cameras.launch.py
  src/harvest_moon/objectives/.gitkeep
  src/harvest_moon/package.xml
  src/harvest_moon/scripts/basler_feature_dump.py
  src/harvest_moon/scripts/basler_smoke_test.py
  src/harvest_moon/scripts/basler_trigger_enums.py
  src/harvest_moon/scripts/hand_wave_sync_test.py
  src/harvest_moon/scripts/provision_basler.py
  src/harvest_moon/scripts/record_dataset.py
  src/harvest_moon/scripts/record_dataset_TESTPLAN.md
  src/harvest_moon/scripts/ros_sync_test.py
  src/harvest_moon/scripts/strobe_leak_test.py
  src/harvest_moon/scripts/trigger_strobe_dual_test.py
  src/harvest_moon/scripts/trigger_strobe_test.py
  src/harvest_moon/scripts/triple_sync_test.py
  src/lab_sim/launch/agent_bridge.launch.xml
Due: check-objective-favorites, check-mujoco-viewer

added docs README
  src/harvest_moon/docs/README.md
Due: none

Removed field hardening notes in README
  src/harvest_moon/docs/README.md
Due: none

Added pointcloud information to saving script. Updated associated doc files.
  src/harvest_moon/config/zed_x_overrides.yaml
  src/harvest_moon/docs/A_field_quickstart.md
  src/harvest_moon/docs/B_operations.md
  src/harvest_moon/docs/H_config_reference.md
  src/harvest_moon/scripts/record_dataset.py
  src/harvest_moon/scripts/record_dataset_TESTPLAN.md
Due: none

rosbag script working. Added pointcloud + highest res zed images
  docker-compose.yaml
  src/harvest_moon/config/zed_x_overrides.yaml
  src/harvest_moon/docs/A_field_quickstart.md
  src/harvest_moon/docs/B_operations.md
  src/harvest_moon/docs/C_field_troubleshooting.md
  src/harvest_moon/docs/D_architecture.md
  src/harvest_moon/docs/G_software_setup.md
  src/harvest_moon/docs/H_config_reference.md
  src/harvest_moon/docs/J_deep_troubleshooting.md
  src/harvest_moon/launch/cameras.launch.xml
  src/harvest_moon/scripts/record_dataset.py
  src/harvest_moon/scripts/record_dataset_TESTPLAN.md
Due: check-objective-favorites

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
