Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

deploy: b3c3c9b4e454808312a89b9dc036433090034d99
  pr-696/run-27212291280/hangar_sim/jazzy/report.html
Due: none

ci: aggregate integration-test report and run jazzy-only
  .github/workflows/ci.yaml
Due: none

test(hangar_sim): assert joint end state for Move to Arm Upright
  src/hangar_sim/test/objectives_integration_test.py
Due: none

ci: pass cuda13.2-cudnn9 image suffix to integration test
  .github/workflows/ci.yaml
Due: none

ci: re-pin workspace_integration_test to v0.7.0 commit SHA
  .github/workflows/ci.yaml
Due: none

ci: forward gpu_image_suffix from dispatch payload instead of hard-coding
  .github/workflows/ci.yaml
Due: none

ci: re-pin workspace_integration_test to v0.8.0 commit SHA
  .github/workflows/ci.yaml
Due: none

ci: default gpu_image_suffix to legacy -cuda12.6-cudnn9
  .github/workflows/ci.yaml
Due: none

fix(ci): resolve needs: image from Docker Hub, not GHCR
  .github/workflows/ci.yaml
Due: none

fix(ci): adopt moveit_pro_ci v0.9.0 and bake per-distro CUDA suffix into image_ref
  .github/workflows/ci.yaml
Due: none

feat(hangar_sim): add Semantic Navigate objectives
  src/hangar_sim/objectives/semantic_navigate.xml
  src/hangar_sim/objectives/semantic_navigate_to_workbench.xml
Due: check-objective-favorites

fix(hangar_sim): retarget smoke test to free-space dock pose
  src/hangar_sim/objectives/semantic_navigate_to_workbench.xml
Due: check-objective-favorites

test(hangar_sim): smoke test to SE door standoff; hide unwired parameterized objective
  src/hangar_sim/objectives/semantic_navigate.xml
  src/hangar_sim/objectives/semantic_navigate_to_workbench.xml
Due: check-objective-favorites

deploy: f70d9d25002d649de5e78e6dc6ddacf477ca41b4
  pr-701/run-27281782711/hangar_sim/jazzy/report.html
Due: none

feat(hangar_sim): runnable Semantic Navigate (override target) + clickable demo objectives
  src/hangar_sim/objectives/semantic_navigate.xml
  src/hangar_sim/objectives/semnav_demo_door_east.xml
  src/hangar_sim/objectives/semnav_demo_door_south_east.xml
  src/hangar_sim/objectives/semnav_demo_door_west.xml
  src/hangar_sim/objectives/semnav_demo_shelving_south_east.xml
  src/hangar_sim/objectives/semnav_demo_stairs_north_east.xml
Due: check-objective-favorites

feat(hangar_sim): per-place by-name Semantic Navigate objectives (fallback path)
  src/hangar_sim/objectives/semnav_access_stand_south_east.xml
  src/hangar_sim/objectives/semnav_access_stand_south_west.xml
  src/hangar_sim/objectives/semnav_access_stand_west.xml
  src/hangar_sim/objectives/semnav_door_east.xml
  src/hangar_sim/objectives/semnav_door_north.xml
  src/hangar_sim/objectives/semnav_door_north_east.xml
  src/hangar_sim/objectives/semnav_door_north_east_2.xml
  src/hangar_sim/objectives/semnav_door_north_west.xml
  src/hangar_sim/objectives/semnav_door_north_west_2.xml
  src/hangar_sim/objectives/semnav_door_north_west_3.xml
  src/hangar_sim/objectives/semnav_door_south_east.xml
  src/hangar_sim/objectives/semnav_door_west.xml
  src/hangar_sim/objectives/semnav_ladder_south_west.xml
  src/hangar_sim/objectives/semnav_ladder_west.xml
  src/hangar_sim/objectives/semnav_shelving_east.xml
  src/hangar_sim/objectives/semnav_shelving_south_east.xml
  src/hangar_sim/objectives/semnav_shelving_south_west.xml
  src/hangar_sim/objectives/semnav_stairs_north_east.xml
  src/hangar_sim/objectives/semnav_stairs_north_west.xml
  src/hangar_sim/objectives/semnav_trash_bin_east.xml
  src/hangar_sim/objectives/semnav_trash_bin_west.xml
Due: check-objective-favorites

chore(hangar_sim): drop by-name objectives; keep parameterized Semantic Navigate for /execute_objective overrides
  src/hangar_sim/objectives/semnav_access_stand_south_east.xml
  src/hangar_sim/objectives/semnav_access_stand_south_west.xml
  src/hangar_sim/objectives/semnav_access_stand_west.xml
  src/hangar_sim/objectives/semnav_door_east.xml
  src/hangar_sim/objectives/semnav_door_north.xml
  src/hangar_sim/objectives/semnav_door_north_east.xml
  src/hangar_sim/objectives/semnav_door_north_east_2.xml
  src/hangar_sim/objectives/semnav_door_north_west.xml
  src/hangar_sim/objectives/semnav_door_north_west_2.xml
  src/hangar_sim/objectives/semnav_door_north_west_3.xml
  src/hangar_sim/objectives/semnav_door_south_east.xml
  src/hangar_sim/objectives/semnav_door_west.xml
  src/hangar_sim/objectives/semnav_ladder_south_west.xml
  src/hangar_sim/objectives/semnav_ladder_west.xml
  src/hangar_sim/objectives/semnav_shelving_east.xml
  src/hangar_sim/objectives/semnav_shelving_south_east.xml
  src/hangar_sim/objectives/semnav_shelving_south_west.xml
  src/hangar_sim/objectives/semnav_stairs_north_east.xml
  src/hangar_sim/objectives/semnav_stairs_north_west.xml
  src/hangar_sim/objectives/semnav_trash_bin_east.xml
  src/hangar_sim/objectives/semnav_trash_bin_west.xml
Due: check-objective-favorites

feat(hangar_sim): by-name Semantic Navigate objectives (override path blocked by vector<double> parser)
  src/hangar_sim/objectives/semnav_door_east.xml
  src/hangar_sim/objectives/semnav_door_north.xml
  src/hangar_sim/objectives/semnav_door_north_east.xml
  src/hangar_sim/objectives/semnav_door_north_east_2.xml
  src/hangar_sim/objectives/semnav_door_north_west.xml
  src/hangar_sim/objectives/semnav_door_north_west_2.xml
  src/hangar_sim/objectives/semnav_door_north_west_3.xml
  src/hangar_sim/objectives/semnav_door_south_east.xml
  src/hangar_sim/objectives/semnav_door_west.xml
  src/hangar_sim/objectives/semnav_shelving_east.xml
  src/hangar_sim/objectives/semnav_shelving_south_east.xml
  src/hangar_sim/objectives/semnav_shelving_south_west.xml
  src/hangar_sim/objectives/semnav_stairs_north_east.xml
  src/hangar_sim/objectives/semnav_stairs_north_west.xml
Due: check-objective-favorites

feat(hangar_sim): single Semantic Navigate with target_pose PoseStamped override; drop per-location objectives
  src/hangar_sim/objectives/semantic_navigate.xml
  src/hangar_sim/objectives/semnav_door_east.xml
  src/hangar_sim/objectives/semnav_door_north.xml
  src/hangar_sim/objectives/semnav_door_north_east.xml
  src/hangar_sim/objectives/semnav_door_north_east_2.xml
  src/hangar_sim/objectives/semnav_door_north_west.xml
  src/hangar_sim/objectives/semnav_door_north_west_2.xml
  src/hangar_sim/objectives/semnav_door_north_west_3.xml
  src/hangar_sim/objectives/semnav_door_south_east.xml
  src/hangar_sim/objectives/semnav_door_west.xml
  src/hangar_sim/objectives/semnav_shelving_east.xml
  src/hangar_sim/objectives/semnav_shelving_south_east.xml
  src/hangar_sim/objectives/semnav_shelving_south_west.xml
  src/hangar_sim/objectives/semnav_stairs_north_east.xml
  src/hangar_sim/objectives/semnav_stairs_north_west.xml
Due: check-objective-favorites

test(hangar_sim): point smoke test at aircraft nose to validate A's offset
  src/hangar_sim/objectives/semantic_navigate_to_workbench.xml
Due: check-objective-favorites

fix(kinova_site): camera streaming, USB split, and pstop recovery
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/config/control/picknik_kinova_gen3.ros2_control.yaml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/cameras.launch.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/robot_drivers_to_persist.launch.py
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/zed_camera.launch.xml
Due: check-objective-favorites, check-mujoco-viewer

test(hangar_sim): smoke test to aircraft tail (nose blocked by dock)
  src/hangar_sim/objectives/semantic_navigate_to_workbench.xml
Due: check-objective-favorites

test(hangar_sim): rename smoke test to 'Semantic Navigate: Aircraft Tail'
  src/hangar_sim/objectives/semantic_navigate_to_workbench.xml
Due: check-objective-favorites

test(hangar_sim): smoke test to A's map-verified aircraft tail (0,6.3)
  src/hangar_sim/objectives/semantic_navigate_to_workbench.xml
Due: check-objective-favorites
