Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

Make 'Pick All Bottles with AprilTags' more reliable
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

Update CI Workflow Version
  .github/workflows/ci.yaml
Due: none

fix(lab_sim): correct VisualizePose port in MPC pose tracking Objectives
  src/lab_sim/objectives/mpc_pose_tracking_dynamic_point_cloud_avoidance_with_sphere_down_sample.xml
  src/lab_sim/objectives/mpc_pose_tracking_static_point_cloud_avoidance_with_sphere_down_sample.xml
Due: check-objective-favorites

fix(hangar_sim): widen linear_x_joint limits to ±25 m
  src/hangar_sim/description/ur5e_ridgeback.xacro
Due: none

docs(tutorials): add Tutorial 3 place waypoints
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: none

Rosbags stored on SSD now. Updated documentation
  docker-compose.yaml
  src/harvest_moon/config/basler_cam_1.yaml
  src/harvest_moon/config/basler_cam_2.yaml
  src/harvest_moon/config/zed_x_overrides.yaml
  src/harvest_moon/docs/A_field_quickstart.md
  src/harvest_moon/docs/B_operations.md
  src/harvest_moon/docs/C_field_troubleshooting.md
  src/harvest_moon/docs/D_architecture.md
  src/harvest_moon/docs/E_bom.md
  src/harvest_moon/docs/F_hardware_build.md
  src/harvest_moon/docs/G_software_setup.md
  src/harvest_moon/docs/H_config_reference.md
  src/harvest_moon/docs/J_deep_troubleshooting.md
  src/harvest_moon/docs/README.md
  src/harvest_moon/launch/cameras.launch.xml
  src/harvest_moon/scripts/record_dataset.py
  src/harvest_moon/scripts/record_dataset_TESTPLAN.md
  src/harvest_moon/scripts/ros_sync_test.py
Due: check-objective-favorites

Added new python testing scripts
  src/harvest_moon/scripts/bag_extract.py
  src/harvest_moon/scripts/bag_panels.py
  src/harvest_moon/scripts/pylon_pub_test.py
Due: none

fix: push button tolerance too low
  src/lab_sim/objectives/push_button_with_a_trajectory.xml
Due: check-objective-favorites

fix: ci flakes with publisher timeouts
  src/lab_sim/objectives/mpc_pose_tracking_with_static_sphere_point_cloud_avoidance.xml
  src/lab_sim/objectives/wrist_snap.xml
Due: check-objective-favorites

fix(lab_sim): correct VisualizePose port in MPC pose tracking Objectives
  src/lab_sim/objectives/mpc_pose_tracking_static_point_cloud_avoidance_with_sphere_down_sample.xml
Due: check-objective-favorites

tune mpc objectives and correct pose stamped changes
  src/lab_sim/objectives/mpc_pose_tracking_dynamic_point_cloud_avoidance_with_sphere_down_sample.xml
  src/lab_sim/objectives/mpc_pose_tracking_static_point_cloud_avoidance_with_sphere_down_sample.xml
  src/lab_sim/objectives/mpc_pose_tracking_with_point_cloud_avoidance.xml
  src/lab_sim/objectives/mpc_pose_tracking_with_static_sphere_point_cloud_avoidance.xml
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

fix(lab_sim): activate per-test MuJoCo reset fixture
  src/lab_sim/test/objectives_integration_test.py
Due: none

Update README
  README.md
  sync_subtrees.sh
Due: none

Remove Unused Scripts
  scripts/README.md
  scripts/enrich_behaviors_with_usage.py
Due: none

Address PR review feedback on README
  README.md
Due: none

fix(factory_sim): 18180 Pick and Place Brackets sim setup and tool-handling cartesian fixes
  src/factory_sim/config/control/picknik_fanuc.ros2_control.yaml
  src/factory_sim/description/bracket_collision_geometry_0.xml
  src/factory_sim/description/bracket_collision_geometry_1.xml
  src/factory_sim/description/bracket_collision_geometry_2.xml
  src/factory_sim/description/scene.xml
  src/factory_sim/objectives/pick_up_tool_from_holder.xml
  src/factory_sim/objectives/place_tool_in_tool_holder.xml
  src/factory_sim/objectives/retract.xml
Due: check-objective-favorites

Replace Repo Structure with List of Robot Configs
  README.md
Due: none

fix(lab_sim): bump gripper and GetImage timeouts to stabilize CI
  src/lab_sim/objectives/close_gripper.xml
  src/lab_sim/objectives/open_gripper.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
Due: check-objective-favorites

feat(factory_sim): admittance move-to-touch for Vacuum Pick Bracket
  src/factory_sim/config/config.yaml
  src/factory_sim/config/control/picknik_fanuc.ros2_control.yaml
  src/factory_sim/description/scene.xml
  src/factory_sim/description/suction_tool.xml
  src/factory_sim/objectives/vacuum_pick_bracket_part_subtree.xml
  src/factory_sim/objectives/vacuum_touch_admittance_disable.yaml
  src/factory_sim/objectives/vacuum_touch_admittance_params.yaml
Due: check-objective-favorites, check-mujoco-viewer

fix(factory_sim): make admittance move-to-touch run end-to-end
  src/factory_sim/objectives/vacuum_pick_bracket_part_subtree.xml
Due: check-objective-favorites

feat(lab_sim): add Quest controller teleoperation objective
  .gitmodules
  src/lab_sim/config/config.yaml
  src/lab_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/lab_sim/objectives/quest_teleop.xml
Due: check-objective-favorites, check-mujoco-viewer

fix: Correct description for Segment Point Cloud from Text Prompt Subtree
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_point_cloud_from_text_prompt_subtree.xml
Due: check-objective-favorites

fix: Correct description for dual_arm_sim text prompt subtree
  src/dual_arm_sim/objectives/segment_point_cloud_from_text.xml
Due: check-objective-favorites

feat: hangar_sim, add beluga_amcl localization with hardcoded initial pose
  src/hangar_sim/launch/sim/localization_launch.py
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/package.xml
  src/hangar_sim/params/nav2_params.yaml
Due: check-objective-favorites

feat(hangar_sim): add slam_toolbox launch flag and nav2 params
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/package.xml
  src/hangar_sim/params/nav2_params.yaml
Due: check-objective-favorites

refactor: Rename WaitForUserTrajectoryApproval to WaitForMTCSolutionApproval
  src/april_tag_sim/objectives/move_to_and_detect_tag_-45.xml
  src/april_tag_sim/objectives/move_to_and_detect_tag_0.xml
  src/april_tag_sim/objectives/move_to_and_detect_tag_45.xml
  src/factory_sim/objectives/plan_and_execute_with_orientation_samples.xml
  src/factory_sim/objectives/plan_and_execute_with_position_only.xml
  src/factory_sim/objectives/plan_and_execute_with_world_vertical_orientation.xml
  src/grinding_sim/objectives/grind_machined_part.xml
  src/hangar_sim/objectives/cartesian_path_with_collision_checking.xml
  src/hangar_sim/objectives/cartesian_plan_simple_square.xml
  src/hangar_sim/objectives/find_and_spray_plane.xml
  src/hangar_sim/objectives/solution_-_find_and_spray_plane.xml
  src/hangar_sim/objectives/solution_draw_square.xml
  src/hangar_sim/objectives/solution_spray_plane.xml
  src/hangar_sim/objectives/wait_for_trajectory_approval_if_user_available.xml
  src/kitchen_sim/objectives/write_text.xml
  src/lab_sim/objectives/plan_and_save_trajectory.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/april_tag_object_registration.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/move_along_path_admittance.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/write_picknik.xml
  src/moveit_pro_ur_configs/multi_arm_sim/objectives/multi_tip_path_ik_example.xml
  src/moveit_pro_ur_configs/multi_arm_sim/objectives/wait_for_trajectory_approval_if_user_available.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/objectives/push_button.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/objectives/push_button_ml.xml
Due: check-objective-favorites

refactor: Rename CreateStampedX Behaviors to CreateXStamped
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/lab_sim/objectives/constrained_pick_and_place_subtree.xml
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
  src/lab_sim/objectives/pick_all_pill_bottles.xml
  src/lab_sim/objectives/pick_from_pose_vector.xml
  src/lab_sim/objectives/place_at_pose_vector.xml
  src/lab_sim/objectives/segment_bottle_subtree.xml
Due: check-objective-favorites

fix(ci): skip Push Button With a Trajectory and coarsen MuJoCo timestep
  .github/workflows/ci.yaml
  src/lab_sim/test/objectives_integration_test.py
Due: none

chore(objectives): migrate PublishStaticFrame to PublishTF
  src/dual_arm_sim/objectives/draw.xml
  src/grinding_sim/objectives/grind_machined_part.xml
  src/grinding_sim/objectives/visualize_poses.xml
  src/hangar_sim/objectives/cartesian_draw_geometry_from_file.xml
  src/hangar_sim/objectives/solution_draw_picknik.xml
  src/kitchen_sim/objectives/write_text.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/april_tag_object_registration.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/compliant_grasp_rafti_vfc.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/write_picknik.xml
Due: check-objective-favorites

fix(hangar_sim): prevent dual odom TF publication when use_fuse:=true
  src/hangar_sim/config/config.yaml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/description/ur5e_ridgeback.xacro
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
Due: check-mujoco-viewer

fix(factory_sim): align bracket-detection ICP with new spawn positions
  src/factory_sim/objectives/look_for_bracket_part_subtree.xml
Due: check-objective-favorites

chore: finish migration of find_release_branch to moveit_pro_ci
  .github/actions/find_release_branch/action.yaml
  .github/workflows/batch-merge-release-branch.yaml
Due: none

ci: Update Test Action to Include Jazzy
  .github/workflows/ci.yaml
Due: none

Update main With Changes from example_ws (#54)
  .gitattributes
  .pre-commit-config.yaml
Due: check-mujoco-viewer

fix(lab_sim): Tutorial 1 walk-through fixes
  src/lab_sim/objectives/ml_find_objects_on_table.xml
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
Due: check-objective-favorites

ci: Add warning for PRs that overlap with moveit_pro_empty_ws
  .github/workflows/warn-empty-ws-overlap.yaml
Due: none

add a wait to give TF time to be available
  src/moveit_pro_kinova_configs/kinova_sim/objectives/write_picknik.xml
Due: check-objective-favorites
