Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

fix(lab_sim): raise the gripper stall velocity threshold above simulated contact chatter
  src/lab_sim/config/control/picknik_ur.ros2_control.yaml
Due: none

deploy: 2078396b915bd7d0ef529f64fa57407caadf9635
  pr-950/run-34978614494/hangar_sim/jazzy/report.html
  pr-950/run-34978614494/lab_sim/jazzy/report.html
Due: none

deploy: 442956bcfd8189b6b142ce22e8548646dcbba6d4
  pr-951/run-34979097181/hangar_sim/jazzy/report.html
  pr-951/run-34979097181/lab_sim/jazzy/report.html
Due: none

deploy: 255ab21901532dbf38c165d1d69a5dd8b2a81c9e
  pr-952/run-35002278537/hangar_sim/jazzy/report.html
  pr-952/run-35002278537/lab_sim/jazzy/report.html
Due: none

fix(lab_sim): port AddBottlesToPlanningScene to SAM3
  README.md
  src/lab_sim/objectives/addbottlestoplanningscene.xml
Due: check-objective-favorites

deploy: 162c131b4ee3887ae6f378b7a49064540cc37f2c
  pr-952/run-35004385271/hangar_sim/jazzy/report.html
  pr-952/run-35004385271/lab_sim/jazzy/report.html
Due: none

deploy: 9c36f02c81e52f0d6515dc78331245e0472f0ee1
  pr-952/run-35004993570/hangar_sim/jazzy/report.html
  pr-952/run-35004993570/lab_sim/jazzy/report.html
Due: none

deploy: 556dac47bfbda4d1875c3bb05d6a3c7d286ce31a
  pr-953/run-35005690018/hangar_sim/jazzy/report.html
  pr-953/run-35005690018/lab_sim/jazzy/report.html
Due: none

deploy: eb5fd6e10e2db23927e1e2c8e1f804dc563ca6b0
  pr-954/run-35005699398/hangar_sim/jazzy/report.html
  pr-954/run-35005699398/lab_sim/jazzy/report.html
Due: none

deploy: f91cf0c3a10f2c5769bc3ce57d080f4c3c08a328
  pr-955/run-35005706710/hangar_sim/jazzy/report.html
  pr-955/run-35005706710/lab_sim/jazzy/report.html
Due: none

deploy: 566915590c19771c283e2d65e75f20b484dd8503
  pr-956/run-35005715375/hangar_sim/jazzy/report.html
  pr-956/run-35005715375/lab_sim/jazzy/report.html
Due: none

deploy: 566915590c19771c283e2d65e75f20b484dd8503
  pr-956/run-35005715375/lab_sim/jazzy/report.html
Due: none

fix(lab_sim): port ML Segment Point Cloud to SAM3
  README.md
  src/lab_sim/objectives/ml_segment_point_cloud.xml
Due: check-objective-favorites

feat(hangar_sim): gate the forward stereo pair behind enable_vo
  src/hangar_sim/config/config.yaml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/description/ur5e_ridgeback.xacro
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/params/forward_stereo.yaml
  src/hangar_sim/script/forward_stereo_publisher.py
  src/hangar_sim/test/test_forward_stereo_publisher.py
Due: check-mujoco-viewer

deploy: 39e376854952515a52104da8a7e9a4a5b0ce223d
  pr-954/run-35014401690/hangar_sim/jazzy/report.html
  pr-954/run-35014401690/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): port Segment Image from Text Prompt to SAM3
  README.md
  src/hangar_sim/objectives/segment_image_from_text_prompt.xml
Due: check-objective-favorites

deploy: 0f2e5c0b313fcda4f52caab906c8758a4c34e7f0
  pr-953/run-35014400886/hangar_sim/jazzy/report.html
  pr-953/run-35014400886/lab_sim/jazzy/report.html
Due: none

deploy: c125d4a0def39dedfebe5f13991e779deffc996a
  pr-956/run-35017258318/hangar_sim/jazzy/report.html
  pr-956/run-35017258318/lab_sim/jazzy/report.html
Due: none

fix(lab_sim): port ML Segment Image to SAM3
  README.md
  src/lab_sim/objectives/ml_segment_image.xml
Due: check-objective-favorites

deploy: 93a30b27e0e16dd1ed049f9117dde581af2d13b2
  pr-953/run-35020524760/hangar_sim/jazzy/report.html
  pr-953/run-35020524760/lab_sim/jazzy/report.html
Due: none

docs: remove obsolete CLIPSeg warning after SAM3 migration
  README.md
Due: none

deploy: b04b896ac03673142b5122d429bdfe328ef87996
  pr-957/run-35024426118/hangar_sim/jazzy/report.html
  pr-957/run-35024426118/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): make Cartesian Path with Collision Checking fail by design
  src/hangar_sim/objectives/cartesian_path_with_collision_checking.xml
  src/hangar_sim/test/objectives_integration_test.py
Due: check-objective-favorites

deploy: 00cf829bd384b93ebe03022199b01a774d84a0da
  pr-960/run-35068362683/hangar_sim/jazzy/report.html
  pr-960/run-35068362683/lab_sim/jazzy/report.html
Due: none

deploy: 407385eefab1547cad7e97fc219b247ef29f2e94
  pr-949/run-35075059345/hangar_sim/jazzy/report.html
  pr-949/run-35075059345/lab_sim/jazzy/report.html
Due: none

feat(hangar_sim): add mobile base teleoperation group
  src/hangar_sim/config/config.yaml
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/moveit/picknik_ur.srdf
  src/hangar_sim/config/moveit/pose_jog.yaml
Due: check-mujoco-viewer

fix(hangar_sim): disable drive acceleration limiting MPPI does not model
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
Due: none

no-mistakes(review): limit accel-limiting change to nav2 controller only
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
Due: none

fix(hangar_sim): trim the acceleration-limiting comment
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
Due: none

deploy: ca66c32d00ae2d845807cd261e50df6bba426b6c
  pr-962/run-35102583845/hangar_sim/jazzy/report.html
  pr-962/run-35102583845/lab_sim/jazzy/report.html
Due: none

deploy: 2b614b62fb49c0cb80dd3f0fc11e0c83d71768fd
  pr-962/run-35102927680/hangar_sim/jazzy/report.html
  pr-962/run-35102927680/lab_sim/jazzy/report.html
Due: none

deploy: 078ad38aaa7bbf4d5b26c9ec4853b84c48840272
  pr-963/run-35125654162/hangar_sim/jazzy/report.html
  pr-963/run-35125654162/lab_sim/jazzy/report.html
Due: none

deploy: 0c1526c54da1dcfa7db70951603e121640d1c912
  pr-964/run-35126464640/hangar_sim/jazzy/report.html
  pr-964/run-35126464640/lab_sim/jazzy/report.html
Due: none

feat(sam3): download SAM3 models at build time instead of vendoring them
  .gitmodules
  .pre-commit-config.yaml
  src/moveit_pro_sam3/.gitignore
  src/moveit_pro_sam3/CMakeLists.txt
  src/moveit_pro_sam3/CONTRIBUTING.md
  src/moveit_pro_sam3/LICENSE
  src/moveit_pro_sam3/README.md
  src/moveit_pro_sam3/models/LICENSE
  src/moveit_pro_sam3/models/model.yaml.in
  src/moveit_pro_sam3/package.xml
Due: check-objective-favorites, check-mujoco-viewer

feat(sam3): download SAM3 models at build time instead of vendoring them
  .gitmodules
  .pre-commit-config.yaml
  src/moveit_pro_sam3/.gitignore
  src/moveit_pro_sam3/CMakeLists.txt
  src/moveit_pro_sam3/CONTRIBUTING.md
  src/moveit_pro_sam3/LICENSE
  src/moveit_pro_sam3/README.md
  src/moveit_pro_sam3/models/LICENSE
  src/moveit_pro_sam3/package.xml
Due: check-objective-favorites, check-mujoco-viewer

deploy: 0b48d69095f40071048b47877e9d35d3b6144660
  pr-966/run-35130543750/hangar_sim/jazzy/report.html
  pr-966/run-35130543750/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): raise nav2 TF tolerances so FollowPath survives a slow lookup
  src/hangar_sim/params/nav2_params.yaml
Due: none

no-mistakes(document): correct stale tightest-tolerance claim in nav2 comment
  src/hangar_sim/params/nav2_params.yaml
Due: none

docs(hangar_sim): record why the odom -> world bridge exists
  AGENTS.md
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/README.md
  src/hangar_sim/description/ur5e_ridgeback.xacro
  src/hangar_sim/docs/NAV2_AND_WHOLE_BODY_PLANNING_ARCHITECTURE.md
  src/hangar_sim/docs/planning-root-tree.svg
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/test/test_planning_root_frame.py
Due: none
