Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

deploy: ab9e6ab42c72e5fb3ba3b4eed2a8ea5bdabaf7da
  pr-790/run-31500122697/hangar_sim/jazzy/report.html
  pr-790/run-31500122697/lab_sim/jazzy/report.html
Due: none

deploy: 433a93b3fc5b337da87291b7938e988512591cfb
  pr-830/run-31526441097/hangar_sim/jazzy/report.html
  pr-830/run-31526441097/lab_sim/jazzy/report.html
Due: none

test(hangar_sim): A/B revert base-pose publish rates to main's values
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
Due: none

test(hangar_sim): settle 1.5s before surface point-cloud capture
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/objectives/plan_path_along_surface.xml
  src/hangar_sim/objectives/plan_path_along_surface_3_passes.xml
Due: check-objective-favorites

test(hangar_sim): widen surface crop box to 200m to split empty-vs-misplaced cloud
  src/hangar_sim/objectives/plan_path_along_surface.xml
  src/hangar_sim/objectives/plan_path_along_surface_3_passes.xml
Due: check-objective-favorites

feat(vla_sim): collect demonstrations with the scripted oracle
  docker-compose.yaml
  src/vla_sim/CMakeLists.txt
  src/vla_sim/README.md
  src/vla_sim/config/config.yaml
  src/vla_sim/launch/simulated_extras.launch.py
  src/vla_sim/objectives/collect_cube_stack_demo.xml
  src/vla_sim/objectives/command_cube_stack_gripper.xml
  src/vla_sim/objectives/execute_cube_stack_oracle.xml
  src/vla_sim/objectives/move_along_cube_stack_keyposes.xml
  src/vla_sim/objectives/prepare_cube_stack_scene.xml
  src/vla_sim/objectives/record_cube_stack_blue_on_green.xml
  src/vla_sim/objectives/record_cube_stack_blue_on_red.xml
  src/vla_sim/objectives/record_cube_stack_episode.xml
  src/vla_sim/objectives/record_cube_stack_green_on_blue.xml
  src/vla_sim/objectives/record_cube_stack_green_on_red.xml
  src/vla_sim/objectives/record_cube_stack_red_on_blue.xml
  src/vla_sim/objectives/record_cube_stack_red_on_green.xml
  src/vla_sim/objectives/run_cube_stack_oracle.xml
  src/vla_sim/package.xml
  src/vla_sim/script/joint_command_bridge.py
  src/vla_sim/test/test_joint_command_bridge.py
  src/vla_sim_behaviors/CMakeLists.txt
  src/vla_sim_behaviors/include/vla_sim_behaviors/compute_top_down_keyposes.hpp
  src/vla_sim_behaviors/include/vla_sim_behaviors/plan_joint_spline_through_poses.hpp
  src/vla_sim_behaviors/include/vla_sim_behaviors/send_gripper_command.hpp
  src/vla_sim_behaviors/include/vla_sim_behaviors/wait_for_episode_start.hpp
  src/vla_sim_behaviors/package.xml
  src/vla_sim_behaviors/src/compute_top_down_keyposes.cpp
  src/vla_sim_behaviors/src/plan_joint_spline_through_poses.cpp
  src/vla_sim_behaviors/src/register_behaviors.cpp
  src/vla_sim_behaviors/src/send_gripper_command.cpp
  src/vla_sim_behaviors/src/wait_for_episode_start.cpp
  src/vla_sim_behaviors/test/CMakeLists.txt
  src/vla_sim_behaviors/test/test_behavior_plugins.cpp
  src/vla_sim_behaviors/test/test_compute_top_down_keyposes.cpp
  src/vla_sim_behaviors/test/test_plan_joint_spline_through_poses.cpp
  src/vla_sim_behaviors/test/test_send_gripper_command.cpp
  src/vla_sim_behaviors/test/test_wait_for_episode_start.cpp
  src/vla_sim_behaviors/vla_sim_behaviors_plugin_description.xml
Due: check-objective-favorites, check-mujoco-viewer

deploy: cdb3d102d732a17e2262d3a0f0b957a0685f9ea8
  pr-830/run-31616299739/hangar_sim/jazzy/report.html
  pr-830/run-31616299739/lab_sim/jazzy/report.html
Due: none

deploy: 743a5a2b82ec3e4d591a9efd82164f73f2691d0b
  pr-830/run-31616386507/hangar_sim/jazzy/report.html
  pr-830/run-31616386507/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): enable MPPI open_loop to restore nav speed
  src/hangar_sim/params/nav2_params.yaml
Due: none

test(hangar_sim): settle AFTER transform, BEFORE crop
  src/hangar_sim/objectives/plan_path_along_surface.xml
  src/hangar_sim/objectives/plan_path_along_surface_3_passes.xml
Due: check-objective-favorites

test(hangar_sim): capture the pre-crop cloud from a failing CI run
  src/hangar_sim/objectives/plan_path_along_surface.xml
  src/hangar_sim/objectives/plan_path_along_surface_3_passes.xml
Due: check-objective-favorites

test(hangar_sim): also capture the raw camera-frame cloud in CI
  src/hangar_sim/objectives/plan_path_along_surface.xml
Due: check-objective-favorites

test(hangar_sim): capture camera pose before AND after the move
  src/hangar_sim/objectives/plan_path_along_surface.xml
Due: check-objective-favorites

fix(vla_sim): add Close/Open Gripper Objective overrides
  src/vla_sim/objectives/close_gripper.xml
  src/vla_sim/objectives/open_gripper.xml
Due: check-objective-favorites

docs(claude): note the close/open gripper Objective override gotcha
  CLAUDE.md
Due: none

deploy: 45342a5d1f779585dbdb26cd44647cc34b8b7df1
  pr-841/run-31647226826/hangar_sim/jazzy/report.html
  pr-841/run-31647226826/lab_sim/jazzy/report.html
Due: none

deploy: 427941d7fdf9fe6bbaf620cb0d61f79373b26e32
  pr-841/run-31647276964/hangar_sim/jazzy/report.html
  pr-841/run-31647276964/lab_sim/jazzy/report.html
Due: none

test(hangar_sim): reject partial joint goals to expose arm-only moves
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
Due: none

deploy: 7bfb365d307042e799e4c4f811b7cfa4cf34652a
  pr-842/run-31660991372/hangar_sim/jazzy/report.html
  pr-842/run-31660991372/lab_sim/jazzy/report.html
Due: none

deploy: 518211da006e80f88876600f8637c27556c8a199
  pr-790/run-31710883793/hangar_sim/jazzy/report.html
  pr-790/run-31710883793/lab_sim/jazzy/report.html
Due: none

fix(compose): remove the web_ui service dropped in 10.0
  docker-compose.yaml
Due: none

fix(compose): remove web_ui service that no longer exists in v10
  docker-compose.yaml
Due: none

deploy: f7923ef65864c79a86c817223655085218a42ada
  pr-844/run-31723089265/hangar_sim/jazzy/report.html
  pr-844/run-31723089265/lab_sim/jazzy/report.html
Due: none

deploy: 1e953c80e802ed35a2bc052e672dbf2cfb7bf17f
  pr-845/run-31723612779/hangar_sim/jazzy/report.html
  pr-845/run-31723612779/lab_sim/jazzy/report.html
Due: none

fix(vla_sim): declare runtime_launch_file in config.yaml
  src/vla_sim/config/config.yaml
Due: check-mujoco-viewer

deploy: b911b6b3f308fcd0b31447f656184f6e4192ccfa
  pr-846/run-31734667968/hangar_sim/jazzy/report.html
  pr-846/run-31734667968/lab_sim/jazzy/report.html
Due: none

feat(lab_sim): add Collect Training Data with Behaviors Objective
  src/lab_sim/objectives/collect_training_data_with_behaviors.xml
  src/lab_sim/objectives/pick_from_pose.xml
Due: check-objective-favorites

deploy: 1cd9bf672be1ecdb61d3dbd1d5fae2989e9da025
  pr-849/run-31791712564/hangar_sim/jazzy/report.html
  pr-849/run-31791712564/lab_sim/jazzy/report.html
Due: none

test(lab_sim): skip Collect Training Data with Behaviors in CI
  src/lab_sim/test/objectives_integration_test.py
Due: none

deploy: de6ed56b23942d54893126ee9cacd7b42393f13e
  pr-849/run-31810037269/hangar_sim/jazzy/report.html
  pr-849/run-31810037269/lab_sim/jazzy/report.html
Due: none

Fix Batch Merge Release Branch
  .github/workflows/batch-merge-release-branch.yaml
Due: none

deploy: 3e2db31f56c23af351e1262746ed423f15d17744
  pr-850/run-31836989221/hangar_sim/jazzy/report.html
  pr-850/run-31836989221/lab_sim/jazzy/report.html
Due: none

feat(vla_sim): add portable GPU inference image
  docker-compose.yaml
  src/vla_sim/README.md
  src/vla_sim/docker/Dockerfile.vla_inference_server
  src/vla_sim/docker/README.md
  src/vla_sim/docker/benchmark_vla_inference.py
  src/vla_sim/docker/test_benchmark_vla_inference.py
  src/vla_sim/docker/test_vla_inference_server.py
  src/vla_sim/docker/vla_inference_server.py
Due: none

fix: harden live SO-101 bringup
  docs/so101/README.md
  docs/so101/ROS2_ZENOH_ARCHITECTURE.md
  scripts/cyclonedds-local.xml
  scripts/run-so101.bash
  src/so101_moveit_config/config/control/so101.ros2_control.yaml
  src/so101_moveit_hardware_config/CMakeLists.txt
  src/so101_moveit_hardware_config/config/config.yaml
  src/so101_moveit_hardware_config/launch/external_driver_watchdog.launch.py
  src/so101_moveit_hardware_config/package.xml
  src/so101_moveit_hardware_config/scripts/external_driver_contract.py
  src/so101_moveit_hardware_config/scripts/external_driver_watchdog.py
  src/so101_moveit_hardware_config/test/test_external_driver_contract.py
Due: check-objective-favorites, check-mujoco-viewer

fix: route SO-101 teleoperation through JTC
  docs/so101/README.md
  docs/so101/ROS2_ZENOH_ARCHITECTURE.md
  src/so101_moveit_hardware_config/CMakeLists.txt
  src/so101_moveit_hardware_config/objectives/request_teleoperation.xml
  src/so101_moveit_hardware_config/test/test_teleoperation_contract.py
Due: check-objective-favorites

fix: keep live SO-101 in commissioned poses
  docs/so101/README.md
  src/so101_moveit_config/config/control/so101.ros2_control.yaml
  src/so101_moveit_hardware_config/CMakeLists.txt
  src/so101_moveit_hardware_config/config/config.yaml
  src/so101_moveit_hardware_config/config/moveit/joint_limits.yaml
  src/so101_moveit_hardware_config/objectives/move_live_so101_to_waypoint.xml
  src/so101_moveit_hardware_config/objectives/request_teleoperation.xml
  src/so101_moveit_hardware_config/package.xml
  src/so101_moveit_hardware_config/test/test_hardware_motion_contract.py
  src/so101_moveit_hardware_config/test/test_teleoperation_contract.py
  src/so101_moveit_hardware_config/waypoints/so101_hardware_waypoints.yaml
Due: check-objective-favorites, check-mujoco-viewer

fix(lab_sim): pass a Vector3 offset to CreatePoseStamped in AddBottlesToPlanningScene
  src/lab_sim/objectives/addbottlestoplanningscene.xml
  src/lab_sim/objectives/addcollisionboxinfrontofendeffector.xml
Due: check-objective-favorites
