Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

deploy: 2c974c8b9456506c5dd248dddcbd97b8b8f35c46
  pr-901/run-33912248619/hangar_sim/jazzy/report.html
  pr-901/run-33912248619/lab_sim/jazzy/report.html
Due: none

deploy: e024c65a5dc54cc5d00d6a0b8b046c5183642b32
  pr-902/run-33912257640/hangar_sim/jazzy/report.html
  pr-902/run-33912257640/lab_sim/jazzy/report.html
Due: none

deploy: aa7a79d222471c64e5a59110bdb598e8d247620b
  pr-903/run-33912265613/hangar_sim/jazzy/report.html
  pr-903/run-33912265613/lab_sim/jazzy/report.html
Due: none

feat(deps): add a script to refresh a vendored dependency
  README.md
  bin/tests/test_vendored_dependency.py
  bin/vendored_dependency.py
Due: none

deploy: a0096f489e385174c029b61ee454678d7ece9461
  pr-902/run-33914467267/hangar_sim/jazzy/report.html
  pr-902/run-33914467267/lab_sim/jazzy/report.html
Due: none

feat(lunar_sim): run the Husky A300 under MuJoCo on a flat regolith plane
  CLAUDE.md
  src/lunar_sim/CMakeLists.txt
  src/lunar_sim/README.md
  src/lunar_sim/config/config.yaml
  src/lunar_sim/config/control/husky_a300.ros2_control.yaml
  src/lunar_sim/description/assets/chassis_collision.stl
  src/lunar_sim/description/assets/outdoor_left.stl
  src/lunar_sim/description/assets/outdoor_right.stl
  src/lunar_sim/description/front_left_wheel_link.xml
  src/lunar_sim/description/front_right_wheel_link.xml
  src/lunar_sim/description/husky_a300.xml
  src/lunar_sim/description/husky_a300_mujoco.xacro
  src/lunar_sim/description/husky_scene.xml
  src/lunar_sim/description/rear_left_wheel_link.xml
  src/lunar_sim/description/rear_right_wheel_link.xml
  src/lunar_sim/package.xml
  src/lunar_sim/test/test_husky_mujoco_geometry.py
Due: check-objective-favorites, check-mujoco-viewer

style(lunar_sim): apply black/prettier formatting to new MuJoCo files
  src/lunar_sim/description/husky_scene.xml
  src/lunar_sim/test/test_husky_mujoco_geometry.py
Due: check-objective-favorites

fix(lunar_sim): real A300 visual meshes and clean regolith shadows
  CLAUDE.md
  src/lunar_sim/description/assets/bumper.obj
  src/lunar_sim/description/assets/chassis.obj
  src/lunar_sim/description/assets/livery.obj
  src/lunar_sim/description/assets/observer_access_panels.stl
  src/lunar_sim/description/assets/observer_arch.stl
  src/lunar_sim/description/assets/observer_enclosure.stl
  src/lunar_sim/description/assets/status_lights.obj
  src/lunar_sim/description/husky_a300.xml
  src/lunar_sim/description/husky_scene.xml
Due: check-objective-favorites

style(lunar_sim): wrap long mesh tags for prettier
  src/lunar_sim/description/husky_a300.xml
Due: check-objective-favorites

fix(lunar_sim): matte regolith ground (kill the mirror shine)
  src/lunar_sim/description/husky_scene.xml
Due: check-objective-favorites

fix(lunar_sim): restore the regolith shadow, tuned instead of disabled
  CLAUDE.md
  src/lunar_sim/description/husky_scene.xml
Due: check-objective-favorites

fix(lunar_sim): photoreal regolith texture + review-pass fixes
  src/lunar_sim/README.md
  src/lunar_sim/config/config.yaml
  src/lunar_sim/description/assets/lunar_regolith_moon01_2k.png
  src/lunar_sim/description/front_right_wheel_link.xml
  src/lunar_sim/description/husky_a300.xml
  src/lunar_sim/description/husky_scene.xml
  src/lunar_sim/description/rear_right_wheel_link.xml
Due: check-objective-favorites, check-mujoco-viewer

docs(claude-md): note MuJoCo's PNG-only texture loader and image-asset LFS convention
  CLAUDE.md
Due: none

fix(lunar_sim): correct texrepeat scale, neutral-grey regolith, swap in detailed texture
  CLAUDE.md
  src/lunar_sim/README.md
  src/lunar_sim/description/assets/lunar_regolith_ground031_2k.png
  src/lunar_sim/description/assets/lunar_regolith_moon01_2k.png
  src/lunar_sim/description/husky_scene.xml
Due: check-objective-favorites

fix(lunar_sim): fix codespell trip on "regraded"
  src/lunar_sim/README.md
  src/lunar_sim/description/husky_scene.xml
Due: check-objective-favorites

fix(lunar_sim): replace ground texture with a real NASA Apollo photo
  CLAUDE.md
  src/lunar_sim/README.md
  src/lunar_sim/description/assets/lunar_regolith_as15-86-11671_2k.png
  src/lunar_sim/description/assets/lunar_regolith_ground031_2k.png
  src/lunar_sim/description/husky_scene.xml
Due: check-objective-favorites

feat(lunar_sim): run the Husky A300 under MuJoCo on an Apollo-photo regolith plane
  CLAUDE.md
  src/lunar_sim/CMakeLists.txt
  src/lunar_sim/README.md
  src/lunar_sim/config/config.yaml
  src/lunar_sim/config/control/husky_a300.ros2_control.yaml
  src/lunar_sim/description/assets/bumper.obj
  src/lunar_sim/description/assets/chassis.obj
  src/lunar_sim/description/assets/chassis_collision.stl
  src/lunar_sim/description/assets/livery.obj
  src/lunar_sim/description/assets/lunar_regolith_as15-86-11671_2k.png
  src/lunar_sim/description/assets/observer_access_panels.stl
  src/lunar_sim/description/assets/observer_arch.stl
  src/lunar_sim/description/assets/observer_enclosure.stl
  src/lunar_sim/description/assets/outdoor_left.stl
  src/lunar_sim/description/assets/outdoor_right.stl
  src/lunar_sim/description/assets/status_lights.obj
  src/lunar_sim/description/front_left_wheel_link.xml
  src/lunar_sim/description/front_right_wheel_link.xml
  src/lunar_sim/description/husky_a300.xml
  src/lunar_sim/description/husky_a300_mujoco.xacro
  src/lunar_sim/description/husky_scene.xml
  src/lunar_sim/description/rear_left_wheel_link.xml
  src/lunar_sim/description/rear_right_wheel_link.xml
  src/lunar_sim/package.xml
  src/lunar_sim/test/test_husky_mujoco_geometry.py
Due: check-objective-favorites, check-mujoco-viewer

deploy: 5dda9a3f3e9e8f3d74232914c12844882bdc95ef
  pr-869/run-34004696796/hangar_sim/jazzy/report.html
  pr-869/run-34004696796/lab_sim/jazzy/report.html
Due: none

fix(lunar_sim): calibrate skid-steer turning against MuJoCo ground truth
  CLAUDE.md
  src/lunar_sim/README.md
  src/lunar_sim/config/control/husky_a300.ros2_control.yaml
Due: none

deploy: e9c6df5e574d2d23936f26886b5e972cb9b247bb
  pr-869/run-34011826746/hangar_sim/jazzy/report.html
  pr-869/run-34011826746/lab_sim/jazzy/report.html
Due: none

test: skip the hand-eye calibration Objectives in the config integration tests
  src/april_tag_sim/test/objectives_integration_test.py
  src/dual_arm_sim/test/objectives_integration_test.py
  src/factory_sim/test/objectives_integration_test.py
  src/grinding_sim/test/objectives_integration_test.py
  src/hangar_sim/test/objectives_integration_test.py
  src/kitchen_sim/test/objectives_integration_test.py
  src/lab_sim/test/objectives_integration_test.py
Due: none

deploy: 7eecf90919a162d59545bbe6e3293fee6649d06f
  pr-906/run-34132724953/hangar_sim/jazzy/report.html
  pr-906/run-34132724953/lab_sim/jazzy/report.html
Due: none

deploy: d5f3d858dd1dcb074f6598120a15a7cfd1153ef3
  pr-907/run-34140657284/hangar_sim/jazzy/report.html
  pr-907/run-34140657284/lab_sim/jazzy/report.html
Due: none

deploy: 72da2a76562afa205b36b8816e1fc950c84c8bc8
  pr-907/run-34141173032/hangar_sim/jazzy/report.html
  pr-907/run-34141173032/lab_sim/jazzy/report.html
Due: none

deploy: 0bfcfc58970f9ce2c8ebd7fbd383eb172366c4c7
  pr-869/run-34149703668/hangar_sim/jazzy/report.html
  pr-869/run-34149703668/lab_sim/jazzy/report.html
Due: none

deploy: ff972be5ac9417cfe105cb83f3ce22d7e429b76d
  pr-869/run-34179310986/hangar_sim/jazzy/report.html
  pr-869/run-34179310986/lab_sim/jazzy/report.html
Due: none

deploy: 88850da1eeb9590d21ebc5c741e8232706bc3230
  pr-869/run-34183589073/hangar_sim/jazzy/report.html
  pr-869/run-34183589073/lab_sim/jazzy/report.html
Due: none

deploy: 1d5abeb55c7b0fd6fbf091ca9856adda073c2d97
  pr-900/run-34234120646/hangar_sim/jazzy/report.html
  pr-900/run-34234120646/lab_sim/jazzy/report.html
Due: none

feat: add surface coverage demo objectives
  src/grinding_sim/objectives/cylinder_outline_poses.yaml
  src/grinding_sim/objectives/grind_and_record_coverage.xml
  src/grinding_sim/test/objectives_integration_test.py
  src/lab_sim/objectives/live_surface_coverage_demo.xml
  src/lab_sim/objectives/record_surface_coverage_demo.xml
  src/lab_sim/objectives/select_region_and_record_coverage.xml
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

deploy: 3c7d4dbdca0b9c785c699e0e4296554f3c689304
  pr-900/run-34237266542/hangar_sim/jazzy/report.html
  pr-900/run-34237266542/lab_sim/jazzy/report.html
Due: none

deploy: 733928dd23ec39502e4e6f7ac741495ce19ab294
  pr-869/run-34240494319/hangar_sim/jazzy/report.html
  pr-869/run-34240494319/lab_sim/jazzy/report.html
Due: none

deploy: 8a9ee72c07fd10c6ac8e82caaaafc2b73e28b732
  pr-869/run-34243074478/hangar_sim/jazzy/report.html
  pr-869/run-34243074478/lab_sim/jazzy/report.html
Due: none

feat(hand_eye_calibration_sim): add Move to Home Objective
  src/hand_eye_calibration_sim/objectives/move_to_home.xml
Due: check-objective-favorites

deploy: bbd3ea99ad9a64a6c2c454b88600a3220353ea7a
  pr-908/run-34245754133/hangar_sim/jazzy/report.html
  pr-908/run-34245754133/lab_sim/jazzy/report.html
Due: none

deploy: 62c317a5fbfbd3c73171a6c3fb85d85273a1ffd8
  pr-869/run-34270814602/hangar_sim/jazzy/report.html
  pr-869/run-34270814602/lab_sim/jazzy/report.html
Due: none

fix(kinova_sim): prepare admittance path starting posture
  src/moveit_pro_kinova_configs/kinova_sim/objectives/move_along_path_admittance.xml
Due: check-objective-favorites

deploy: 1914c8e6144412dfad5b7d2811afd92ba0b3e065
  pr-910/run-34281473084/hangar_sim/jazzy/report.html
  pr-910/run-34281473084/lab_sim/jazzy/report.html
Due: none

deploy: c83b04c960118345d9537d68fa3d29bd9d2de266
  pr-869/run-34288843144/lab_sim/jazzy/report.html
Due: none

deploy: c83b04c960118345d9537d68fa3d29bd9d2de266
  pr-869/run-34288843144/hangar_sim/jazzy/report.html
Due: none

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
