Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

fix(kinova_vla_test_sim): fork local SRDF to drop dangling camera/gripper warnings, fix serve_policy docs
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/config/moveit/picknik_kinova_gen3.srdf
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/picknik_kinova_gen3.xacro
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/README.md
Due: check-mujoco-viewer

fix(hangar_sim): reduce fuse lag_duration to 0.3 to cut localization latency
  src/hangar_sim/config/fuse/fuse.yaml
Due: none

fix(hangar_sim): zero the vacuum grasp ee_to_tcp offset so the cups reach the box
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

fix(hangar_sim): allow nonzero terminal velocity in JTC pending moveit_pro#20766
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/test/objectives_integration_test.py
Due: none

deploy: 81a0ac88449636d136db65f44961ef03df1c2ed1
  pr-790/run-30106127756/hangar_sim/jazzy/report.html
Due: none

deploy: 7681d4a3eca0f135580e3b76d1909633d35c4fce
  pr-790/run-30106296202/hangar_sim/jazzy/report.html
  pr-790/run-30106296202/lab_sim/jazzy/report.html
Due: none

deploy: ec47bf03de08a08e2360c7fd57d8fb3c94ad908e
  pr-807/run-30107204853/hangar_sim/jazzy/report.html
  pr-807/run-30107204853/lab_sim/jazzy/report.html
Due: none

deploy: 279eb3583fe89b36f4b404965e29030e9dcdd0f1
  pr-808/run-30107207557/hangar_sim/jazzy/report.html
  pr-808/run-30107207557/lab_sim/jazzy/report.html
Due: none

deploy: d3cc2854bd88371898d2a6bacf5b97217473f17f
  pr-790/run-30110596509/hangar_sim/jazzy/report.html
  pr-790/run-30110596509/lab_sim/jazzy/report.html
Due: none

deploy: 6bc538051a76f38b3a91b38afdd709d2e0b2bd9a
  pr-809/run-30125837299/lab_sim/jazzy/report.html
Due: none

deploy: 6bc538051a76f38b3a91b38afdd709d2e0b2bd9a
  pr-809/run-30125837299/hangar_sim/jazzy/report.html
Due: none

deploy: 18c0d32de87dd97865b75d50ca130108abf041f8
  pr-809/run-30130788350/hangar_sim/jazzy/report.html
  pr-809/run-30130788350/lab_sim/jazzy/report.html
Due: none

deploy: 18c0d32de87dd97865b75d50ca130108abf041f8
  pr-809/run-30130788350/hangar_sim/jazzy/report.html
Due: none

deploy: 1ce652b098467762e2ca9c56aaf6b357c3b7a6cb
  pr-809/run-30133825041/hangar_sim/jazzy/report.html
  pr-809/run-30133825041/lab_sim/jazzy/report.html
Due: none

deploy: 09743e38f1ba75fffcd73e57c33bce66d0ffd949
  pr-809/run-30140888505/hangar_sim/jazzy/report.html
  pr-809/run-30140888505/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): migrate nav2 config to Jazzy and isolate localization
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/test/objectives_integration_test.py
Due: none

deploy: a26b5fd0f23d504ef29a0635d999b8a6d94c95fb
  pr-809/run-30141887219/hangar_sim/jazzy/report.html
  pr-809/run-30141887219/lab_sim/jazzy/report.html
Due: none

feat(lab_sim): add Python Behavior examples and demo Objective
  .gitignore
  src/lab_sim/config/config.yaml
  src/lab_sim/objectives/python_behavior_demo.xml
  src/lab_sim/python_behaviors/_behavior_math.py
  src/lab_sim/python_behaviors/example_python_behaviors.py
  src/lab_sim/python_behaviors/example_ros_sdk_behavior.py
Due: check-objective-favorites, check-mujoco-viewer

deploy: cfd7d660323c12a1d422a96b4d86654ad9af2189
  pr-790/run-30168627144/hangar_sim/jazzy/report.html
  pr-790/run-30168627144/lab_sim/jazzy/report.html
Due: none

deploy: 66cdaf3036663a75ba8573c6853a2f27988057b4
  pr-800/run-30186489994/hangar_sim/jazzy/report.html
  pr-800/run-30186489994/lab_sim/jazzy/report.html
Due: none

fix(sim): migrate suction margin/gap for MuJoCo 3.9 contact semantics
  src/factory_sim/description/inspection_tool.xml
  src/factory_sim/description/suction_tool.xml
  src/hangar_sim/description/vacuum.xml
  src/picknik_accessories/mujoco_assets/lrmate200id/lrmate200id.xml
Due: check-objective-favorites

feat(kinova_vla_test_sim): serve VLA policies over docker with auto-launched bridge
  .gitignore
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/config/moveit/joint_limits.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/Dockerfile.serve_policy
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/README.md
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/docker-compose.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/serve_policy.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/test_serve_policy.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/launch/simulated_extras.launch.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/execute_color_stack_policy.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/package.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/script/get_action_chunk_adapter.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/test/test_get_action_chunk_adapter.py
Due: check-objective-favorites, check-mujoco-viewer

fix(kinova_vla_test_sim): convex-decompose bracelet mesh for MJWarp render
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_0.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_1.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_10.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_11.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_12.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_13.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_14.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_15.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_16.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_17.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_18.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_2.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_3.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_4.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_5.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_6.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_7.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_8.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/assets/kinova/bracelet_with_vision_link_convex/bracelet_convex_9.obj
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/gen3_7dof.xml
Due: check-objective-favorites

feat(kinova_vla_test_sim): add eval-layout keyframes and a reset objective
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/keyframes.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/reset_to_eval_layout.xml
Due: check-objective-favorites, check-mujoco-viewer

fix(kinova_vla_test_sim): home+open-gripper before rollout, standard RTC defaults, drop dead RealSense mesh
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/picknik_kinova_gen3.xacro
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/README.md
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/serve_policy.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/execute_color_stack_policy.xml
Due: check-objective-favorites

deploy: 1c7a9cbeb196f0c3740162b50c1b4b4129ec8e67
  pr-800/run-30206750060/hangar_sim/jazzy/report.html
  pr-800/run-30206750060/lab_sim/jazzy/report.html
Due: none

deploy: 0521b482ae6890196541eb107e8476777acc4b7e
  pr-800/run-30206569075/hangar_sim/jazzy/report.html
  pr-800/run-30206569075/lab_sim/jazzy/report.html
Due: none

deploy: c141f8a38f529c6b08279a4380cdd614688da7c7
  pr-811/run-30207578063/hangar_sim/jazzy/report.html
  pr-811/run-30207578063/lab_sim/jazzy/report.html
Due: none

refactor: rename cartesian_planning dependency to path_ik
  src/example_behaviors/CMakeLists.txt
  src/example_behaviors/include/example_behaviors/example_convert_mtc_solution_to_joint_trajectory.hpp
  src/example_behaviors/src/example_convert_mtc_solution_to_joint_trajectory.cpp
Due: none

deploy: a8928a0b5aec1697546d9ee1bfa2b86f064ce223
  pr-813/run-30271107066/hangar_sim/jazzy/report.html
  pr-813/run-30271107066/lab_sim/jazzy/report.html
Due: none

deploy: 4d59dc28b671d1ed7b40d8d30f8675b457f509bb
  pr-790/run-30282054476/hangar_sim/jazzy/report.html
  pr-790/run-30282054476/lab_sim/jazzy/report.html
Due: none

fix(kinova_vla_test_sim): set impratio=20 so a pinched cube cannot slide
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/gen3_7dof.xml
Due: check-objective-favorites

feat(kinova_vla_test_sim): render all three cameras square (480x480)
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/gen3_7dof.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/scene.xml
Due: check-objective-favorites

deploy: 80c8ea21749586f417ee0f767ede5abcdf0d96b5
  pr-805/run-30303391786/hangar_sim/jazzy/report.html
  pr-805/run-30303391786/lab_sim/jazzy/report.html
Due: none

deploy: aa51d387b68a706faa622739bf46298fc7fd0394
  pr-815/run-30371573899/hangar_sim/jazzy/report.html
  pr-815/run-30371573899/lab_sim/jazzy/report.html
Due: none

deploy: f3707ddc3bc15b20316ed4eeec13c3b0e92727a7
  pr-815/run-30370954988/hangar_sim/jazzy/report.html
  pr-815/run-30370954988/lab_sim/jazzy/report.html
Due: none

deploy: e68a586591fa0a84265f84909540351fa564af2c
  pr-815/run-30371646826/hangar_sim/jazzy/report.html
  pr-815/run-30371646826/lab_sim/jazzy/report.html
Due: none

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
