Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

feat(space_satellite_sim_camera_cal): use CalibrateCameraPosePnp for scene camera cal
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/space_satellite_sim.xacro
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/objectives/camera_pose_from_cal_tool_-_detect_tags.xml
Due: check-objective-favorites

fix(space_satellite_sim_camera_cal): correct calibration tag frames for PnP
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/space_satellite_sim.xacro
Due: none

feat(space_satellite_sim_camera_cal): add wrist-camera (eye-in-hand) PnP calibration
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/assets/tag36_11_00003.png
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/assets/tag36_11_00004.png
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/assets/tag36_11_00005.png
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/gen3_7dof_assets.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/space_satellite_sim.xacro
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/objectives/calibrate_camera_-_detect_tags.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/objectives/calibrate_camera_at_waypoint_-_detect.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/objectives/calibrate_wrist_camera.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/objectives/camera_pose_from_cal_tool_-_detect_tags.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/waypoints/waypoints.yaml
Due: check-objective-favorites

deploy: 1d290a7f51891b1aa9aa614e823300815222f318
  pr-756/run-28965691116/hangar_sim/jazzy/report.html
  pr-756/run-28965691116/lab_sim/jazzy/report.html
Due: none

refactor(space_satellite_sim_camera_cal): flat front-face wrist-cal tags + diverse waypoints
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/space_satellite_sim.xacro
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/waypoints/waypoints.yaml
Due: check-objective-favorites

feat: add libtorch SAM3 PoC objective and TorchScript model reference
  src/lab_sim/objectives/ml_segment_bottles_from_file_torch.xml
Due: check-objective-favorites

remove unused controller_names and trajectory_monitoring ports
  src/dual_arm_sim/objectives/sort_blocks.xml
  src/factory_sim/objectives/drop_bracket_part_in_right_bin_subtree.xml
  src/factory_sim/objectives/drop_bracket_part_on_jig_subtree.xml
  src/factory_sim/objectives/inspect_convex_bowl.xml
  src/factory_sim/objectives/pick_bracket_part_from_jig_subtree.xml
  src/factory_sim/objectives/pick_up_tool_from_holder.xml
  src/factory_sim/objectives/place_tool_in_tool_holder.xml
  src/factory_sim/objectives/plan_and_execute_with_orientation_samples.xml
  src/factory_sim/objectives/plan_and_execute_with_world_vertical_orientation.xml
  src/factory_sim/objectives/plan_path_along_surface.xml
  src/factory_sim/objectives/retract.xml
  src/factory_sim/objectives/vacuum_drop_bracket_part_subtree.xml
  src/factory_sim/objectives/vacuum_pick_bracket_part_subtree.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
  src/hangar_sim/objectives/move_to_a_stampedpose.xml
  src/hangar_sim/objectives/move_to_pose_no_preview.xml
  src/lab_sim/objectives/add_poses_to_mtc_task.xml
  src/lab_sim/objectives/constrained_pick_and_place_subtree.xml
  src/lab_sim/objectives/get_collision_free_grasp_subtree.xml
  src/lab_sim/objectives/grasp_planning.xml
  src/lab_sim/objectives/move_along_square.xml
  src/lab_sim/objectives/pick_from_pose.xml
  src/lab_sim/objectives/pick_from_pose_vector.xml
  src/lab_sim/objectives/pick_from_pose_with_approval.xml
  src/lab_sim/objectives/place_at_pose.xml
  src/lab_sim/objectives/place_at_pose_vector.xml
  src/lab_sim/objectives/place_at_pose_with_approval.xml
  src/lab_sim/objectives/plan_move_to_pose.xml
  src/lab_sim/objectives/stitch_multiple_point_clouds_together.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/compliant_grasp_rafti_vfc.xml
Due: check-objective-favorites

refactor(hangar_sim): drop dead MoveIt mecanum controller-handle shim
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/moveit_mecanum_drive_controller_plugins.xml
Due: check-objective-favorites

fix(hangar_sim): make robot_state_publisher sole owner of the ridgeback_base_link TF
  src/hangar_sim/config/config.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/description/ur5e_ridgeback.xacro
  src/hangar_sim/docs/NAV2_AND_WHOLE_BODY_PLANNING_ARCHITECTURE.md
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/test/objectives_integration_test.py
Due: check-mujoco-viewer

deploy: 925e27777084e78bd649a6cf7981234b900e2150
  pr-756/run-29098666618/hangar_sim/jazzy/report.html
Due: none

deploy: 914af7e8621d91992d30735bc0cb461568963724
  pr-773/run-29116101938/hangar_sim/jazzy/report.html
  pr-773/run-29116101938/lab_sim/jazzy/report.html
Due: none

deploy: 914af7e8621d91992d30735bc0cb461568963724
  pr-773/run-29116101938/hangar_sim/jazzy/report.html
Due: none

deploy: 675ba53e4e1ac7613d3f636e5d1f150d7ceb0fd2
  pr-772/run-29240566191/hangar_sim/jazzy/report.html
Due: none

deploy: 2523332a09a239a4a1bda7d1441c59a57cb364d0
  pr-772/run-29261449328/hangar_sim/jazzy/report.html
Due: none

test(hangar_sim): instrument Plan Path Along Surface hang for diagnosis
  .github/workflows/ci.yaml
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/test/conftest.py
Due: none

deploy: 0182c1f0cd4811862037068dd55665245f3fa64e
  pr-774/run-29280758501/hangar_sim/jazzy/report.html
Due: none

fix(hangar_sim): validate surface path against the aircraft and abort stuck goals
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/moveit/picknik_ur.srdf
  src/hangar_sim/objectives/plan_path_along_surface.xml
Due: check-objective-favorites

slightly decrease path length in Plan Path Along Surface
  src/hangar_sim/objectives/plan_path_along_surface.xml
Due: check-objective-favorites

fix(lab_sim): reduce simulated point cloud load
  src/lab_sim/CMakeLists.txt
  src/lab_sim/description/picknik_ur.xacro
Due: none

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
