Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

feat(lab_sim): improve scene render quality
  src/lab_sim/description/picknik_ur.xacro
  src/lab_sim/description/scene.xml
  src/picknik_accessories/mujoco_assets/lab_desk/desk_globals.xml
  src/picknik_accessories/mujoco_assets/ur5e/ur5e_linear_rail.xml
  src/picknik_accessories/mujoco_assets/ur5e/ur5e_linear_rail_globals.xml
Due: check-objective-favorites

WIP: pi0 streaming-policy demo harness for kinova_sim (do not merge)
  src/moveit_pro_kinova_configs/kinova_sim/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/pi0_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/launch/sim_pi0_bridge.launch.py
  src/moveit_pro_kinova_configs/kinova_sim/objectives/run_pi0_policy.xml
  src/moveit_pro_kinova_configs/kinova_sim/scripts/pi0_bridge_topic.py
  src/moveit_pro_kinova_configs/kinova_sim/scripts/pi0_diag.py
  src/moveit_pro_kinova_configs/kinova_sim/waypoints/waypoints.yaml
  src/pi0_behaviors/CMakeLists.txt
  src/pi0_behaviors/include/pi0_behaviors/get_pi0_trajectory.hpp
  src/pi0_behaviors/package.xml
  src/pi0_behaviors/pi0_behaviors_plugin_description.xml
  src/pi0_behaviors/src/get_pi0_trajectory.cpp
  src/pi0_behaviors/src/register_behaviors.cpp
Due: check-objective-favorites, check-mujoco-viewer

chore(sim): standardize MuJoCo timestep to 0.003 s across robot configs
  CLAUDE.md
  src/april_tag_sim/description/scene.xml
  src/dual_arm_sim/description/mujoco/franka3.xml
  src/factory_sim/description/scene.xml
  src/grinding_sim/description/scene.xml
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/kitchen_sim/description/mujoco/franka3.xml
  src/lab_sim/description/scene.xml
  src/lab_sim/description/simple_scene.xml
  src/lab_sim/test/objectives_integration_test.py
  src/lunar_sim/mjcf/scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/landsat_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/rafti_fingers_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/scene.xml
Due: check-objective-favorites

ci: remove redundant mujoco_ci_timestep override
  .github/workflows/ci.yaml
Due: none

chore(hangar_sim): declare ridgeback_description and clearpath_mecanum_drive_controller deps
  src/hangar_sim/package.xml
Due: check-objective-favorites

fix: skip ewellix_examples to unblock Jazzy build
  colcon-defaults.yaml
Due: none

deploy: bee9816e64d257d4303047a2be1c73c6591f11ce
  pr-686/run-27153234353/humble/report.html
Due: none

refactor: migrate Objectives off deprecated collision Behaviors
  src/factory_sim/objectives/automated_return_held_tool.xml
  src/factory_sim/objectives/automated_return_tool_subtree.xml
  src/factory_sim/objectives/automated_tool_changing_example_subtree.xml
  src/factory_sim/objectives/drop_bracket_part_in_right_bin_subtree.xml
  src/factory_sim/objectives/pick_bracket_part_from_jig_subtree.xml
  src/factory_sim/objectives/pick_up_tool_from_holder.xml
  src/factory_sim/objectives/place_tool_in_tool_holder.xml
  src/factory_sim/objectives/tool_attachment_example.xml
  src/factory_sim/objectives/vacuum_drop_bracket_part_subtree.xml
  src/factory_sim/objectives/vacuum_pick_bracket_part_subtree.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
  src/kitchen_sim/objectives/generate_graspable_object.xml
  src/lab_sim/objectives/add_table_to_planning_scene.xml
  src/lab_sim/objectives/addcollisionboxinfrontofendeffector.xml
  src/lab_sim/objectives/addcollisionobjecttoplanningscene.xml
  src/lab_sim/objectives/get_collision_free_grasp_subtree.xml
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/compliant_grasp_rafti_vfc.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/objectives/detect_fixed_handle_graspable_object.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/objectives/push_button.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/objectives/push_button_ml.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/objectives/retreat_to_initial_pose.xml
Due: check-objective-favorites

test(hangar_sim): add objectives integration test
  .github/workflows/ci.yaml
  CLAUDE.md
  src/april_tag_sim/description/scene.xml
  src/dual_arm_sim/description/mujoco/franka3.xml
  src/factory_sim/description/scene.xml
  src/grinding_sim/description/scene.xml
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/package.xml
  src/hangar_sim/test/capture_rosout.py
  src/hangar_sim/test/conftest.py
  src/hangar_sim/test/objectives_integration_test.py
  src/kitchen_sim/description/mujoco/franka3.xml
  src/lab_sim/description/scene.xml
  src/lab_sim/description/simple_scene.xml
  src/lab_sim/test/objectives_integration_test.py
  src/lunar_sim/mjcf/scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/landsat_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/rafti_fingers_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/scene.xml
Due: check-objective-favorites

deploy: e0209debbe42f943de92c3e1ab89eb34863ee3ca
  pr-694/run-27162590573/humble/report.html
Due: none

build(kinova): add websockets + msgpack to the rollout client image deps
  Dockerfile
Due: none

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
