Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

fix(hangar_sim): apply the MPPI open_loop fix on jazzy only
  Dockerfile
  src/hangar_sim/README.md
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/params/nav2_params_jazzy.yaml
  src/hangar_sim/test/nav2_params_distro_parity_test.py
Due: none

deploy: df2bafd6d50f6f5f66ad1a6d58639ca07bd30b21
  pr-890/run-33682756253/hangar_sim/jazzy/report.html
  pr-890/run-33682756253/lab_sim/jazzy/report.html
Due: none

deploy: 54f7edd6b2bea458f7c3c54e0c6d23b41bccb898
  pr-892/run-33781132208/hangar_sim/jazzy/report.html
  pr-892/run-33781132208/lab_sim/jazzy/report.html
Due: none

deploy: b3c5772bdc6b79595246966fa72d204b44ce6b9e
  pr-893/run-33786571589/lab_sim/jazzy/report.html
Due: none

deploy: cc76cc394322d98dc735ee2fe7940ef23203ad81
  pr-892/run-33786551294/hangar_sim/jazzy/report.html
  pr-892/run-33786551294/lab_sim/jazzy/report.html
Due: none

deploy: b899ab58334ead6b7ceeeed0cbb403b56f8b2c9c
  pr-894/run-33789990728/hangar_sim/jazzy/report.html
  pr-894/run-33789990728/lab_sim/jazzy/report.html
Due: none

deploy: 3b2382cc32ee1e136852f93a653c67789b4560f8
  pr-893/run-33790457918/hangar_sim/jazzy/report.html
  pr-893/run-33790457918/lab_sim/jazzy/report.html
Due: none

deploy: 39ea569bc67a61b0f069a8b4372f4de6cf4aa97e
  pr-894/run-33790800772/hangar_sim/jazzy/report.html
  pr-894/run-33790800772/lab_sim/jazzy/report.html
Due: none

deploy: fcfe5a5efa1e87a77db76bd1dcf68997e597835c
  pr-894/run-33792439692/hangar_sim/jazzy/report.html
  pr-894/run-33792439692/lab_sim/jazzy/report.html
Due: none

Port the image-based lidar to hangar_sim
  .gitignore
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/description/hangar.xml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/params/laser_filter_params.yaml
  src/hangar_sim/script/lidar_flattener.py
  src/hangar_sim/test/test_forward_stereo_calibration.py
  src/hangar_sim/test/test_lidar_flattener.py
Due: check-objective-favorites

fix(hangar_sim): reject non-box SAM3 detections by grasp height
  src/hangar_sim/objectives/ml_move_boxes_to_loading_zone.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

deploy: a78d9bf1b1fca6ec01227ce5ece1d0b9764f37eb
  pr-883/run-33795665500/hangar_sim/jazzy/report.html
  pr-883/run-33795665500/lab_sim/jazzy/report.html
Due: none

deploy: 5fca88b1feb24592520b34bfb259f0200ed74659
  pr-893/run-33794737918/hangar_sim/jazzy/report.html
  pr-893/run-33794737918/lab_sim/jazzy/report.html
Due: none

deploy: 96df51bafd89fddc3c999125b8a85ff584843d48
  pr-848/run-33800556921/hangar_sim/jazzy/report.html
  pr-848/run-33800556921/lab_sim/jazzy/report.html
Due: none

feat(lab_sim): add closed-loop AprilTag counterpart to 3-waypoint demo
  src/lab_sim/config/control/picknik_ur.ros2_control.yaml
  src/lab_sim/description/scene.xml
  src/lab_sim/objectives/3_waypoint_pick_and_place_apriltags.xml
  src/picknik_accessories/mujoco_assets/lab_desk/desk_globals.xml
Due: check-objective-favorites

test(lab_sim): mark the new AprilTag objective as cancel-not-wait in CI
  src/lab_sim/test/objectives_integration_test.py
Due: none

fix(deps): take the upstream fetch off the PR gate and harden the validator
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
  bin/tests/test_validate_workspace_dependencies.py
  bin/validate_workspace_dependencies.py
  src/external_dependencies/clearpath_mecanum_drive_controller/UPSTREAM.yaml
  src/external_dependencies/fanuc/UPSTREAM.yaml
  src/external_dependencies/franka_config/UPSTREAM.yaml
  src/external_dependencies/phoebe_ws/UPSTREAM.yaml
  src/external_dependencies/ridgeback/UPSTREAM.yaml
  src/external_dependencies/ros2_kortex/UPSTREAM.yaml
  src/external_dependencies/ros2_robotiq_gripper/UPSTREAM.yaml
  src/external_dependencies/ur_description/UPSTREAM.yaml
Due: check-mujoco-viewer

deploy: 6f262a8996e67401bbf9e52fcdc4462bebd06b34
  pr-892/run-33803042881/hangar_sim/jazzy/report.html
  pr-892/run-33803042881/lab_sim/jazzy/report.html
Due: none

fix(docker): install nav2_mppi_controller 1.3.13 from PickNik's release bucket
  Dockerfile
  docker/keys/ros-archive-keyring.asc
Due: none

deploy: 3b7bee96ad9e38e856136d011c5981159aa196aa
  pr-895/run-33805442475/hangar_sim/jazzy/report.html
  pr-895/run-33805442475/lab_sim/jazzy/report.html
Due: none

deploy: c43c40424d928ef66cb96712d9ee571436b4f0cb
  pr-895/run-33807495390/hangar_sim/jazzy/report.html
  pr-895/run-33807495390/lab_sim/jazzy/report.html
Due: none

BACKPORT-CONFLICT
  Dockerfile
Due: none

fix(docker): install nav2_mppi_controller 1.3.13 from PickNik's release bucket (Jazzy only)
  Dockerfile
  docker/keys/ros-archive-keyring.asc
Due: none

fix(docker): resolve backport conflict for the nav2_mppi_controller block
  Dockerfile
Due: none

deploy: 9b14c7109b13610d06d31e7c8a9871bee19cba3b
  pr-896/run-33809715572/hangar_sim/jazzy/report.html
  pr-896/run-33809715572/lab_sim/jazzy/report.html
Due: none

deploy: 331c7dc5c18531dbebef6af02d8cc95ae7fbaa75
  pr-897/run-33809896905/hangar_sim/jazzy/report.html
  pr-897/run-33809896905/lab_sim/jazzy/report.html
Due: none

no-mistakes(review): document footprint frame split, reword xacro provenance comments
  src/husky_a300_mock/README.md
  src/husky_a300_mock/description/husky_a300_blank_world.xacro
Due: none

no-mistakes(review): fix A300 mock SRDF collision matrix against measured geometry
  src/husky_a300_mock/config/moveit/husky_a300.srdf
Due: none

no-mistakes(document): fix stale UI reference frame claim in husky_a300_mock docs
  src/husky_a300_mock/README.md
  src/husky_a300_mock/description/husky_a300_blank_world.xacro
Due: none

no-mistakes(test): add in-workspace objectives dir so agent launch resolves
  src/husky_a300_mock/CMakeLists.txt
  src/husky_a300_mock/config/config.yaml
  src/husky_a300_mock/objectives/.gitkeep
Due: check-mujoco-viewer

fix(husky_a300_mock): correct ground-contact frame and lint test_depends
  src/husky_a300_mock/config/control/husky_a300.ros2_control.yaml
  src/husky_a300_mock/description/husky_a300_blank_world.xacro
  src/husky_a300_mock/package.xml
Due: check-objective-favorites

feat(husky_a300_mock): default 3D Visualizer to the odom frame
  src/husky_a300_mock/config/frontend_settings.yaml
Due: none

no-mistakes(review): register MTCCoreBehaviorsLoader in husky_a300_mock config
  src/husky_a300_mock/config/config.yaml
Due: check-mujoco-viewer

no-mistakes(document): fix prettier formatting in husky_a300_mock package.xml
  src/husky_a300_mock/package.xml
Due: check-objective-favorites

no-mistakes(review): fix A300 mock SRDF adjacency, decel limits, public comments
  src/husky_a300_mock/README.md
  src/husky_a300_mock/config/config.yaml
  src/husky_a300_mock/config/control/husky_a300.ros2_control.yaml
  src/husky_a300_mock/config/moveit/husky_a300.srdf
  src/husky_a300_mock/description/husky_a300_blank_world.xacro
Due: check-mujoco-viewer

feat(lunar_sim): replace Phoebe-based lunar_sim with Husky A300 mock config
  README.md
  src/external_dependencies/clearpath_platform_description/UPSTREAM.yaml
  src/external_dependencies/phoebe_ws/UPSTREAM.yaml
  src/husky_a300_mock/CMakeLists.txt
  src/husky_a300_mock/config/config.yaml
  src/husky_a300_mock/launch/runtime.launch.xml
  src/husky_a300_mock/package.xml
  src/lunar_sim/CMakeLists.txt
  src/lunar_sim/LICENSE
  src/lunar_sim/README.md
  src/lunar_sim/config/config.yaml
  src/lunar_sim/config/control/husky_a300.ros2_control.yaml
  src/lunar_sim/config/frontend_settings.yaml
  src/lunar_sim/config/moveit/husky_a300.srdf
  src/lunar_sim/config/moveit/joint_jog.yaml
  src/lunar_sim/config/moveit/kinematics.yaml
  src/lunar_sim/config/moveit/pose_jog.yaml
  src/lunar_sim/description/husky_a300_blank_world.xacro
  src/lunar_sim/mjcf/scene.xml
  src/lunar_sim/objectives/.gitkeep
  src/lunar_sim/package.xml
  src/lunar_sim/waypoints/waypoints.yaml
Due: check-objective-favorites, check-mujoco-viewer

deploy: 2ce0f603bc4ae87442d00fed1349b25c13f672a6
  pr-869/run-33820383498/hangar_sim/jazzy/report.html
  pr-869/run-33820383498/lab_sim/jazzy/report.html
Due: none

deploy: 0651b09622f7b91838ec6714b558c2ff845140d2
  pr-869/run-33821516867/hangar_sim/jazzy/report.html
  pr-869/run-33821516867/lab_sim/jazzy/report.html
Due: none

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
