Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

unfavorite kinova_sim Velocity Force Controller Zero, and zero fts
  src/moveit_pro_kinova_configs/kinova_sim/objectives/velocity_force_controller_zero.xml
Due: check-objective-favorites

Update PublishVelocityForceCommand to use unstamped twist/wrench
  src/lab_sim/objectives/constrained_pick_and_place_subtree.xml
  src/lab_sim/objectives/force_relaxation.xml
  src/lab_sim/objectives/move_with_velocity_and_force.xml
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/compliant_grasp_rafti_vfc.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/velocity_force_controller_zero.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/objectives/grapple_moving_satellite_via_fiducial_tracking.xml
Due: check-objective-favorites

fix: Update description for "3 Waypoints Pick and Place" Objective in lab_sim
  src/lab_sim/objectives/3_waypoint_pick_and_place.xml
Due: check-objective-favorites

fix(lab_sim): Remove warm-up velocity_force_controller block
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
Due: check-objective-favorites

fix(hangar_sim): Replace broken IK target in Solution - Move Forward 2m
  src/hangar_sim/objectives/solution_move_forward_2m.xml
Due: check-objective-favorites

Fix Tray Place Simple waypoint to be gripper-down
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: none

fix(space_satellite_sim): launch fuse and apriltag detectors in dev
  src/moveit_pro_kinova_configs/space_satellite_sim/config/config.yaml
  src/moveit_pro_kinova_configs/space_satellite_sim/launch/agent_bridge.launch.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/launch/simulated_extras.launch.xml
Due: check-objective-favorites, check-mujoco-viewer

chore(space_satellite_sim): clarify operator approval breakpoint message
  src/moveit_pro_kinova_configs/space_satellite_sim/objectives/grapple_moving_satellite_via_fiducial_tracking.xml
Due: check-objective-favorites

Update Kinova site config to accept non-embedded realsense wrist cam
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/description/kinova_gen3.xacro
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/agent_bridge.launch.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/cameras.launch.xml
Due: check-objective-favorites, check-mujoco-viewer

Fix Move Forward 2m Objective by moving to a good initial pose
  src/hangar_sim/objectives/solution_move_forward_2m.xml
Due: check-objective-favorites

fix(hangar_sim): ML Move Boxes to Loading Zone exits cleanly when scene drained
  src/hangar_sim/objectives/ml_move_boxes_to_loading_zone.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

fix(hangar_sim): correct follow-up issue reference in pick-loop comment
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

fix(dual_arm_sim): Reset the correct vector in Create Point Cloud Vector From Masks
  src/dual_arm_sim/objectives/create_point_cloud_vector_from_masks.xml
Due: check-objective-favorites

fix(hangar_sim): use SAM3 instead of CLIPSeg in ML Move Boxes Objective
  src/hangar_sim/objectives/ml_move_boxes_to_loading_zone.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

fix: Also Apply to Move Boxes Looping
  src/hangar_sim/objectives/move_boxes_looping.xml
Due: check-objective-favorites

Discard Yaw from Grasp Pose
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

chore: Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(space_satellite_sim): tweak operator-facing messages in grappling objective
  src/moveit_pro_kinova_configs/space_satellite_sim/objectives/grapple_moving_satellite_via_fiducial_tracking.xml
Due: check-objective-favorites

fix(hangar_sim): filter SAM3 mask false-positives by area in ML Move Boxes
  src/hangar_sim/objectives/ml_move_boxes_to_loading_zone.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

chore: remove picknik_accessories submodule
  .gitmodules
Due: none

chore(picknik_accessories): register inner fanuc sub-submodule
  .gitmodules
Due: none

ci: switch to GPU runner via moveit_pro_ci v0.3.1, surface per-objective test progress
  .github/workflows/ci.yaml
  src/lab_sim/test/conftest.py
Due: none

chore(sim): standardize MuJoCo camera resolution to 1280x720 across robot configs
  src/april_tag_sim/description/scene.xml
  src/dual_arm_sim/description/mujoco/scene.xml
  src/factory_sim/description/scene.xml
  src/grinding_sim/description/scene.xml
  src/kitchen_sim/description/mujoco/scene.xml
  src/lab_sim/description/scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/gen3_7dof.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/gen3_7dof_rafti_fingers.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/landsat_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/rafti_fingers_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/description/mujoco/gen3_7dof_body.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/description/mujoco/scene.xml
Due: check-objective-favorites

fix(picknik_accessories): apply pre-commit fixes and repair malformed XML
  src/picknik_accessories/README.md
  src/picknik_accessories/descriptions/brackets/ur_realsense_camera_adapter/picknik_ur5_realsense_camera_adapter_rev2.STL
  src/picknik_accessories/mujoco_assets/assets/LICENSE
  src/picknik_accessories/mujoco_assets/assets/lrmate200id/LICENSE
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/base/base.obj
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/base/base.xml
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/base/material.mtl
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/forearm/forearm.obj
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/forearm/forearm.xml
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/forearm/material.mtl
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/shoulder/material.mtl
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/shoulder/shoulder.obj
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/shoulder/shoulder.xml
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/upperarm/material.mtl
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/upperarm/upperarm.xml
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/upperarm/upperarm_0.obj
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/upperarm/upperarm_1.obj
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/wrist1/material.mtl
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/wrist1/wrist1.obj
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/wrist1/wrist1.xml
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/wrist2/material.mtl
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/wrist2/wrist2.obj
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/wrist2/wrist2.xml
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/wrist3/material.mtl
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/wrist3/wrist3.obj
  src/picknik_accessories/mujoco_assets/grinding_sim_assets/ur20/wrist3/wrist3.xml
  src/picknik_accessories/mujoco_assets/lab_desk/desk.xml
  src/picknik_accessories/mujoco_assets/lab_desk/desk_globals.xml
  src/picknik_accessories/mujoco_assets/lrmate200id/lrmate200id.xml
  src/picknik_accessories/mujoco_assets/lrmate200id/lrmate200id_globals.xml
  src/picknik_accessories/mujoco_assets/ridgeback/ridgeback.xml
  src/picknik_accessories/mujoco_assets/robotiq_2f85/robotiq2f85.xml
  src/picknik_accessories/mujoco_assets/robotiq_2f85/robotiq2f85_globals.xml
  src/picknik_accessories/mujoco_assets/ur5e/ur5e.xml
  src/picknik_accessories/mujoco_assets/ur5e/ur5e_globals.xml
  src/picknik_accessories/mujoco_assets/ur5e/ur5e_linear_rail.xml
  src/picknik_accessories/package.xml
Due: check-objective-favorites

fix(objectives): use unstamped twist/wrench on PublishVelocityForceCommand
  src/lab_sim/objectives/constrained_pick_and_place_subtree.xml
  src/lab_sim/objectives/force_relaxation.xml
  src/lab_sim/objectives/move_with_velocity_and_force.xml
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/compliant_grasp_rafti_vfc.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/velocity_force_controller_zero.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/objectives/grapple_moving_satellite_via_fiducial_tracking.xml
Due: check-objective-favorites

feat(hangar_sim): Add Raster Path Along Fuselage tutorial Objective
  src/hangar_sim/objectives/raster_path_along_fuselage.xml
Due: check-objective-favorites

feat(lab_sim): Add Pick 1 Pill Bottle with SAM3 Objective
  src/lab_sim/objectives/pick_1_pill_bottle_with_sam3.xml
Due: check-objective-favorites

fix(hangar_sim): switch lidar filter to InPlace and tighten angles
  src/hangar_sim/config/config.yaml
  src/hangar_sim/params/laser_filter_params.yaml
Due: check-mujoco-viewer

fix(hangar_sim): switch lidar filter to LaserScanAngularBoundsFilterInPlace
  src/hangar_sim/params/laser_filter_params.yaml
Due: none

Update GitHub Actions References
  .github/workflows/ci.yaml
  .github/workflows/format.yaml
Due: none

fix(hangar_sim): Make Raster Path Along Fuselage run standalone and skip empty slices
  src/hangar_sim/objectives/raster_path_along_fuselage.xml
Due: check-objective-favorites

feat(hangar_sim): Add working 3-pass fuselage sweep; document single-path raster limit
  src/hangar_sim/objectives/plan_path_along_surface_3_passes.xml
Due: check-objective-favorites

test: skip ML Segment Point Cloud in CI
  src/lab_sim/test/objectives_integration_test.py
Due: none

fix(hangar_sim): restore static map→odom TF conditioned on slam:=false
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
Due: none
