Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

deploy: 71d2be862de445b80b4f158d5b382d5646d98630
  pr-903/run-37528851873/hangar_sim/jazzy/report.html
  pr-903/run-37528851873/lab_sim/jazzy/report.html
Due: none

fix(ci): handle unusual paths in dropped-submodule handling
  .github/workflows/batch-merge-release-branch.yaml
Due: none

fix(ci): stop weekly vendored refresh from overwriting hand-made commits
  .github/workflows/ci.yaml
  README.md
Due: none

fix(ci): treat conflicted submodule paths as literal pathspecs
  .github/workflows/batch-merge-release-branch.yaml
Due: none

deploy: e4fac797cac34b4942d202b40753e43073e427fc
  pr-1023/run-37533311993/hangar_sim/jazzy/report.html
  pr-1023/run-37533311993/lab_sim/jazzy/report.html
Due: none

deploy: e2b2d862390373308f47b2721860364c35333a74
  pr-1027/run-37534229458/hangar_sim/jazzy/report.html
  pr-1027/run-37534229458/lab_sim/jazzy/report.html
Due: none

deploy: 03992b181e23ea080ecd611b627f50887ebf8538
  pr-1027/run-37535629915/hangar_sim/jazzy/report.html
  pr-1027/run-37535629915/lab_sim/jazzy/report.html
Due: none

deploy: 81cefcb4105334f1a5fdba48192bccfd32f9ec9b
  pr-1023/run-37536580446/hangar_sim/jazzy/report.html
  pr-1023/run-37536580446/lab_sim/jazzy/report.html
Due: none

feat(lab_sim): select the camera renderer from one setting
  src/lab_sim/description/picknik_ur.xacro
  src/lab_sim/launch/runtime.launch.xml
Due: check-objective-favorites

deploy: d97a1fe4479340ccd6fa36f263bf1608ceabcdb0
  pr-970/run-37555103302/hangar_sim/jazzy/report.html
  pr-970/run-37555103302/lab_sim/jazzy/report.html
Due: none

fix(sim): prepare the example sims for the enforced JTAC goal tolerance
  src/dual_arm_sim/config/control/franka_ros2_control.yaml
  src/factory_sim/config/control/picknik_fanuc.ros2_control.yaml
  src/grinding_sim/config/control/ur20.ros2_control.yaml
  src/kitchen_sim/config/control/franka_ros2_control.yaml
  src/lab_sim/config/control/picknik_ur.ros2_control.yaml
  src/lab_sim/objectives/push_button_with_a_trajectory.xml
  src/moveit_pro_kinova_configs/kinova_sim/config/control/picknik_kinova_gen3.ros2_control.yaml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/demo_trajectory_stitching.xml
Due: check-objective-favorites

deploy: 9c6b93897bc6200f820d8912ba7fb7ab242d2009
  pr-1029/run-37600030864/hangar_sim/jazzy/report.html
  pr-1029/run-37600030864/lab_sim/jazzy/report.html
Due: none

ci: remove bump_version workflow
  .github/workflows/bump_version.yaml
Due: none

deploy: 7c261b1ff2a109c014f7c2ebf3814ba0349f63e8
  pr-1030/run-37663681025/hangar_sim/jazzy/report.html
Due: none

deploy: 7c261b1ff2a109c014f7c2ebf3814ba0349f63e8
  pr-1030/run-37663681025/lab_sim/jazzy/report.html
Due: none

deploy: 89cfedf4ca6238d04757125bef2c0d52db363248
  pr-1028/run-37676770559/hangar_sim/jazzy/report.html
  pr-1028/run-37676770559/lab_sim/jazzy/report.html
Due: none

feat(sam3): download SAM3 models at build time instead of vendoring them
  .gitmodules
  .pre-commit-config.yaml
  src/moveit_pro_sam3/.gitignore
  src/moveit_pro_sam3/CMakeLists.txt
  src/moveit_pro_sam3/CONTRIBUTING.md
  src/moveit_pro_sam3/LICENSE
  src/moveit_pro_sam3/README.md
  src/moveit_pro_sam3/models/LICENSE
  src/moveit_pro_sam3/package.xml
Due: check-objective-favorites, check-mujoco-viewer

feat(sam3): download SAM3 models at build time instead of vendoring them
  .gitmodules
  .pre-commit-config.yaml
  README.md
  bin/tests/test_validate_workspace_dependencies.py
  bin/validate_workspace_dependencies.py
  src/moveit_pro_sam3/.gitignore
  src/moveit_pro_sam3/CMakeLists.txt
  src/moveit_pro_sam3/CONTRIBUTING.md
  src/moveit_pro_sam3/LICENSE
  src/moveit_pro_sam3/README.md
  src/moveit_pro_sam3/models/LICENSE
  src/moveit_pro_sam3/models/model.yaml.in
  src/moveit_pro_sam3/package.xml
Due: check-objective-favorites, check-mujoco-viewer

fix(sam3): copy the models into the install tree
  src/moveit_pro_sam3/CMakeLists.txt
Due: none

deploy: 81146dafaa808bccf97b945e8538fe6c6cfef034
  pr-965/run-37811814227/hangar_sim/jazzy/report.html
  pr-965/run-37811814227/lab_sim/jazzy/report.html
Due: none

deploy: ca16d7d38a4a68ccf3d19e9ac136998d582e7ccb
  pr-966/run-37811562842/hangar_sim/jazzy/report.html
  pr-966/run-37811562842/lab_sim/jazzy/report.html
Due: none

deploy: f9f8900ac47e12d0ca5ac32d0847b979fb740f86
  pr-965/run-37813212979/hangar_sim/jazzy/report.html
  pr-965/run-37813212979/lab_sim/jazzy/report.html
Due: none

deploy: ce06ee9ff49e7af2ed24cf3852169a39186825ba
  pr-966/run-37813101476/hangar_sim/jazzy/report.html
  pr-966/run-37813101476/lab_sim/jazzy/report.html
Due: none

deploy: ce06ee9ff49e7af2ed24cf3852169a39186825ba
  pr-966/run-37813101476/lab_sim/jazzy/report.html
Due: none

fix(sam3): make the model inputs' batch axis dynamic for MoveIt Pro 9.4
  src/moveit_pro_sam3/CMakeLists.txt
  src/moveit_pro_sam3/README.md
  src/moveit_pro_sam3/cmake/make_batch_dynamic.py
  src/moveit_pro_sam3/package.xml
Due: check-objective-favorites

deploy: 616cf295ea27c92cd10ee13317f8f982f2a672e2
  pr-966/run-37823913176/hangar_sim/jazzy/report.html
  pr-966/run-37823913176/lab_sim/jazzy/report.html
Due: none

Refresh the vendored moveit_pro_franka_ws to 5ea850ee
  src/external_dependencies/moveit_pro_franka_ws/UPSTREAM.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_sim/README.md
Due: none

market_sim: let the base travel the whole store
  src/external_dependencies/moveit_pro_franka_ws/UPSTREAM.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/description/mobile_fr3_duo.urdf.xacro
  src/market_sim/README.md
  src/market_sim/config/config.yaml
  src/market_sim/mjcf/mobile_fr3_duo.xml
  src/market_sim/test/test_market_scene.py
Due: check-objective-favorites, check-mujoco-viewer

market_sim: re-seed AMCL after keyframe resets; keep every merged scan
  src/market_sim/CMakeLists.txt
  src/market_sim/README.md
  src/market_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/market_sim/objectives/reset_market_keyframe.xml
  src/market_sim/package.xml
  src/market_sim/scripts/reset_relocalizer.py
  src/market_sim/test/test_reset_relocalizer.py
Due: check-objective-favorites

kitchen_sim: drop the trajectory_execution block
  src/kitchen_sim/config/config.yaml
Due: check-mujoco-viewer

market_sim: Localize Robot and Refine Localization In Place Objectives
  src/market_sim/objectives/localize_robot.xml
  src/market_sim/objectives/localize_robot_if_needed.xml
  src/market_sim/objectives/refine_localization_in_place.xml
  src/market_sim/objectives/refine_localization_in_place_subtree.xml
Due: check-objective-favorites

market_sim: grippable loose products; aisle Objectives take the base controller
  src/market_sim/mjcf/market/market_world.xml
  src/market_sim/mjcf/scene.xml
  src/market_sim/objectives/navigate_to_aisle_a1.xml
  src/market_sim/objectives/navigate_to_aisle_b2.xml
  src/market_sim/objectives/navigate_to_aisle_c3.xml
  src/market_sim/objectives/navigate_to_aisle_d4.xml
  src/market_sim/objectives/navigate_to_aisle_e1.xml
  src/market_sim/objectives/navigate_to_aisle_e5.xml
  src/market_sim/objectives/navigate_to_aisle_i2.xml
  src/market_sim/scripts/generate_market.py
Due: check-objective-favorites

market_sim: mark every map cell a rack overlaps
  src/market_sim/maps/market.png
  src/market_sim/scripts/generate_market.py
Due: none

market_sim: longer Nav2 acknowledge timeout, known-issue note
  AGENTS.md
  src/market_sim/params/nav2_params.yaml
Due: none

dual_arm_sim: match the arm mounts to the URDF, drop undefined controllers
  src/dual_arm_sim/config/config.yaml
  src/dual_arm_sim/description/mujoco/franka3.xml
Due: check-objective-favorites, check-mujoco-viewer

market_sim: localization fit threshold measured for the store
  src/market_sim/objectives/refine_localization_in_place_subtree.xml
Due: check-objective-favorites
