Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

deploy: b63fee4561119e9e0ab7add0ea64f2a7e659d1d9
  pr-1006/run-36518751422/hangar_sim/jazzy/report.html
  pr-1006/run-36518751422/lab_sim/jazzy/report.html
Due: none

feat(hangar_sim): navigate on fuse's estimate instead of ground truth
  AGENTS.md
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/launch/sim/navigation_launch.py
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/package.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/src/odom_world_drift.cpp
Due: check-objective-favorites

deploy: d7e73b73f81503366332e743a793f87f79a20645
  pr-973/run-36601901213/hangar_sim/jazzy/report.html
Due: none

deploy: 28fea8bd242f6cb358491bbe8d441bbad0dd47f9
  pr-973/run-36602199627/hangar_sim/jazzy/report.html
  pr-973/run-36602199627/lab_sim/jazzy/report.html
Due: none

feat(lunar_sim): publish OAK-D stereo renders and ground truth under enable_vo
  src/lunar_sim/description/husky_a300_mujoco.xacro
Due: none

deploy: 41972b38d129cf05d36a24333ea86a87873905bd
  pr-1001/run-36627859223/hangar_sim/jazzy/report.html
  pr-1001/run-36627859223/lab_sim/jazzy/report.html
Due: none

feat(factory_sim): add two articulated grippers with ros2_control blocks
  src/factory_sim/README.md
  src/factory_sim/bags/gripper_joint_states/gripper_joint_states_0.mcap
  src/factory_sim/bags/gripper_joint_states/metadata.yaml
  src/factory_sim/description/articulated_tools/angular_gripper.urdf
  src/factory_sim/description/articulated_tools/parallel_gripper.urdf
  src/factory_sim/objectives/attach_angular_gripper.xml
  src/factory_sim/objectives/attach_parallel_gripper.xml
  src/factory_sim/objectives/check_gripper_finger_collision.xml
  src/factory_sim/objectives/detach_articulated_grippers.xml
  src/factory_sim/scripts/generate_gripper_joint_state_bag.py
  src/factory_sim/test/objectives_integration_test.py
Due: check-objective-favorites

fix: drop a UI attribute from a SubTree port list
  src/moveit_pro_kinova_configs/kinova_gen3_base_config/objectives/get_imarker_pose_from_mesh_visualization.xml
Due: check-objective-favorites

deploy: d361f2b6dd3df50a3a12aca65195bfcef39c1213
  pr-1007/run-36637793029/hangar_sim/jazzy/report.html
  pr-1007/run-36637793029/lab_sim/jazzy/report.html
Due: none

deploy: bc4a0b002edb42ed9f4a6cf52b9c471b89c2f66e
  pr-1008/run-36668717708/hangar_sim/jazzy/report.html
  pr-1008/run-36668717708/lab_sim/jazzy/report.html
Due: none

refactor(hangar_sim): compose odom_world_drift and unit-test it
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/include/hangar_sim/odom_world_drift.hpp
  src/hangar_sim/package.xml
  src/hangar_sim/src/odom_world_drift.cpp
  src/hangar_sim/src/odom_world_drift_main.cpp
  src/hangar_sim/test/test_odom_world_drift.cpp
Due: check-objective-favorites

refactor(hangar_sim): use tf2::Transform instead of Pose2 in odom_world_drift
  src/hangar_sim/include/hangar_sim/odom_world_drift.hpp
  src/hangar_sim/src/odom_world_drift.cpp
  src/hangar_sim/test/test_odom_world_drift.cpp
Due: none

deploy: 0d116c9b0fa6346162d0eb8b5b2e2ac631303582
  pr-1008/run-36670221677/hangar_sim/jazzy/report.html
  pr-1008/run-36670221677/lab_sim/jazzy/report.html
Due: none

deploy: b60c2ae4de7dfb82a794695ea6062186daad3bc7
  pr-987/run-36474389201/lab_sim/jazzy/report.html
Due: none

deploy: 40621d2a10407f90ac5ae2192165a2c013a7678e
  pr-1009/run-36899726137/hangar_sim/jazzy/report.html
  pr-1009/run-36899726137/lab_sim/jazzy/report.html
Due: none

deploy: f36a176f9aa978fae9cec4cf08c6950b6397af87
  pr-1010/run-36905785079/hangar_sim/jazzy/report.html
  pr-1010/run-36905785079/lab_sim/jazzy/report.html
Due: none

deploy: c65a7ae8511db172b8162442211c41d5f9c6dce8
  pr-1010/run-36908225697/hangar_sim/jazzy/report.html
  pr-1010/run-36908225697/lab_sim/jazzy/report.html
Due: none

deploy: 7aa792b419bdc8ee39fc94283f074d2187ace858
  pr-1010/run-36909124909/hangar_sim/jazzy/report.html
  pr-1010/run-36909124909/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): reset fuse and re-seed AMCL after a sim teleport
  AGENTS.md
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/include/hangar_sim/odom_world_drift.hpp
  src/hangar_sim/package.xml
  src/hangar_sim/src/odom_world_drift.cpp
  src/hangar_sim/test/test_odom_world_drift.cpp
Due: check-objective-favorites

deploy: 2d0d777e396c2152d9e94d2495fc80a4cdea396b
  pr-1010/run-36913321949/hangar_sim/jazzy/report.html
  pr-1010/run-36913321949/lab_sim/jazzy/report.html
Due: none

ci: call shared backport workflow from moveit_pro_ci
  .github/workflows/backport.yaml
Due: none

deploy: f89062ced37076cb55fc28ca94eb14603ef01a37
  pr-1009/run-36924709678/hangar_sim/jazzy/report.html
  pr-1009/run-36924709678/lab_sim/jazzy/report.html
Due: none

deploy: e4ceb9204b8d376135da7b12bf4e09eff48d5855
  pr-933/run-36923272021/hangar_sim/jazzy/report.html
  pr-933/run-36923272021/lab_sim/jazzy/report.html
Due: none

feat(hangar_sim): refine localization in place with a fit-to-map gate
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/objectives/localize_robot_if_needed.xml
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/test/objectives_integration_test.py
Due: check-objective-favorites

deploy: bd5337daac5077663c577b01161e11fe1c3d1496
  pr-933/run-36949844843/hangar_sim/jazzy/report.html
  pr-933/run-36949844843/lab_sim/jazzy/report.html
Due: none

fix(objectives): loosen the goal tolerance of two JTAC examples
  src/lab_sim/objectives/push_button_with_a_trajectory.xml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/demo_trajectory_stitching.xml
Due: check-objective-favorites

deploy: 6df295dbbe93b36e0b02a071a0e82f16f04ebd41
  pr-1013/run-37011562346/hangar_sim/jazzy/report.html
  pr-1013/run-37011562346/lab_sim/jazzy/report.html
Due: none

feat(hangar_sim): show the commanded velocity overlay by default
  src/hangar_sim/config/frontend_settings.yaml
Due: none

deploy: b65fd100616f47e3f7444a5a57c759220084fc0a
  pr-1012/run-37014358488/hangar_sim/jazzy/report.html
  pr-1012/run-37014358488/lab_sim/jazzy/report.html
Due: none

fix(lunar_sim): publish only images from the OAK-D stereo pair
  src/lunar_sim/README.md
  src/lunar_sim/config/config.yaml
  src/lunar_sim/description/husky_a300.xml
  src/lunar_sim/test/test_husky_mujoco_geometry.py
Due: check-objective-favorites, check-mujoco-viewer

deploy: b08aecce3b4a2eb63cd1c021193ee94ce12d6be1
  pr-1014/run-37021293090/hangar_sim/jazzy/report.html
  pr-1014/run-37021293090/lab_sim/jazzy/report.html
Due: none

deploy: 7b6cd27494059a976583758d1a7ae4a6e77d1454
  pr-1014/run-37021959825/hangar_sim/jazzy/report.html
  pr-1014/run-37021959825/lab_sim/jazzy/report.html
Due: none

docs(lunar_sim): add package thumbnail
  src/lunar_sim/thumbnail.png
Due: none

deploy: 4c6157abf4573aabc2d3e7806ad1801a57938921
  pr-1015/run-37037042424/hangar_sim/jazzy/report.html
  pr-1015/run-37037042424/lab_sim/jazzy/report.html
Due: none

fix(lab_sim): wait for fresh surface coverage captures
  src/lab_sim/CMakeLists.txt
  src/lab_sim/objectives/get_fresh_point_cloud.xml
  src/lab_sim/objectives/live_surface_coverage_demo.xml
  src/lab_sim/objectives/record_surface_coverage_demo.xml
  src/lab_sim/package.xml
  src/lab_sim/test/test_surface_coverage_capture.cpp
Due: check-objective-favorites

deploy: 2c6d6c2ba5c8faa55487bf71660a45156826f5d7
  pr-1016/run-37041830187/hangar_sim/jazzy/report.html
  pr-1016/run-37041830187/lab_sim/jazzy/report.html
Due: none

deploy: a06623dfc7ce770796865b523e91d7f6d26f695a
  pr-1017/run-37042606764/hangar_sim/jazzy/report.html
  pr-1017/run-37042606764/lab_sim/jazzy/report.html
Due: none

deploy: 49b52a5e5a8884691782a144709ba1493a1a2acf
  pr-1018/run-37043493496/hangar_sim/jazzy/report.html
  pr-1018/run-37043493496/lab_sim/jazzy/report.html
Due: none

deploy: 9e7f3114f516035226f89847d6c7645ebf9d9b12
  pr-1018/run-37043985815/hangar_sim/jazzy/report.html
  pr-1018/run-37043985815/lab_sim/jazzy/report.html
Due: none

feat(factory_sim): time bracket pick-and-place cycle with Stopwatch Behaviors
  src/factory_sim/objectives/drop_bracket_part_in_right_bin_subtree.xml
  src/factory_sim/objectives/drop_bracket_part_on_jig_subtree.xml
  src/factory_sim/objectives/pick_and_place_brackets_from_left_bin.xml
  src/factory_sim/objectives/pick_bracket_part_from_jig_subtree.xml
  src/factory_sim/objectives/pick_brackets_from_left_bin.xml
  src/factory_sim/objectives/vacuum_pick_bracket_part_subtree.xml
Due: check-objective-favorites

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
