Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

deploy: e85c2501b5aabe587cd06c001983dfb58dfe3421
  pr-935/run-34637854800/hangar_sim/jazzy/report.html
  pr-935/run-34637854800/lab_sim/jazzy/report.html
Due: none

no-mistakes(test): exercise TeleoperateBase over ROS
  src/lunar_sim_behaviors/test/CMakeLists.txt
  src/lunar_sim_behaviors/test/test_teleoperate_base_ros.cpp
Due: none

no-mistakes(document): note teleop cmd_vel path in lunar_sim docs; clang-format
  src/lunar_sim/README.md
  src/lunar_sim/config/config.yaml
  src/lunar_sim_behaviors/include/lunar_sim_behaviors/teleoperate_base.hpp
  src/lunar_sim_behaviors/src/teleoperate_base.cpp
  src/lunar_sim_behaviors/test/test_behavior_plugins.cpp
Due: check-mujoco-viewer

fix(kitchen_sim): label every SAM3 burner mask in Segment Image from Prompt
  src/kitchen_sim/objectives/segment_image_from_prompt.xml
Due: check-objective-favorites

deploy: 4ec56c8e4c5b61633e632e384fc24c1f5f2b47b7
  pr-936/run-34640180145/hangar_sim/jazzy/report.html
  pr-936/run-34640180145/lab_sim/jazzy/report.html
Due: none

deploy: 2cce5338adee2bbf39ca4bcd973d5c2fc8d20770
  pr-937/run-34642081240/hangar_sim/jazzy/report.html
  pr-937/run-34642081240/lab_sim/jazzy/report.html
Due: none

fix(base_configs): port the text-prompt segmentation SubTrees to SAM3
  src/moveit_pro_franka_configs/franka_base_config/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/moveit_pro_franka_configs/franka_base_config/package.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_image_from_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_point_cloud_from_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/package.xml
Due: check-objective-favorites

deploy: 2dc4a1b08526117c30f5e112de780897804aa92c
  pr-938/run-34645715198/hangar_sim/jazzy/report.html
  pr-938/run-34645715198/lab_sim/jazzy/report.html
Due: none

fix(lunar_sim_behaviors): guard TeleoperateBase against stale callbacks and bad velocity limits
  src/lunar_sim_behaviors/include/lunar_sim_behaviors/teleoperate_base.hpp
  src/lunar_sim_behaviors/src/teleoperate_base.cpp
  src/lunar_sim_behaviors/test/CMakeLists.txt
  src/lunar_sim_behaviors/test/test_teleoperate_base_ros.cpp
Due: none

deploy: 74666c5a78bf75f9fe536578e77734ba556061d5
  pr-898/run-34649965529/hangar_sim/jazzy/report.html
  pr-898/run-34649965529/lab_sim/jazzy/report.html
Due: none

deploy: 390911a4ebb90f29691fe1ef6f3dd504d72f6d8d
  pr-932/run-34650129334/hangar_sim/jazzy/report.html
  pr-932/run-34650129334/lab_sim/jazzy/report.html
Due: none

fix(dual_arm_sim): port the text-prompt segmentation SubTrees to SAM3
  README.md
  src/dual_arm_sim/objectives/find_with_prompt.xml
  src/dual_arm_sim/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/dual_arm_sim/objectives/segment_point_cloud_from_text.xml
  src/dual_arm_sim/package.xml
Due: check-objective-favorites

fix(vla_sim): hold the last commanded pose, and fail on a lost jaw label
  src/vla_sim/README.md
  src/vla_sim/objectives/close_gripper.xml
  src/vla_sim/objectives/open_gripper.xml
  src/vla_sim/script/joint_command_bridge.py
  src/vla_sim/test/test_joint_command_bridge.py
Due: check-objective-favorites

fix(dual_arm_sim): describe the SAM3 end condition of Sort Blocks
  src/dual_arm_sim/objectives/sort_blocks.xml
Due: check-objective-favorites

deploy: 78fc662b07cc73a471337ac512396768fd2e65fe
  pr-936/run-34650826054/hangar_sim/jazzy/report.html
  pr-936/run-34650826054/lab_sim/jazzy/report.html
Due: none

fix(so101_sim): torque off again when activation fails; fail-closed driver check
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/src/feetech_ros2_driver.cpp
  src/so101_sim/README.md
Due: none

deploy: 5e1dd335dd43309ca156be61c52a12b718f42778
  pr-940/run-34652576350/hangar_sim/jazzy/report.html
  pr-940/run-34652576350/lab_sim/jazzy/report.html
Due: none

deploy: b97ff623e31bd701df0fd7092aec90cb6ef28a6e
  pr-932/run-34652691974/hangar_sim/jazzy/report.html
  pr-932/run-34652691974/lab_sim/jazzy/report.html
Due: none

deploy: a22ec30a4d079f722d09f4636a6b5990dba634d7
  pr-898/run-34652943417/hangar_sim/jazzy/report.html
  pr-898/run-34652943417/lab_sim/jazzy/report.html
Due: none

no-mistakes(review): Assert so101_sim overlay via real config loader
  src/external_dependencies/feetech_ros2_driver/UPSTREAM.yaml
  src/so101_sim/package.xml
  src/so101_sim/test/test_config_inheritance.py
Due: check-objective-favorites

no-mistakes(review): Fix stale xacro pointer, drop internal README references
  src/so101_base_config/README.md
  src/so101_sim/script/so101_arm_bridge.py
Due: none

no-mistakes(document): Fix AGENTS.md inheritance facts, refresh sim launch comment
  AGENTS.md
  src/so101_sim/launch/runtime.launch.xml
Due: check-objective-favorites

no-mistakes(review): Fix AGENTS.md overlay claim, drop internal names from config comments
  AGENTS.md
  src/so101_base_config/config/moveit/joint_limits.yaml
  src/so101_base_config/config/so101_follower_calibration.yaml
Due: none

no-mistakes(document): Point sim README waypoint note at base owner
  src/so101_sim/README.md
Due: none

deploy: 28e70b5888ff8f69e49b26aad2bc7f4f3fa8c7f0
  pr-941/run-34661940377/hangar_sim/jazzy/report.html
  pr-941/run-34661940377/lab_sim/jazzy/report.html
Due: none

docs(so101): fix CodeRabbit review findings on PR 941
  README.md
  src/so101_base_config/config/moveit/joint_limits.yaml
Due: none

deploy: 37d8f2999ba597e9c843327be1fac784ebcaed17
  pr-941/run-34663328459/hangar_sim/jazzy/report.html
  pr-941/run-34663328459/lab_sim/jazzy/report.html
Due: none

deploy: e176b15737adf95b6832791841c0e12b2a4fa92c
  pr-871/run-34672821688/hangar_sim/jazzy/report.html
  pr-871/run-34672821688/lab_sim/jazzy/report.html
Due: none

deploy: d20df83eb0e809d33d2eb35b6ef14302ecfb51ed
  pr-871/run-34673474136/hangar_sim/jazzy/report.html
  pr-871/run-34673474136/lab_sim/jazzy/report.html
Due: none

deploy: 212ccce792cf871f8192ef6338afd4a6122ef28b
  pr-942/run-34676192718/hangar_sim/jazzy/report.html
  pr-942/run-34676192718/lab_sim/jazzy/report.html
Due: none

deploy: 3c6671c40795f97b3a643d6863ccec45b8e514ca
  pr-942/run-34677164270/hangar_sim/jazzy/report.html
  pr-942/run-34677164270/lab_sim/jazzy/report.html
Due: none

deploy: df750f1050c25d19034c594dec42303547e7c666
  pr-942/run-34681169015/hangar_sim/jazzy/report.html
  pr-942/run-34681169015/lab_sim/jazzy/report.html
Due: none

deploy: 59b28870c29028479b34822031e7f11ee0d39623
  pr-942/run-34681375746/hangar_sim/jazzy/report.html
  pr-942/run-34681375746/lab_sim/jazzy/report.html
Due: none

deploy: 4cd060f082191d544fce5ba995c5bc8597aa157d
  pr-942/run-34681535284/hangar_sim/jazzy/report.html
  pr-942/run-34681535284/lab_sim/jazzy/report.html
Due: none

deploy: e8d864793f34189ad5675ab499301fa212a91bf2
  pr-942/run-34681773833/hangar_sim/jazzy/report.html
  pr-942/run-34681773833/lab_sim/jazzy/report.html
Due: none

deploy: 708e86b5c4a45340518e83b560d1aacbaf2ef2da
  pr-942/run-34682060937/hangar_sim/jazzy/report.html
  pr-942/run-34682060937/lab_sim/jazzy/report.html
Due: none

deploy: c0c81ee1b48f4e9b746dbbab030019880b204532
  pr-942/run-34682478680/hangar_sim/jazzy/report.html
  pr-942/run-34682478680/lab_sim/jazzy/report.html
Due: none

deploy: 30a46cc1be998c20b953894c20403ed74821f362
  pr-942/run-34693731427/hangar_sim/jazzy/report.html
  pr-942/run-34693731427/lab_sim/jazzy/report.html
Due: none

deploy: ecc53eb9fc8ebd03f656851b8344c8a5d1a6bc7a
  pr-942/run-34693784180/hangar_sim/jazzy/report.html
  pr-942/run-34693784180/lab_sim/jazzy/report.html
Due: none
