Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

Remove deprecated CLIPSeg Pick 1 Pill Bottle objective
  src/lab_sim/objectives/pick_1_pill_bottle_with_ml.xml
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

fix(hangar_sim): Correct tool orientation and standoff for 3-pass fuselage sweep
  src/hangar_sim/objectives/plan_path_along_surface_3_passes.xml
Due: check-objective-favorites

perf(hangar_sim): Coarsen single-path fuselage raster so it plans fast
  src/hangar_sim/objectives/raster_path_along_fuselage.xml
Due: check-objective-favorites

perf(hangar_sim): Fix blending radius so single-path raster plans + executes
  src/hangar_sim/objectives/raster_path_along_fuselage.xml
Due: check-objective-favorites

feat(hangar_sim): Add fuselage surface-coverage Objectives
  src/hangar_sim/objectives/plan_path_along_surface_3_passes.xml
  src/hangar_sim/objectives/raster_path_along_fuselage.xml
Due: check-objective-favorites

fix(lab_sim): backport burner pushable inertial/friction to inlined accessories
  src/picknik_accessories/mujoco_assets/lab_desk/desk.xml
Due: check-objective-favorites

deploy: ef7711c5751731b3cec9399193d372e87dc29fe6
  .nojekyll
  pr-655/run-26553483261/humble/report.html
  pr-655/run-26553483261/jazzy/report.html
Due: none

pick and place waypoints and objectives for teleop left hand xy buttons.
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/objectives/move_above_pick.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/objectives/move_above_place.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/waypoints/waypoints.yaml
Due: check-objective-favorites

feat(kinova_site): add camera-launch override, ZED launch, and teleop objective
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/robot_drivers_to_persist.launch.py
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/zed_camera.launch.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/objectives/request_teleoperation.xml
Due: check-objective-favorites

reconfigured waypoints
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/waypoints/waypoints.yaml
Due: check-mujoco-viewer

feat(kinova_site): add second ZED camera and parameterize launch
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/description/kinova_gen3.xacro
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/robot_drivers_to_persist.launch.py
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/zed_camera.launch.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/waypoints/waypoints.yaml
Due: check-objective-favorites

deploy: d5156990c7dc00bde1bff390584537d8a9943b19
  pr-655/run-26616830765/humble/report.html
  pr-655/run-26616830765/jazzy/report.html
Due: none

fix(lab_sim): skip Teleoperate and ML Segment Point Cloud in CI
  src/lab_sim/test/objectives_integration_test.py
Due: none

deploy: cb43831ae1396e6f74c406193aff2bf83a7c9333
  pr-655/run-26650816780/humble/report.html
  pr-655/run-26650816780/jazzy/report.html
Due: none

deploy: c91837eaba4d345325c957284fa69c953c8ac0ba
  pr-655/run-26658535474/humble/report.html
  pr-655/run-26658535474/jazzy/report.html
Due: none

deploy: a2279239d659679ad14fe4b0ecc03b5814eb48be
  pr-655/run-26659576593/humble/report.html
  pr-655/run-26659576593/jazzy/report.html
Due: none

deploy: bef893df1f5bcf4dc166c80e3aef0fcd9a9b319b
  pr-655/run-26660842455/humble/report.html
  pr-655/run-26660842455/jazzy/report.html
Due: none

deploy: 7ee5dca11d39081e680937a8903cfa7b2294efe2
  pr-655/run-26664600300/humble/report.html
  pr-655/run-26664600300/jazzy/report.html
Due: none

ci: run example_ws integration test on GPU runner
  .github/workflows/ci.yaml
Due: none

deploy: c8f977f6ea20a084f17d12ceab5946432b97d48a
  pr-655/run-26667375819/humble/report.html
  pr-655/run-26667375819/jazzy/report.html
Due: none

deploy: 078f32a7b220ed05dae00f8259d8c6ebf98ecd27
  pr-655/run-26769408491/humble/report.html
Due: none

ci: upgrade to GPU runner via moveit_pro_ci v0.3.1, enrich test diagnostics
  .github/scripts/render_report.py
  .github/workflows/ci.yaml
  .github/workflows/cleanup-pr-reports.yaml
  src/lab_sim/CMakeLists.txt
  src/lab_sim/package.xml
  src/lab_sim/test/capture_rosout.py
  src/lab_sim/test/conftest.py
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

refactor(ci): extract render_report HTML into standalone .tmpl
  .github/scripts/render_report.html.tmpl
  .github/scripts/render_report.py
Due: none

ci: harden gh-pages report publishing
  .github/workflows/ci.yaml
  .github/workflows/cleanup-pr-reports.yaml
Due: none

chore(sim): standardize MuJoCo camera resolution to 1280x720 across robot configs
  src/april_tag_sim/description/scene.xml
  src/dual_arm_sim/description/mujoco/scene.xml
  src/factory_sim/description/scene.xml
  src/grinding_sim/description/scene.xml
  src/kitchen_sim/description/mujoco/scene.xml
  src/lab_sim/description/scene.xml
  src/lab_sim/description/simple_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/gen3_7dof.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/gen3_7dof_rafti_fingers.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/landsat_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/rafti_fingers_scene.xml
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/description/mujoco/gen3_7dof_body.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/description/mujoco/scene.xml
  src/picknik_accessories/mujoco_assets/ur5e/ur5e.xml
Due: check-objective-favorites

deploy: 6e9bb3d458c97735760d90e7ba8a7b926068c793
  pr-655/run-26834608581/humble/report.html
Due: none

deploy: b10e7219ba4067696c2cdf4af9867a2bffc105e2
  pr-682/run-26846570930/humble/report.html
Due: none

ci: opt into the S3-backed Git LFS cache (moveit_pro_ci v0.5.0)
  .github/workflows/ci.yaml
Due: none

ci: bump workspace_integration_test ref to v0.5.1 (dubious-ownership fix)
  .github/workflows/ci.yaml
Due: none

fix(viz): decimate d415 camera mesh under the 10 MB URDF load gate
  src/picknik_accessories/descriptions/sensors/d415.stl
  src/picknik_accessories/descriptions/sensors/realsense_d415.urdf.xacro
Due: none
