Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

removed double launch stuff
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/launch/agent_bridge.launch.xml
  src/hangar_sim/launch/fuse.launch.py
Due: check-objective-favorites

tracking more tightly
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
Due: none

adding IMU fuse plugin to hangar_sim
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
Due: none

changed config for mecanum wheel odom
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
Due: none

enable wheel-ground contact from virtual rails to mecanum locomotion
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/description/front_left_wheel_link.xml
  src/hangar_sim/description/front_right_wheel_link.xml
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/description/rear_left_wheel_link.xml
  src/hangar_sim/description/rear_right_wheel_link.xml
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/script/odom_qos_relay.py
Due: check-objective-favorites

Migrate moveit_studio_package() to moveit_pro_package()
  src/example_behaviors/CMakeLists.txt
  src/example_behaviors/package.xml
  src/lab_sim_behaviors/CMakeLists.txt
  src/lab_sim_behaviors/package.xml
Due: check-objective-favorites

Add objective integration tests for all example_ws config packages
  .github/workflows/ci.yaml
  src/april_tag_sim/CMakeLists.txt
  src/april_tag_sim/package.xml
  src/april_tag_sim/test/objectives_integration_test.py
  src/dual_arm_sim/CMakeLists.txt
  src/dual_arm_sim/package.xml
  src/dual_arm_sim/test/objectives_integration_test.py
  src/factory_sim/CMakeLists.txt
  src/factory_sim/package.xml
  src/factory_sim/test/objectives_integration_test.py
  src/grinding_sim/CMakeLists.txt
  src/grinding_sim/package.xml
  src/grinding_sim/test/objectives_integration_test.py
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/package.xml
  src/hangar_sim/test/objectives_integration_test.py
  src/kitchen_sim/CMakeLists.txt
  src/kitchen_sim/package.xml
  src/kitchen_sim/test/objectives_integration_test.py
  src/lab_sim/package.xml
  src/moveit_pro_kinova_configs/kinova_sim/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_sim/package.xml
  src/moveit_pro_kinova_configs/kinova_sim/test/objectives_integration_test.py
  src/moveit_pro_kinova_configs/space_satellite_sim/CMakeLists.txt
  src/moveit_pro_kinova_configs/space_satellite_sim/package.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/test/objectives_integration_test.py
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/CMakeLists.txt
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/package.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/test/objectives_integration_test.py
  src/moveit_pro_ur_configs/mock_sim/CMakeLists.txt
  src/moveit_pro_ur_configs/mock_sim/package.xml
  src/moveit_pro_ur_configs/mock_sim/test/objectives_integration_test.py
  src/moveit_pro_ur_configs/multi_arm_sim/CMakeLists.txt
  src/moveit_pro_ur_configs/multi_arm_sim/package.xml
  src/moveit_pro_ur_configs/multi_arm_sim/test/objectives_integration_test.py
Due: check-objective-favorites

Add dual SICK TIM571 lidars and nav2 obstacle avoidance to hangar_sim
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/launch/sim/localization_launch.py
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/package.xml
  src/hangar_sim/params/laser_filter_params.yaml
  src/hangar_sim/params/nav2_params.yaml
Due: check-objective-favorites

Fix cv_bridge Include in Jazzy
  src/lab_sim_behaviors/src/compute_tray_place_positions_using_apriltags.cpp
Due: none

updates to run the Kinova site config
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/config/moveit/kinova_gen3.srdf
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/description/kinova_gen3.xacro
Due: none

Update scene configuration and objectives for improved pose tracking and waypoint management
  src/lab_sim/description/scene.xml
  src/lab_sim/objectives/mpc_pose_tracking.xml
  src/lab_sim/objectives/pick_april_tag_object_with_approval.xml
  src/lab_sim/objectives/stitch_multiple_point_clouds_together.xml
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

Fix Jazzy Build (Again)
  src/lab_sim_behaviors/CMakeLists.txt
Due: none

remove the cyan and magenta circles which show lidar mounts
  src/hangar_sim/description/ur5e_ridgeback.xml
Due: check-objective-favorites

Add web_ui stress test for pointcloud manipulation and large marker lists
  src/lab_sim/objectives/pointcloud_and_marker_stress_test.xml
Due: check-objective-favorites

add mujoco behaviors plugin to hangar_sim
  src/hangar_sim/config/config.yaml
Due: check-mujoco-viewer

loop version of Plan Path Along Surface
  src/hangar_sim/objectives/plan_path_along_surface_-_loop.xml
Due: check-objective-favorites

Remove count boxes objectives
  src/hangar_sim/images/.gitattributes
  src/hangar_sim/images/box.png
  src/hangar_sim/images/box_2.png
  src/hangar_sim/objectives/count_boxes.xml
  src/hangar_sim/objectives/count_boxes_objective.xml
  src/hangar_sim/objectives/count_boxes_subtree.xml
  src/hangar_sim/objectives/createposevectorfromdirectory.xml
  src/hangar_sim/objectives/order_poses.xml
  src/hangar_sim/objectives/verify_box_count.xml
  src/hangar_sim/objectives/verify_box_count_subtree.xml
  src/hangar_sim/poses/1.yaml
  src/hangar_sim/poses/2.yaml
  src/hangar_sim/poses/3.yaml
  src/hangar_sim/poses/4.yaml
  src/hangar_sim/poses/random1.yaml
  src/hangar_sim/poses/random2.yaml
  src/hangar_sim/poses/random3.yaml
  src/hangar_sim/poses/random4.yaml
  src/hangar_sim/poses/random5.yaml
  src/hangar_sim/poses/random6.yaml
  src/hangar_sim/poses/random7.yaml
Due: check-objective-favorites

updates and new waypoints
  src/lab_sim/objectives/pointcloud_and_marker_stress_test.xml
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

17708 Add missing collision and visual geometry to planning scene
  src/hangar_sim/config/moveit/picknik_ur.srdf
  src/hangar_sim/description/assets/hangar_mesh/SM_AccessStand_441.001.dae
  src/hangar_sim/description/assets/hangar_mesh/SM_Cart_28.dae
  src/hangar_sim/description/hangar_urdf.xacro
Due: none

add example of trajectory blending
  src/lab_sim/objectives/blend_joint_trajectories.xml
Due: check-objective-favorites

Increase path tolerance so Grasp Object from Point succeeds on feasible targets
  src/kitchen_sim/config/control/franka_ros2_control.yaml
Due: none

Replace 'Above Pick Cube' with 'Above Pick Object'
  src/lab_sim/objectives/cycle_between_waypoints.xml
  src/lab_sim/objectives/pick_1_pill_bottle.xml
Due: check-objective-favorites

Fix Stack Objects with ICP objective
  src/lab_sim/objectives/register_cad_part_subtree.xml
Due: check-objective-favorites

add launch commands for moveit pro for new sim
  src/lunar_sim/CMakeLists.txt
  src/lunar_sim/launch/agent_bridge.launch.xml
Due: check-objective-favorites

17718 Increase path tolerance on factory sim to allow Pick and Place to complete
  src/factory_sim/config/control/picknik_fanuc.ros2_control.yaml
Due: none

Fix Invalid URDF Names
  src/hangar_sim/config/moveit/picknik_ur.srdf
  src/hangar_sim/description/hangar.xml
  src/hangar_sim/description/hangar_urdf.xacro
Due: check-objective-favorites

feat: Add MujocoBehaviorsLoader and default keyframes to all MuJoCo configs
  src/april_tag_sim/config/config.yaml
  src/april_tag_sim/description/scene.xml
  src/dual_arm_sim/config/config.yaml
  src/factory_sim/config/config.yaml
  src/factory_sim/description/scene.xml
  src/grinding_sim/config/config.yaml
  src/kitchen_sim/config/config.yaml
  src/kitchen_sim/description/mujoco/scene.xml
  src/lab_sim/config/config.yaml
  src/lunar_sim/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_sim/config/config.yaml
  src/moveit_pro_kinova_configs/space_satellite_sim/config/config.yaml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/config/config.yaml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/scene.xml
  src/moveit_pro_ur_configs/multi_arm_sim/config/config.yaml
Due: check-objective-favorites, check-mujoco-viewer

feat(hangar_sim): Add MuJoCo behavior loader and objectives
  src/hangar_sim/config/config.yaml
Due: check-mujoco-viewer

revert: Remove april_tag_sim and lunar_sim from MuJoCo objectives changes
  src/april_tag_sim/config/config.yaml
  src/april_tag_sim/description/scene.xml
  src/lunar_sim/config/config.yaml
Due: check-objective-favorites, check-mujoco-viewer

fix: Revert multi_arm_sim, fix Kinova config behavior loader overrides
  src/moveit_pro_kinova_configs/space_satellite_sim/config/config.yaml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/config/config.yaml
  src/moveit_pro_ur_configs/multi_arm_sim/config/config.yaml
Due: check-mujoco-viewer

feat(april_tag_sim): Add mujoco_objectives and fix keyframe qpos count
  src/april_tag_sim/config/config.yaml
  src/april_tag_sim/description/scene.xml
Due: check-objective-favorites, check-mujoco-viewer

chore: turn off the register cad part
  src/lab_sim/test/objectives_integration_test.py
Due: none

Fix formatting of comment in objectives integration test
  src/lab_sim/test/objectives_integration_test.py
Due: none

17722 Update hangar_sim to use the JTC in the Point-to-Point objective instead of the JTAC, which is the new default
  src/hangar_sim/objectives/point-to-point_trajectory.xml
Due: check-objective-favorites

need to change to underscore for collision_cube so does not crash on bring up
  src/hangar_sim/description/hangar.xml
  src/hangar_sim/description/hangar_urdf.xacro
Due: check-objective-favorites

17282 Updates SAM3 objective from file to use package path, enable unit test, and make image smaller to reduce VRAM requirement
  src/lab_sim/objectives/ml_segment_bottles_from_file.xml
  src/lab_sim/objectives/real_lab1.png
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites
