Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

deploy: fb9733981a77f83f14df2b4c42a3ed800f4798fd
  pr-921/run-34403047202/hangar_sim/jazzy/report.html
  pr-921/run-34403047202/lab_sim/jazzy/report.html
Due: none

deploy: ad14c9a61050e56d5240a97083d9819a44a5c0b2
  pr-924/run-34424140627/hangar_sim/jazzy/report.html
  pr-924/run-34424140627/lab_sim/jazzy/report.html
Due: none

fix(so101_sim): add the missing BSD-3 copyright notice to LICENSE
  src/so101_sim/LICENSE
Due: none

deploy: 14760cc6d05eb0601add9fcfc866e4088c8159fe
  pr-924/run-34430912395/hangar_sim/jazzy/report.html
  pr-924/run-34430912395/lab_sim/jazzy/report.html
Due: none

fix(phoebe_ws): record joint_limits.yaml as a modified upstream path
  src/external_dependencies/phoebe_ws/UPSTREAM.yaml
Due: none

deploy: cce9550c91e879aa63716377db76a5d691d72252
  pr-917/run-34452158542/hangar_sim/jazzy/report.html
  pr-917/run-34452158542/lab_sim/jazzy/report.html
Due: none

feat(hangar_sim): publish and visualize the MPPI local plan
  src/hangar_sim/config/frontend_settings.yaml
  src/hangar_sim/params/nav2_params.yaml
Due: none

deploy: 4edad4e9e457c1f6c40bec4d3f18b66a4bc5e5ec
  pr-920/run-34458558164/hangar_sim/jazzy/report.html
  pr-920/run-34458558164/lab_sim/jazzy/report.html
Due: none

fix(lab_sim): convert behavior-collected data with next-state action labels
  src/lab_sim/objectives/collect_training_data_with_behaviors.xml
Due: check-objective-favorites

deploy: 3ae0e81c745f4cee29e5e57cf73c70f99af5ced1
  pr-925/run-34502791029/hangar_sim/jazzy/report.html
  pr-925/run-34502791029/lab_sim/jazzy/report.html
Due: none

feat(hand_eye_calibration_sim): save the calibrated wrist camera mount pose
  src/hand_eye_calibration_sim/objectives/calibrate_wrist_camera_and_save_mount_pose.xml
Due: check-objective-favorites

deploy: b2ba2d079bccca3909d7fffbe41b7e84acdfda89
  pr-926/run-34505603897/hangar_sim/jazzy/report.html
  pr-926/run-34505603897/lab_sim/jazzy/report.html
Due: none

deploy: c6fe27fc4866da51d0468dfc888e622a23d82c57
  pr-927/run-34517831309/hangar_sim/jazzy/report.html
  pr-927/run-34517831309/lab_sim/jazzy/report.html
Due: none

deploy: 9d0aa997081e1c64a1d90cf16450c86235c7a501
  pr-928/run-34519591148/hangar_sim/jazzy/report.html
  pr-928/run-34519591148/lab_sim/jazzy/report.html
Due: none

deploy: e6ad844d23aa86df30e4ed025bde23005560c440
  pr-927/run-34519760791/hangar_sim/jazzy/report.html
  pr-927/run-34519760791/lab_sim/jazzy/report.html
Due: none

chore(9.4): drop the moveit_pro_clipseg submodule
  .gitmodules
  README.md
  src/kitchen_sim/package.xml
  src/lab_sim/package.xml
Due: check-objective-favorites

feat(hangar_sim): add localization Behaviors and the in-place refinement
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/config/config.yaml
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/objectives/localize_robot_and_refine.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/package.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/script/dump_localization_calibration_data.py
  src/hangar_sim/test/objectives_integration_test.py
  src/hangar_sim_behaviors/CMakeLists.txt
  src/hangar_sim_behaviors/hangar_sim_behaviors_plugin_description.xml
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/calibration_io.hpp
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/call_empty_service.hpp
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/localization_gates.hpp
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/scan_match_residual.hpp
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/seed_localization_at_pose.hpp
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/wait_for_one_message.hpp
  src/hangar_sim_behaviors/package.xml
  src/hangar_sim_behaviors/src/calibration_io.cpp
  src/hangar_sim_behaviors/src/call_empty_service.cpp
  src/hangar_sim_behaviors/src/localization_gates.cpp
  src/hangar_sim_behaviors/src/register_behaviors.cpp
  src/hangar_sim_behaviors/src/scan_match_residual.cpp
  src/hangar_sim_behaviors/src/seed_localization_at_pose.cpp
  src/hangar_sim_behaviors/test/CMakeLists.txt
  src/hangar_sim_behaviors/test/test_behavior_plugins.cpp
  src/hangar_sim_behaviors/test/test_localization_gates.cpp
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: check-objective-favorites, check-mujoco-viewer

fix(hangar_sim): illegal "--" in an XML comment, and correct the injection claim
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
Due: check-objective-favorites

fix(hangar_sim_behaviors): drop the unused worst-case ring helper
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: none

refactor(hangar_sim): one refinement subtree, referenced twice
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/objectives/localize_robot_and_refine.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/script/dump_localization_calibration_data.py
  src/hangar_sim/test/objectives_integration_test.py
  src/hangar_sim_behaviors/src/calibration_io.cpp
  src/hangar_sim_behaviors/src/localization_gates.cpp
  src/hangar_sim_behaviors/src/register_behaviors.cpp
  src/hangar_sim_behaviors/src/scan_match_residual.cpp
  src/hangar_sim_behaviors/src/seed_localization_at_pose.cpp
  src/hangar_sim_behaviors/test/test_localization_gates.cpp
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: check-objective-favorites

deploy: 128e152ee2afd9fb3238c15282c0ef36c14a60ed
  pr-928/run-34521525396/hangar_sim/jazzy/report.html
  pr-928/run-34521525396/lab_sim/jazzy/report.html
Due: none

deploy: 6ef5b5ca421184205d5236ad01ef4d090d195c02
  pr-927/run-34522274348/hangar_sim/jazzy/report.html
  pr-927/run-34522274348/lab_sim/jazzy/report.html
Due: none

deploy: 3332a7fb67f90c9af8ded48b203e026e3cb942de
  pr-928/run-34523281114/hangar_sim/jazzy/report.html
  pr-928/run-34523281114/lab_sim/jazzy/report.html
Due: none

no-mistakes(review): gate on the projected seed; fix cache key, remaps, docs
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/test/objectives_integration_test.py
  src/hangar_sim_behaviors/CMakeLists.txt
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/localization_gates.hpp
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/planar_pose.hpp
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/project_pose_to_plane.hpp
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/scan_match_residual.hpp
  src/hangar_sim_behaviors/src/project_pose_to_plane.cpp
  src/hangar_sim_behaviors/src/register_behaviors.cpp
  src/hangar_sim_behaviors/src/scan_match_residual.cpp
  src/hangar_sim_behaviors/src/seed_localization_at_pose.cpp
  src/hangar_sim_behaviors/test/CMakeLists.txt
  src/hangar_sim_behaviors/test/test_behavior_plugins.cpp
  src/hangar_sim_behaviors/test/test_planar_pose.cpp
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: check-objective-favorites

chore(lunar_sim): add BSD copyright headers
  src/lunar_sim/description/generate_ground_colormap.py
  src/lunar_sim/description/generate_terrain.py
  src/lunar_sim/description/validate_and_render.py
  src/lunar_sim/description/verify_ground_colormap.py
  src/lunar_sim_behaviors/include/lunar_sim_behaviors/publish_twist_stamped.hpp
  src/lunar_sim_behaviors/src/publish_twist_stamped.cpp
  src/lunar_sim_behaviors/src/register_behaviors.cpp
  src/lunar_sim_behaviors/test/test_behavior_plugins.cpp
Due: none

fix(lunar_sim): keep MuJoCo off the robot's TF tree
  src/lunar_sim/description/husky_a300_mujoco.xacro
Due: none

build(lunar_sim_behaviors): drop obsolete export workaround, add copyright linters
  src/lunar_sim_behaviors/CMakeLists.txt
  src/lunar_sim_behaviors/package.xml
Due: check-objective-favorites

chore: make CLAUDE.md, .cursorrules and copilot-instructions.md symlinks to AGENTS.md
  .cursorrules
  .github/copilot-instructions.md
  AGENTS.md
Due: none

docs(lunar_sim): README and MJCF comment fixes from review
  src/lunar_sim/README.md
  src/lunar_sim/description/husky_a300.xml
Due: check-objective-favorites

feat(lunar_sim): load the mujoco objective library, drop the hand-rolled reset
  src/lunar_sim/config/config.yaml
  src/lunar_sim/description/husky_scene.xml
  src/lunar_sim/objectives/request_teleoperation.xml
  src/lunar_sim/objectives/reset_simulation.xml
Due: check-objective-favorites, check-mujoco-viewer

deploy: 0b1f560a01d81d4305f80b86726bea55cb1f7dac
  pr-929/run-34529583902/hangar_sim/jazzy/report.html
  pr-929/run-34529583902/lab_sim/jazzy/report.html
Due: none

feat(so101_sim): enable teleoperation (joint jog and pose jog) on mock hardware
  AGENTS.md
  src/so101_sim/README.md
  src/so101_sim/config/config.yaml
  src/so101_sim/config/control/so101.ros2_control.yaml
  src/so101_sim/config/moveit/joint_jog.yaml
  src/so101_sim/config/moveit/pose_jog.yaml
  src/so101_sim/objectives/teleoperate.xml
  src/so101_sim/package.xml
Due: check-objective-favorites, check-mujoco-viewer

deploy: b6df71173df85ad229b428947828805a25ecbd1d
  pr-929/run-34531867030/hangar_sim/jazzy/report.html
  pr-929/run-34531867030/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim_behaviors): make the package link, and drop a fragile tf2 path
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/planar_pose.hpp
  src/hangar_sim_behaviors/src/scan_match_residual.cpp
  src/hangar_sim_behaviors/src/seed_localization_at_pose.cpp
  src/hangar_sim_behaviors/test/test_planar_pose.cpp
Due: check-objective-favorites

deploy: fb8c2a36039adaaf062293ab01fc15d5805772e0
  pr-928/run-34532730120/hangar_sim/jazzy/report.html
  pr-928/run-34532730120/lab_sim/jazzy/report.html
Due: none

deploy: 7819f11580d14357c5beeec6e3a2d89403cc0c8f
  pr-930/run-34533583959/hangar_sim/jazzy/report.html
  pr-930/run-34533583959/lab_sim/jazzy/report.html
Due: none

no-mistakes(review): relabel the click instead of transforming through unseeded map-&gt;odom
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/test/objectives_integration_test.py
  src/hangar_sim_behaviors/CMakeLists.txt
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/reinterpret_pose_frame.hpp
  src/hangar_sim_behaviors/src/register_behaviors.cpp
  src/hangar_sim_behaviors/src/reinterpret_pose_frame.cpp
  src/hangar_sim_behaviors/test/test_behavior_plugins.cpp
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: check-objective-favorites

fix(hangar_sim): correct the bootstrap story and calibrate the gate on hangar_map
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/test/objectives_integration_test.py
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/localization_gates.hpp
Due: check-objective-favorites

feat(hangar_sim): let the operator set heading with a 6 DOF marker
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/test/objectives_integration_test.py
Due: check-objective-favorites

deploy: 780f428cc34563f0bcbf262efae5755cdb8773fb
  pr-930/run-34535509987/hangar_sim/jazzy/report.html
  pr-930/run-34535509987/lab_sim/jazzy/report.html
Due: none

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
