Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

I think the transformation bit is working? But going to try ignoring the initial rotation of the end effector
  src/lab_sim/objectives/transform_quest_frame.xml
  src/lab_sim/objectives/visualize_quest_transform.xml
Due: check-objective-favorites

omg this is working on the generated bags
  src/lab_sim/objectives/visualize_quest_transform.xml
Due: check-objective-favorites

Visualized Translated pose seems legit
  src/convert_odom_to_pose_stamped/CMakeLists.txt
  src/convert_odom_to_pose_stamped/behavior_plugin.yaml
  src/convert_odom_to_pose_stamped/convert_odom_to_pose_stamped_plugin_description.xml
  src/convert_odom_to_pose_stamped/include/convert_odom_to_pose_stamped/convert_odom_to_pose_stamped.hpp
  src/convert_odom_to_pose_stamped/package.xml
  src/convert_odom_to_pose_stamped/src/convert_odom_to_pose_stamped.cpp
  src/convert_odom_to_pose_stamped/src/register_behaviors.cpp
  src/convert_odom_to_pose_stamped/test/CMakeLists.txt
  src/convert_odom_to_pose_stamped/test/test_behavior_plugins.cpp
  src/convert_pose_stamped_to_transform_stamped/CMakeLists.txt
  src/convert_pose_stamped_to_transform_stamped/behavior_plugin.yaml
  src/convert_pose_stamped_to_transform_stamped/convert_pose_stamped_to_transform_stamped_plugin_description.xml
  src/convert_pose_stamped_to_transform_stamped/include/convert_pose_stamped_to_transform_stamped/convert_pose_stamped_to_transform_stamped.hpp
  src/convert_pose_stamped_to_transform_stamped/package.xml
  src/convert_pose_stamped_to_transform_stamped/src/convert_pose_stamped_to_transform_stamped.cpp
  src/convert_pose_stamped_to_transform_stamped/src/register_behaviors.cpp
  src/convert_pose_stamped_to_transform_stamped/test/CMakeLists.txt
  src/convert_pose_stamped_to_transform_stamped/test/test_behavior_plugins.cpp
  src/get_odom_instance/CMakeLists.txt
  src/get_odom_instance/behavior_plugin.yaml
  src/get_odom_instance/get_odom_instance_plugin_description.xml
  src/get_odom_instance/include/get_odom_instance/get_odom_instance.hpp
  src/get_odom_instance/package.xml
  src/get_odom_instance/src/get_odom_instance.cpp
  src/get_odom_instance/src/register_behaviors.cpp
  src/get_odom_instance/test/CMakeLists.txt
  src/get_odom_instance/test/test_behavior_plugins.cpp
  src/lab_sim/objectives/convertposestampedtovectors.xml
  src/lab_sim/objectives/transform_quest_frame.xml
  src/lab_sim/objectives/visualize_quest_transform.xml
Due: check-objective-favorites

Add ROS Jazzy compatibility to robotiq_gripper and pstop_manager packages
  src/external_dependencies/ros2_robotiq_gripper/robotiq_controllers/CMakeLists.txt
  src/external_dependencies/ros2_robotiq_gripper/robotiq_controllers/package.xml
  src/external_dependencies/ros2_robotiq_gripper/robotiq_controllers/src/robotiq_activation_controller.cpp
  src/external_dependencies/ros2_robotiq_gripper/robotiq_driver/CMakeLists.txt
  src/external_dependencies/ros2_robotiq_gripper/robotiq_driver/include/robotiq_driver/hardware_interface.hpp
  src/external_dependencies/ros2_robotiq_gripper/robotiq_driver/package.xml
  src/external_dependencies/ros2_robotiq_gripper/robotiq_driver/src/hardware_interface.cpp
  src/external_dependencies/ros2_robotiq_gripper/robotiq_driver/tests/test_robotiq_gripper_hardware_interface.cpp
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/CMakeLists.txt
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/package.xml
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/src/protective_stop_manager_node.cpp
Due: check-objective-favorites

adding a new lunar_sim with submodule clone of phoebe_ws
  .gitmodules
  colcon-defaults.yaml
  src/lunar_sim/CMakeLists.txt
  src/lunar_sim/config/config.yaml
  src/lunar_sim/mjcf/scene.xml
  src/lunar_sim/package.xml
Due: check-objective-favorites, check-mujoco-viewer

Update phoebe_ws submodule to latest dualtip_ml_objectives
  .gitmodules
  src/lunar_sim/config/config.yaml
  src/lunar_sim/config/moveit/joint_jog.yaml
  src/lunar_sim/mjcf/scene.xml
Due: check-objective-favorites, check-mujoco-viewer

16010 Adds SAM3 onnx weights and three examples of using exemplars
  src/lab_sim/models/sam3_decoder.onnx
  src/lab_sim/models/sam3_geometry_encoder.onnx
  src/lab_sim/models/sam3_text_encoder.onnx
  src/lab_sim/models/sam3_vision_encoder.onnx
  src/lab_sim/objectives/ml_find_bottles_on_table_from_image_exemplar.xml
  src/lab_sim/objectives/ml_find_objects_on_table.xml
  src/lab_sim/objectives/ml_segment_bottles_from_file.xml
  src/lab_sim/objectives/real_lab1.png
  src/lab_sim/objectives/square_bottle1.png
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

Fix CI in v9.1.0
  .github/workflows/ci.yaml
Due: none

Add lab desk objects, adjust collision wall/tray positions, and clean up lab_sim
  src/lab_sim/config/control/picknik_ur.ros2_control.yaml
  src/lab_sim/description/keyboard-texture.png
  src/lab_sim/description/laptop-screen.png
  src/lab_sim/description/picknik_ur.xacro
  src/lab_sim/description/scene.xml
  src/lab_sim/objectives/3_waypoint_pick_and_place.xml
  src/lab_sim/objectives/constrained_pick_and_place_subtree.xml
  src/lab_sim/objectives/constrained_pick_place.xml
  src/lab_sim/objectives/cycle_between_waypoints.xml
  src/lab_sim/objectives/move_flasks_to_burners.xml
  src/lab_sim/objectives/pick_1_pill_bottle_with_ml.xml
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
  src/lab_sim/test/objectives_integration_test.py
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

Migrate lab_sim CLIPSeg objectives to SAM3
  src/lab_sim/objectives/addbottlestoplanningscene.xml
  src/lab_sim/objectives/get_candidate_grasps_subtree.xml
  src/lab_sim/objectives/get_grasp_from_text_prompt_subtree.xml
  src/lab_sim/objectives/ml_segment_image.xml
  src/lab_sim/objectives/ml_segment_point_cloud.xml
  src/lab_sim/objectives/pick_1_pill_bottle.xml
  src/lab_sim/objectives/pick_all_pill_bottles.xml
  src/lab_sim/objectives/sam3_segment_image_subtree.xml
  src/lab_sim/objectives/sam3_segment_point_cloud_subtree.xml
Due: check-objective-favorites

Add CLAUDE.md and ignore MUJOCO_LOG.TXT
  .gitignore
  CLAUDE.md
Due: none

New functionality to save the Robot State to file and load it back.
  src/lab_sim/objectives/load_mujoco_robot_state.xml
  src/lab_sim/objectives/robot_joint_state.yaml
  src/lab_sim/objectives/save_robot_joint_state.xml
Due: check-objective-favorites

Update phoebe_ws submodule to for-example-ws-no-dups
  .gitmodules
  colcon-defaults.yaml
  src/lunar_sim/package.xml
Due: check-objective-favorites

Add lunar_sim config package with phoebe_ws submodule
  .gitmodules
  colcon-defaults.yaml
  src/lunar_sim/CMakeLists.txt
  src/lunar_sim/config/config.yaml
  src/lunar_sim/mjcf/scene.xml
  src/lunar_sim/package.xml
Due: check-objective-favorites, check-mujoco-viewer

add lidar sensor and use obstacle_layer in costmap params
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/launch/sim/localization_launch.py
  src/hangar_sim/params/nav2_params.yaml
Due: check-objective-favorites

Add lab_sim_behaviors package with ComputeTrayPlacePositionsUsingAprilTags
  src/lab_sim/config/config.yaml
  src/lab_sim/package.xml
  src/lab_sim_behaviors/CMakeLists.txt
  src/lab_sim_behaviors/include/lab_sim_behaviors/compute_tray_place_positions_using_apriltags.hpp
  src/lab_sim_behaviors/lab_sim_behaviors_plugin_description.xml
  src/lab_sim_behaviors/package.xml
  src/lab_sim_behaviors/src/compute_tray_place_positions_using_apriltags.cpp
  src/lab_sim_behaviors/src/register_behaviors.cpp
  src/lab_sim_behaviors/test/CMakeLists.txt
  src/lab_sim_behaviors/test/test_behavior_plugins.cpp
Due: check-objective-favorites, check-mujoco-viewer

Clean up and improve lab_sim objectives
  src/lab_sim/objectives/_scan_scene.xml
  src/lab_sim/objectives/close_gripper.xml
  src/lab_sim/objectives/computelinkposefromwaypoint.xml
  src/lab_sim/objectives/grasp_planning.xml
  src/lab_sim/objectives/move_along_square.xml
  src/lab_sim/objectives/mpc_pose_tracking.xml
  src/lab_sim/objectives/mpc_pose_tracking_with_static_sphere_point_cloud_avoidance.xml
  src/lab_sim/objectives/open_gripper.xml
  src/lab_sim/objectives/pick_and_place_example.xml
  src/lab_sim/objectives/pick_from_pose.xml
  src/lab_sim/objectives/pick_from_pose_with_approval.xml
  src/lab_sim/objectives/pick_up_cube.xml
  src/lab_sim/objectives/place_at_pose.xml
  src/lab_sim/objectives/place_at_pose_with_approval.xml
  src/lab_sim/objectives/scan_multiple_views.xml
  src/lab_sim/objectives/scan_scene_-_multiple_point_clouds.xml
  src/lab_sim/objectives/stack_blocks_with_icp.xml
  src/lab_sim/objectives/visualize_grasp_link.xml
Due: check-objective-favorites

Fix waypoint name to match objective XML
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: none

Inline colored point cloud subtrees into register_cad_part objectives
  src/lab_sim/objectives/load_mesh_as_green_poincloud.xml
  src/lab_sim/objectives/load_mesh_as_red_pointcloud.xml
  src/lab_sim/objectives/register_cad_part.xml
  src/lab_sim/objectives/register_cad_part_subtree.xml
Due: check-objective-favorites

Migrate lab_sim CLIPSeg objectives to SAM3
  src/lab_sim/objectives/addbottlestoplanningscene.xml
  src/lab_sim/objectives/ctb2.png
  src/lab_sim/objectives/get_candidate_grasps_subtree.xml
  src/lab_sim/objectives/get_grasp_from_text_prompt_subtree.xml
  src/lab_sim/objectives/iss1.png
  src/lab_sim/objectives/ml_find_bottles_on_table_from_image_exemplar.xml
  src/lab_sim/objectives/ml_find_ctb_from_bounding_box.xml
  src/lab_sim/objectives/ml_find_ctb_from_image_exemplar.xml
  src/lab_sim/objectives/ml_segment_from_file.xml
  src/lab_sim/objectives/ml_segment_image.xml
  src/lab_sim/objectives/ml_segment_point_cloud.xml
  src/lab_sim/objectives/pick_1_pill_bottle.xml
  src/lab_sim/objectives/pick_all_pill_bottles.xml
  src/lab_sim/objectives/sam3_segment_image_subtree.xml
  src/lab_sim/objectives/sam3_segment_point_cloud_subtree.xml
Due: check-objective-favorites

Fix flaky Move Along Square integration test
  src/lab_sim/objectives/move_along_square.xml
Due: check-objective-favorites

New functionality to save the Robot State to file and load it back.
  src/lab_sim/objectives/load_mujoco_robot_state.xml
  src/lab_sim/objectives/reset_mujoco_robot.xml
  src/lab_sim/objectives/robot_joint_state.yaml
  src/lab_sim/objectives/save_robot_joint_state.xml
  src/lab_sim/objectives/show_grasp_link.xml
Due: check-objective-favorites

Fix: Increase ICP max_correspondence_distance to fix flaky CI
  src/lab_sim/objectives/register_cad_part_subtree.xml
Due: check-objective-favorites

Clean up and improve lab_sim objectives
  src/lab_sim/config/control/picknik_ur.ros2_control.yaml
  src/lab_sim/objectives/_scan_scene.xml
  src/lab_sim/objectives/computelinkposefromwaypoint.xml
  src/lab_sim/objectives/grasp_planning.xml
  src/lab_sim/objectives/mpc_pose_tracking.xml
  src/lab_sim/objectives/mpc_pose_tracking_with_static_sphere_point_cloud_avoidance.xml
  src/lab_sim/objectives/open_gripper.xml
  src/lab_sim/objectives/pick_and_place_example.xml
  src/lab_sim/objectives/pick_from_pose.xml
  src/lab_sim/objectives/pick_from_pose_with_approval.xml
  src/lab_sim/objectives/pick_up_cube.xml
  src/lab_sim/objectives/place_at_pose.xml
  src/lab_sim/objectives/place_at_pose_with_approval.xml
  src/lab_sim/objectives/scan_multiple_views.xml
  src/lab_sim/objectives/scan_scene_-_multiple_point_clouds.xml
  src/lab_sim/objectives/stack_blocks_with_icp.xml
  src/lab_sim/objectives/visualize_grasp_link.xml
  src/lab_sim/test/objectives_integration_test.py
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

tracking more tightly
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
Due: none

changed config for mecanum wheel odom
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
Due: none

adding IMU fuse plugin to hangar_sim
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
Due: none

removed double launch stuff
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/launch/agent_bridge.launch.xml
  src/hangar_sim/launch/fuse.launch.py
Due: check-objective-favorites

add lidar sensor and use obstacle_layer in costmap params
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/config/config.yaml
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/launch/sim/localization_launch.py
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/package.xml
  src/hangar_sim/params/laser_filter_params.yaml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/script/scan_mirror_fix.py
Due: check-objective-favorites, check-mujoco-viewer

enable wheel-ground contact from virtual rails to mecanum locomotion
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/description/front_left_wheel_link.xml
  src/hangar_sim/description/front_right_wheel_link.xml
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/description/rear_left_wheel_link.xml
  src/hangar_sim/description/rear_right_wheel_link.xml
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/script/odom_qos_relay.py
Due: check-objective-favorites

Add lab desk objects, adjust collision wall/tray positions, and clean up lab_sim
  src/lab_sim/description/keyboard-texture.png
  src/lab_sim/description/laptop-screen.png
  src/lab_sim/description/picknik_ur.xacro
  src/lab_sim/description/scene.xml
  src/lab_sim/objectives/3_waypoint_pick_and_place.xml
  src/lab_sim/objectives/constrained_pick_and_place_subtree.xml
  src/lab_sim/objectives/constrained_pick_place.xml
  src/lab_sim/objectives/cycle_between_waypoints.xml
  src/lab_sim/objectives/move_flasks_to_burners.xml
  src/lab_sim/objectives/pick_1_pill_bottle_with_ml.xml
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
  src/lab_sim/test/objectives_integration_test.py
  src/lab_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites

wip
  Dockerfile
  docker-compose.yaml
Due: none

Minor bugfixes
  src/lab_sim/objectives/grasp_pose_tuning_with_april_tag.xml
  src/lab_sim/objectives/grasp_pose_using_yaml.xml
  src/lab_sim/objectives/mpc_pose_tracking_dynamic_point_cloud_avoidance_with_sphere_down_sample.xml
  src/lab_sim/objectives/mpc_pose_tracking_static_point_cloud_avoidance_with_sphere_down_sample.xml
  src/lab_sim/objectives/pick_april_tag_object_with_approval.xml
Due: check-objective-favorites

17282 Updates SAM3 objective from file to use package path, enable unit test, and make image smaller to reduce VRAM requirement
  src/lab_sim/objectives/ml_segment_bottles_from_file.xml
  src/lab_sim/objectives/real_lab1.png
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
