Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

style(hangar_sim): clang-format odom_world_drift
  src/hangar_sim/src/odom_world_drift.cpp
Due: none

docs(hangar_sim): trim the odom_world_drift comments
  src/hangar_sim/src/odom_world_drift.cpp
Due: none

fix(hangar_sim): rewrite odom_topic where nav2's nodes are actually created
  src/hangar_sim/launch/sim/navigation_launch.py
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/params/nav2_params.yaml
Due: none

deploy: 9d595b896f980e33768a65ea5d27a2a8b6e8b684
  pr-973/run-35860535781/hangar_sim/jazzy/report.html
  pr-973/run-35860535781/lab_sim/jazzy/report.html
Due: none

feat(hand_eye_calibration_sim): add intrinsic calibration start pose
  src/april_tag_sim/test/objectives_integration_test.py
  src/dual_arm_sim/test/objectives_integration_test.py
  src/factory_sim/test/objectives_integration_test.py
  src/grinding_sim/test/objectives_integration_test.py
  src/hand_eye_calibration_sim/objectives/close_gripper.xml
  src/hand_eye_calibration_sim/objectives/move_in_front_of_the_board.xml
  src/hand_eye_calibration_sim/waypoints/ur_waypoints.yaml
  src/hangar_sim/test/objectives_integration_test.py
  src/kitchen_sim/test/objectives_integration_test.py
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

fix(lab_sim): square the coverage region up with the drawn selection
  src/lab_sim/objectives/select_region_for_coverage_path.xml
Due: check-objective-favorites

deploy: d84396278338fea9c53a9434455c3378794ab413
  pr-995/run-35898521591/hangar_sim/jazzy/report.html
  pr-995/run-35898521591/lab_sim/jazzy/report.html
Due: none

deploy: c6a1f13ebc87687dff170bd7575d7534a6cf3b5f
  pr-995/run-35902819712/hangar_sim/jazzy/report.html
  pr-995/run-35902819712/lab_sim/jazzy/report.html
Due: none

deploy: 0bb23dee8eabe752d1568d52226b37297ff232e7
  pr-988/run-35886476288/hangar_sim/jazzy/report.html
  pr-988/run-35886476288/lab_sim/jazzy/report.html
Due: none

deploy: 03b07dd30914dba10c9bb7fbb73e802f7011a369
  pr-994/run-35871947454/hangar_sim/jazzy/report.html
  pr-994/run-35871947454/lab_sim/jazzy/report.html
Due: none

feat(vla_sim): add Objectives that end the policy run once the cubes are stacked
  src/vla_sim/objectives/check_if_the_blue_cube_is_on_the_green_cube.xml
  src/vla_sim/objectives/stack_cubes_until_gemini_confirms.xml
  src/vla_sim/objectives/stack_cubes_until_the_cube_poses_confirm.xml
  src/vla_sim/objectives/stack_cubes_with_the_vla_policy_or_fail_when_time_runs_out.xml
Due: check-objective-favorites

deploy: 7481316c878d959a235dd850bb3fc7acd5a5ff27
  pr-996/run-36010328722/hangar_sim/jazzy/report.html
  pr-996/run-36010328722/lab_sim/jazzy/report.html
Due: none

deploy: ad50085f608c71b98911c58edd054d3487bb6f93
  pr-997/run-36018586482/hangar_sim/jazzy/report.html
  pr-997/run-36018586482/lab_sim/jazzy/report.html
Due: none

deploy: ae8746bb71beeab89b8b8a483ccc781e64885053
  pr-988/run-36042538703/hangar_sim/jazzy/report.html
  pr-988/run-36042538703/lab_sim/jazzy/report.html
Due: none

deploy: cc5f711fb9dd3e52d80080409ed0303c2c9d5123
  pr-988/run-36046770525/hangar_sim/jazzy/report.html
  pr-988/run-36046770525/lab_sim/jazzy/report.html
Due: none

fix(vla_sim): correct camera frames and gripper states
  src/vla_sim/CMakeLists.txt
  src/vla_sim/config/moveit/picknik_kinova_gen3_base.srdf
  src/vla_sim/description/mujoco/cube_stack_scene.xml
  src/vla_sim/test/test_camera_optical_frames.py
  src/vla_sim/test/test_gripper_named_states.py
Due: check-objective-favorites

deploy: 2e95e424b9919fd630bfd4474b73e93b2e80171b
  pr-998/run-36058305137/hangar_sim/jazzy/report.html
  pr-998/run-36058305137/lab_sim/jazzy/report.html
Due: none

feat(lab_sim): select the camera renderer from one setting
  src/lab_sim/description/picknik_ur.xacro
  src/lab_sim/launch/runtime.launch.xml
Due: check-objective-favorites

feat(hangar_sim): add a repeatable Navigate Hangar Loop objective
  src/hangar_sim/objectives/navigate_hangar_loop.xml
  src/hangar_sim/test/objectives_integration_test.py
Due: check-objective-favorites

feat(lunar_sim): publish OAK-D stereo renders and ground truth under enable_vo
  src/lunar_sim/description/husky_a300_mujoco.xacro
Due: none

deploy: f3ec378f01a22359533238e4761a27b0f91baeac
  pr-1000/run-36140344110/hangar_sim/jazzy/report.html
  pr-1000/run-36140344110/lab_sim/jazzy/report.html
Due: none

deploy: 2c0d7651b1467ff9a248ca8d10599db978abb1d7
  pr-1001/run-36140984287/hangar_sim/jazzy/report.html
  pr-1001/run-36140984287/lab_sim/jazzy/report.html
Due: none

feat(hangar_sim): refine localization in place with a fit-to-map gate
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/objectives/localize_robot_if_needed.xml
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/test/objectives_integration_test.py
Due: check-objective-favorites

deploy: fb1fdbcb128413136817133b4ff42126c3c16ccc
  pr-970/run-36103838913/hangar_sim/jazzy/report.html
  pr-970/run-36103838913/lab_sim/jazzy/report.html
Due: none

fix: forward-port build warning fixes to v10.1
  src/example_behaviors/CMakeLists.txt
  src/example_behaviors/include/example_behaviors/example_sam2_segmentation.hpp
  src/example_behaviors/package.xml
  src/example_behaviors/src/example_ndt_registration.cpp
  src/example_behaviors/src/example_ransac_registration.cpp
  src/example_behaviors/src/example_sam2_segmentation.cpp
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/src/protective_stop_manager_node.cpp
Due: check-objective-favorites

deploy: 56604a15a0ed1eee74681a9c9e14d11a81f8d4e8
  pr-1003/run-36445921057/hangar_sim/jazzy/report.html
  pr-1003/run-36445921057/lab_sim/jazzy/report.html
Due: none

deploy: 733bbe00eb82fa82ed652d66fe6483ef5e056373
  pr-970/run-36451338884/hangar_sim/jazzy/report.html
  pr-970/run-36451338884/lab_sim/jazzy/report.html
Due: none

fix(lab_sim): finish bottle loop on empty detections
  src/lab_sim/CMakeLists.txt
  src/lab_sim/objectives/apriltag_pick_object.xml
  src/lab_sim/objectives/detect_apriltags_on_table.xml
  src/lab_sim/objectives/pick_all_bottles_with_apriltags.xml
  src/lab_sim/objectives/pick_from_apriltag_detections.xml
  src/lab_sim/package.xml
  src/lab_sim/test/test_bottle_pick_loop.cpp
Due: check-objective-favorites

deploy: b60c2ae4de7dfb82a794695ea6062186daad3bc7
  pr-987/run-36474389201/hangar_sim/jazzy/report.html
  pr-987/run-36474389201/lab_sim/jazzy/report.html
Due: none

deploy: b60c2ae4de7dfb82a794695ea6062186daad3bc7
  pr-987/run-36474389201/lab_sim/jazzy/report.html
Due: none

feat(microduck): add policy simulation with head camera and hangar
  .gitignore
  src/microduck_sim/CMakeLists.txt
  src/microduck_sim/README.md
  src/microduck_sim/config/config.yaml
  src/microduck_sim/config/controllers.yaml
  src/microduck_sim/config/joint_jog.yaml
  src/microduck_sim/config/joint_limits.yaml
  src/microduck_sim/config/kinematics.yaml
  src/microduck_sim/config/microduck.srdf
  src/microduck_sim/config/pose_jog.yaml
  src/microduck_sim/dependencies.repos
  src/microduck_sim/description/microduck.urdf.xacro
  src/microduck_sim/launch/runtime.launch.xml
  src/microduck_sim/launch/simulation.launch.py
  src/microduck_sim/objectives/forward.xml
  src/microduck_sim/objectives/left.xml
  src/microduck_sim/objectives/look_center.xml
  src/microduck_sim/objectives/look_left.xml
  src/microduck_sim/objectives/look_right.xml
  src/microduck_sim/objectives/reset.xml
  src/microduck_sim/objectives/reset_mujoco_sim.xml
  src/microduck_sim/objectives/right.xml
  src/microduck_sim/objectives/stand.xml
  src/microduck_sim/package.xml
  src/microduck_sim/script/microduck_bridge.py
  src/microduck_sim/script/policy_sim.py
  src/microduck_sim/test/test_policy_sim.py
  src/microduck_sim/test/verify_live_runtime.py
  src/microduck_sim/training/README.md
  src/microduck_sim/training/mjlab-rocm.patch
  src/microduck_sim/training/mujoco-warp-rocm.patch
  src/microduck_sim/waypoints/waypoints.yaml
Due: check-objective-favorites, check-mujoco-viewer

deploy: 488581a3c978854bc4f71c26773fbfd9805af23d
  pr-1004/run-36482648767/hangar_sim/jazzy/report.html
  pr-1004/run-36482648767/lab_sim/jazzy/report.html
Due: none

feat(vla): serve policies with the host GPU target
  docker-compose.yaml
  src/vla_sim/config/vla_serving.yaml
  src/vla_sim/docker/Dockerfile.vla_inference_server
  src/vla_sim/docker/README.md
  src/vla_sim/docker/test_vla_inference_server.py
  src/vla_sim/docker/vla_inference_server.py
Due: none

deploy: 84d10d856fc4068bb4ac0406b5365b9c4e7bc386
  pr-1004/run-36509989645/hangar_sim/jazzy/report.html
  pr-1004/run-36509989645/lab_sim/jazzy/report.html
Due: none

fix(vla_sim): key the ROCm serving stage on a version-free suffix
  src/vla_sim/docker/Dockerfile.vla_inference_server
  src/vla_sim/docker/README.md
Due: none

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
