Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

deploy: 45aed9cb6095be2cfc1c30cf45a4054ebafa2979
  pr-869/run-33822719887/hangar_sim/jazzy/report.html
  pr-869/run-33822719887/lab_sim/jazzy/report.html
Due: none

fix(lunar_sim_behaviors): declare moveit_studio_internal_msgs to fix downstream find_package failure
  src/lunar_sim_behaviors/CMakeLists.txt
  src/lunar_sim_behaviors/package.xml
Due: check-objective-favorites

deploy: 8fd4c156ba77f36635f18be5884a32022aadab99
  pr-869/run-33824557319/hangar_sim/jazzy/report.html
  pr-869/run-33824557319/lab_sim/jazzy/report.html
Due: none

feat(vla_sim): collect a scripted red-block pick demonstration
  src/vla_sim/CMakeLists.txt
  src/vla_sim/README.md
  src/vla_sim/config/config.yaml
  src/vla_sim/launch/simulated_extras.launch.py
  src/vla_sim/objectives/close_gripper.xml
  src/vla_sim/objectives/collect_the_red_block_pick.xml
  src/vla_sim/objectives/open_gripper.xml
  src/vla_sim/objectives/pick_from_pose.xml
  src/vla_sim/objectives/pick_the_red_block.xml
  src/vla_sim/package.xml
  src/vla_sim/script/joint_command_bridge.py
  src/vla_sim/test/test_joint_command_bridge.py
Due: check-objective-favorites, check-mujoco-viewer

tune(lunar_sim): slow the square-drive objective's publish cadence
  src/lunar_sim/objectives/drive_square.xml
Due: check-objective-favorites

fix(lunar_sim_behaviors): drop proprietary header from BSD-licensed source
  src/lunar_sim_behaviors/include/lunar_sim_behaviors/publish_twist_stamped.hpp
  src/lunar_sim_behaviors/src/publish_twist_stamped.cpp
  src/lunar_sim_behaviors/src/register_behaviors.cpp
  src/lunar_sim_behaviors/test/test_behavior_plugins.cpp
Due: none

deploy: f5ce689aa870f7b0e2eccf474e40cc01cf0c4aef
  pr-869/run-33826583002/hangar_sim/jazzy/report.html
  pr-869/run-33826583002/lab_sim/jazzy/report.html
Due: none

deploy: 32a24848874d7724de382e7d4268d356fa29a59b
  pr-869/run-33826732237/hangar_sim/jazzy/report.html
  pr-869/run-33826732237/lab_sim/jazzy/report.html
Due: none

fix(vla_sim): confirm the lift, and keep the bridge out of the robot's way
  src/vla_sim/README.md
  src/vla_sim/launch/simulated_extras.launch.py
  src/vla_sim/objectives/close_gripper.xml
  src/vla_sim/objectives/open_gripper.xml
  src/vla_sim/objectives/pick_the_red_block.xml
  src/vla_sim/script/joint_command_bridge.py
  src/vla_sim/test/test_joint_command_bridge.py
Due: check-objective-favorites

deploy: 1b7215db6b08a21d282b846033acedff0bda1aca
  pr-898/run-33828302946/hangar_sim/jazzy/report.html
  pr-898/run-33828302946/lab_sim/jazzy/report.html
Due: none

fix(vla_sim): yaw the grasp a quarter turn, and widen the IK search
  src/vla_sim/objectives/pick_from_pose.xml
  src/vla_sim/objectives/pick_the_red_block.xml
  src/vla_sim/script/joint_command_bridge.py
Due: check-objective-favorites

refactor(vla_sim): mirror lab_sim's pick, and yaw the grasp the other way
  src/vla_sim/README.md
  src/vla_sim/objectives/collect_the_red_block_pick.xml
  src/vla_sim/objectives/pick_the_red_block.xml
Due: check-objective-favorites

deploy: e4fa053ef88a9f30ce8c1f2f7048391d071a1e44
  pr-898/run-33830588194/hangar_sim/jazzy/report.html
  pr-898/run-33830588194/lab_sim/jazzy/report.html
Due: none

docs(vla_sim): trim the collection Objective's comments to lab_sim's weight
  src/vla_sim/objectives/collect_the_red_block_pick.xml
Due: check-objective-favorites

docs(vla_sim): document the code as it stands, not how it got here
  src/vla_sim/README.md
  src/vla_sim/objectives/collect_the_red_block_pick.xml
  src/vla_sim/objectives/pick_from_pose.xml
  src/vla_sim/objectives/pick_the_red_block.xml
Due: check-objective-favorites

deploy: 8963cec619d7d0c3d104c24efc4e272a74d3271f
  pr-898/run-33831248522/hangar_sim/jazzy/report.html
  pr-898/run-33831248522/lab_sim/jazzy/report.html
Due: none

fix(lunar_sim): correct Drive Square corner angle, export moveit_studio_internal_msgs
  src/lunar_sim/objectives/drive_square.xml
  src/lunar_sim_behaviors/CMakeLists.txt
  src/lunar_sim_behaviors/package.xml
Due: check-objective-favorites

deploy: b5199eef7ec381297e6aa2e88a818fe804de8cca
  pr-898/run-33831662255/hangar_sim/jazzy/report.html
  pr-898/run-33831662255/lab_sim/jazzy/report.html
Due: none

deploy: 2c403198ecf9d728715fb2c59fa3ba4cba2e7724
  pr-898/run-33832160286/hangar_sim/jazzy/report.html
  pr-898/run-33832160286/lab_sim/jazzy/report.html
Due: none

deploy: 50d07b910471d3bdece7a64593fd8bcdc4a3a487
  pr-869/run-33832465434/hangar_sim/jazzy/report.html
  pr-869/run-33832465434/lab_sim/jazzy/report.html
Due: none

deploy: dc324d23d278a12ccbf755076de0eeb83ac81a2b
  pr-900/run-33863131308/hangar_sim/jazzy/report.html
Due: none

deploy: fdd32d1f5ec30b0073543538a4e67ce1b2595ac5
  pr-900/run-33866863622/hangar_sim/jazzy/report.html
  pr-900/run-33866863622/lab_sim/jazzy/report.html
Due: none

deploy: cf5ea873bcee6601fb5fcae03593acc71a9b9f4a
  pr-900/run-33873649298/hangar_sim/jazzy/report.html
  pr-900/run-33873649298/lab_sim/jazzy/report.html
Due: none

feat(lab_sim): add surface coverage demo objectives
  src/lab_sim/objectives/record_surface_coverage_demo.xml
  src/lab_sim/objectives/select_region_and_record_coverage.xml
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

deploy: fe6ae8dbe716be5c1ee9ace0f06f26efe450c51d
  pr-900/run-33876609742/hangar_sim/jazzy/report.html
  pr-900/run-33876609742/lab_sim/jazzy/report.html
Due: none

fix(lunar_sim): refresh the cmd_vel timestamp on every republish in Drive Square
  src/lunar_sim/objectives/drive_square.xml
Due: check-objective-favorites

docs(lunar_sim): rename Drive Square to Dead Reckon Square, document the fresh-stamp requirement
  src/lunar_sim/objectives/dead_reckon_square.xml
Due: check-objective-favorites

deploy: 3951f131b3f261e914971d9c3dd5e1ef86797ff0
  pr-869/run-33887761508/hangar_sim/jazzy/report.html
  pr-869/run-33887761508/lab_sim/jazzy/report.html
Due: none

deploy: 2912518a7dcb2e63c475ba8aec8ac694e80f3848
  pr-869/run-33888906972/hangar_sim/jazzy/report.html
  pr-869/run-33888906972/lab_sim/jazzy/report.html
Due: none

deploy: 2f214766e426d929f5e2fd71a3744d914623fdca
  pr-901/run-33897909258/hangar_sim/jazzy/report.html
  pr-901/run-33897909258/lab_sim/jazzy/report.html
Due: none

deploy: 076ef9aa96508a4f98e44c7c373a8aa517be127f
  pr-903/run-33899482860/hangar_sim/jazzy/report.html
  pr-903/run-33899482860/lab_sim/jazzy/report.html
Due: none

deploy: 27207df6a63f2307c0e965842062411fd62d872d
  pr-902/run-33899474392/hangar_sim/jazzy/report.html
  pr-902/run-33899474392/lab_sim/jazzy/report.html
Due: none

deploy: 3b5086928d6925192093817d834d079f119a5991
  pr-902/run-33905593665/hangar_sim/jazzy/report.html
  pr-902/run-33905593665/lab_sim/jazzy/report.html
Due: none

deploy: 2ad96f4359836b23d91fe9ac91cdd16e5449dc26
  pr-901/run-33905587164/hangar_sim/jazzy/report.html
  pr-901/run-33905587164/lab_sim/jazzy/report.html
Due: none

deploy: 5d0da0b2c950e98817445c39692951f4aed7be08
  pr-901/run-33908274541/hangar_sim/jazzy/report.html
  pr-901/run-33908274541/lab_sim/jazzy/report.html
Due: none

deploy: 9e51528616a1dcb60101e3dc7ba608425ff856da
  pr-902/run-33910084501/hangar_sim/jazzy/report.html
  pr-902/run-33910084501/lab_sim/jazzy/report.html
Due: none

deploy: 7c89fc8d02af85070f768ddce692ef2dffd4d526
  pr-901/run-33910076304/hangar_sim/jazzy/report.html
  pr-901/run-33910076304/lab_sim/jazzy/report.html
Due: none

deploy: a91aebb37f5b6f1f7108f1dd4ddf928d12b7f693
  pr-903/run-33910093874/hangar_sim/jazzy/report.html
  pr-903/run-33910093874/lab_sim/jazzy/report.html
Due: none

feat(deps): report vendored dependency drift from upstream
  .github/workflows/ci.yaml
  README.md
  bin/tests/test_vendored_dependency.py
  bin/vendored_dependency.py
Due: none

ci: file a weekly issue when vendored dependencies drift upstream
  .github/workflows/ci.yaml
Due: none

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
