Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

fix(lab_sim): make the MPC Pose Tracking target path continuous
  src/lab_sim/objectives/mpc_pose_tracking.xml
Due: check-objective-favorites

Initial commit
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/CMakeLists.txt
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/LICENSE
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/README.md
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/config/config.yaml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/config/control/franka_ros2_control.yaml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/config/moveit/joint_jog.yaml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/config/moveit/joint_limits.yaml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/config/moveit/mobile_fr3_duo.srdf
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/config/moveit/pose_ik_distance.yaml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/config/moveit/pose_ik_speed.yaml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/config/moveit/pose_jog.yaml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/config/moveit/sensors_3d.yaml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/description/mobile_fr3_duo.xacro
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/description/mobile_fr3_duo_macro.xacro
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/launch/agent_bridge.launch.xml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/launch/moveit_pro.launch.xml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/objectives/close_gripper.xml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/objectives/open_gripper.xml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/package.xml
  src/moveit_pro_franka_configs/mobile_fr3_duo_base_config/waypoints/waypoints.yaml
Due: check-objective-favorites, check-mujoco-viewer

fix: align Franka end-effector orientation with MuJoCo in kitchen_sim and dual_arm_sim
  src/dual_arm_sim/description/franka.urdf.xacro
  src/kitchen_sim/description/franka.urdf.xacro
Due: none

fix(hangar_sim): stop base pirouette by biasing pick IK yaw
  src/hangar_sim/config/moveit/pose_ik_distance.yaml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

fix(dual_arm_sim): tidy up the Sort Blocks objective
  src/dual_arm_sim/objectives/sort_blocks.xml
Due: check-objective-favorites

fix(hangar_sim): move to View Boxes before text segmentation
  src/hangar_sim/objectives/segment_image_from_text_prompt.xml
Due: check-objective-favorites

fix: configure safe colcon overrides
  colcon-defaults.yaml
Due: none

feat: hangar_sim, add beluga_amcl localization
  src/hangar_sim/launch/sim/localization_launch.py
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/package.xml
  src/hangar_sim/params/nav2_params.yaml
Due: check-objective-favorites

deploy: 9572777a0d2bc068d90d3f3f60fb053c63933327
  pr-740/run-28206368646/hangar_sim/jazzy/report.html
  pr-740/run-28206368646/lab_sim/jazzy/report.html
Due: none

feat(hangar_sim): persist placed boxes as planning-scene obstacles
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/description/vacuum.xml
  src/hangar_sim/objectives/ml_move_boxes_to_loading_zone.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

fix: add trailing newline to git-lfs .gitattributes files
  src/factory_sim/objectives/.gitattributes
  src/hangar_sim/description/assets/.gitattributes
  src/hangar_sim/images/.gitattributes
  src/hangar_sim/maps/.gitattributes
  src/moveit_pro_franka_configs/kitchen_sim/description/mujoco/assets/kitchen_assets/textures/.gitattributes
  src/moveit_pro_kinova_configs/kinova_sim/description/mujoco/assets/.gitattributes
  src/moveit_pro_kinova_configs/space_satellite_sim/description/mujoco/assets/.gitattributes
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/description/mujoco/assets/.gitattributes
  src/moveit_pro_ur_configs/mock_sim/meshes/.gitattributes
Due: none

fix(config): update mujoco_viewer setting and correct plugin paths in nav2_params
  src/moveit_pro_franka_configs/moveit_pro_mobile_fr3_duo_configs/mobile_fr3_duo_sim_config/config/config.yaml
  src/moveit_pro_franka_configs/moveit_pro_mobile_fr3_duo_configs/mobile_fr3_duo_sim_config/params/nav2_params.yaml
Due: check-mujoco-viewer

feat(hangar_sim): migrate ML Move Boxes perception to SAM3
  src/hangar_sim/objectives/calibrate_sam3_mask_areas.xml
  src/hangar_sim/objectives/ml_move_boxes_to_loading_zone.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

feat(hangar_sim): persist placed boxes as planning-scene obstacles
  src/hangar_sim/objectives/calibrate_sam3_mask_areas.xml
  src/hangar_sim/objectives/ml_move_boxes_to_loading_zone.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

feat(hangar_sim): add post-grasp lift and tune pick for speed/yaw
  src/hangar_sim/objectives/ml_move_boxes_to_loading_zone.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
