Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

no-mistakes(document): List rebot_bench_mock config and apply pre-commit formatting
  README.md
  src/rebot_bench_mock/README.md
  src/rebot_bench_mock/config/moveit/rebot.srdf
  src/rebot_bench_mock/description/rebot.urdf
  src/rebot_bench_mock/launch/runtime.launch.xml
  src/rebot_bench_mock/objectives/close_gripper.xml
  src/rebot_bench_mock/objectives/move_rebot_to_waypoint.xml
  src/rebot_bench_mock/objectives/open_gripper.xml
  src/rebot_bench_mock/package.xml
  src/rebot_bench_mock/test/test_model.py
  src/rebot_bench_mock/test/verify_mock_execution.py
Due: check-objective-favorites

deploy: d74011d99a03624d2327ed8c6a0b227d05b6b5df
  pr-1032/run-37977891492/hangar_sim/jazzy/report.html
  pr-1032/run-37977891492/lab_sim/jazzy/report.html
Due: none

deploy: 0eb3d1e5513ff8d8c95dce75f1abfc33f7df5b8d
  pr-1033/run-37977905051/hangar_sim/jazzy/report.html
  pr-1033/run-37977905051/lab_sim/jazzy/report.html
Due: none

deploy: 18421543f59fc73a1bfefce7b14af09c116c8854
  pr-1044/run-37978984572/hangar_sim/jazzy/report.html
  pr-1044/run-37978984572/lab_sim/jazzy/report.html
Due: none

Bump version to 10.0.1
  src/april_tag_sim/package.xml
  src/behavior_hub_catalog/package.xml
  src/dual_arm_sim/package.xml
  src/example_behaviors/package.xml
  src/factory_sim/package.xml
  src/grinding_sim/package.xml
  src/hangar_sim/package.xml
  src/kitchen_sim/package.xml
  src/lab_sim/package.xml
  src/lab_sim_behaviors/package.xml
  src/lunar_sim/package.xml
  src/moveit_pro_franka_configs/franka_base_config/package.xml
  src/moveit_pro_kinova_configs/kinova_gen3_base_config/package.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/package.xml
  src/moveit_pro_kinova_configs/kinova_sim/package.xml
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/package.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/package.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/package.xml
  src/moveit_pro_sam3/package.xml
  src/moveit_pro_ur_configs/mock_sim/package.xml
  src/moveit_pro_ur_configs/multi_arm_sim/package.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/package.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/package.xml
  src/picknik_accessories/package.xml
  src/vla_sim/package.xml
Due: check-objective-favorites

feat(kitchen_sim, dual_arm_sim): make them standalone; remove franka_base_config
  .gitattributes
  AGENTS.md
  README.md
  src/dual_arm_sim/config/config.yaml
  src/dual_arm_sim/config/moveit/franka.srdf
  src/dual_arm_sim/config/moveit/pose_ik_distance.yaml
  src/dual_arm_sim/config/moveit/pose_ik_speed.yaml
  src/dual_arm_sim/objectives/open_gripper.xml
  src/dual_arm_sim/objectives/open_left_gripper.xml
  src/dual_arm_sim/objectives/open_right_gripper.xml
  src/dual_arm_sim/package.xml
  src/kitchen_sim/config/config.yaml
  src/kitchen_sim/config/moveit/franka.srdf
  src/kitchen_sim/config/moveit/joint_jog.yaml
  src/kitchen_sim/config/moveit/joint_limits.yaml
  src/kitchen_sim/config/moveit/pose_ik_distance.yaml
  src/kitchen_sim/config/moveit/pose_jog.yaml
  src/kitchen_sim/config/moveit/sensors_3d.yaml
  src/kitchen_sim/objectives/close_gripper.xml
  src/kitchen_sim/objectives/open_gripper.xml
  src/kitchen_sim/package.xml
  src/moveit_pro_franka_configs/franka_base_config/CMakeLists.txt
  src/moveit_pro_franka_configs/franka_base_config/MOVEIT_PRO_IGNORE
  src/moveit_pro_franka_configs/franka_base_config/README.md
  src/moveit_pro_franka_configs/franka_base_config/config/config.yaml
  src/moveit_pro_franka_configs/franka_base_config/config/moveit/pose_ik_speed.yaml
  src/moveit_pro_franka_configs/franka_base_config/launch/runtime.launch.xml
  src/moveit_pro_franka_configs/franka_base_config/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/moveit_pro_franka_configs/franka_base_config/package.xml
Due: check-objective-favorites, check-mujoco-viewer

fix(rebot): validate mock execution from the zeroed rest pose
  src/rebot_bench_mock/README.md
  src/rebot_bench_mock/config/moveit/rebot.srdf
  src/rebot_bench_mock/description/rebot.urdf
  src/rebot_bench_mock/docs/runtime-acceptance.json
  src/rebot_bench_mock/objectives/close_gripper.xml
  src/rebot_bench_mock/objectives/move_rebot_to_waypoint.xml
  src/rebot_bench_mock/objectives/open_gripper.xml
  src/rebot_bench_mock/package.xml
  src/rebot_bench_mock/test/test_model.py
  src/rebot_bench_mock/test/verify_mock_execution.py
Due: check-objective-favorites

deploy: de63f5a3d40fcd45750f1f8bc0c3634b6e69f4f4
  pr-1032/run-37987861101/hangar_sim/jazzy/report.html
  pr-1032/run-37987861101/lab_sim/jazzy/report.html
Due: none

deploy: 328e98e49a2ad1f2b639a9de464e3a06c145403d
  pr-1044/run-37989805160/hangar_sim/jazzy/report.html
  pr-1044/run-37989805160/lab_sim/jazzy/report.html
Due: none

feat(vla): select native pi0.5 with RTC
  src/vla_sim/README.md
  src/vla_sim/objectives/stack_cubes_with_the_vla_policy.xml
Due: check-objective-favorites

fix(rebot_bench_mock): enable arm and bounded gripper jogging
  src/rebot_bench_mock/CMakeLists.txt
  src/rebot_bench_mock/README.md
  src/rebot_bench_mock/config/config.yaml
  src/rebot_bench_mock/config/control/rebot.ros2_control.yaml
  src/rebot_bench_mock/config/moveit/joint_jog.yaml
  src/rebot_bench_mock/docs/teleop-acceptance.json
  src/rebot_bench_mock/objectives/teleoperate.xml
  src/rebot_bench_mock/package.xml
  src/rebot_bench_mock/test/test_model.py
  src/rebot_bench_mock/test/verify_mock_execution.py
  src/rebot_bench_mock/test/verify_mock_gripper_jog.py
Due: check-objective-favorites, check-mujoco-viewer

no-mistakes(review): Route rebot Teleoperate wrapper through JTC controller
  src/rebot_bench_mock/README.md
  src/rebot_bench_mock/objectives/teleoperate.xml
Due: check-objective-favorites

no-mistakes(document): Correct rebot README zero-padding Objective count
  src/rebot_bench_mock/README.md
Due: none

deploy: 02e0fa85c14dbc14b1e0dfa01288ae6984dfc236
  pr-1044/run-38012582437/hangar_sim/jazzy/report.html
  pr-1044/run-38012582437/lab_sim/jazzy/report.html
Due: none

feat(rebot_bench_mock): add optional wrist and scene RGB cameras
  src/rebot_bench_mock/README.md
  src/rebot_bench_mock/config/cameras.yaml
  src/rebot_bench_mock/config/config.yaml
  src/rebot_bench_mock/description/NOTICE.md
  src/rebot_bench_mock/description/rebot.urdf
  src/rebot_bench_mock/docs/camera-acceptance.json
  src/rebot_bench_mock/launch/cameras.launch.py
  src/rebot_bench_mock/package.xml
Due: check-objective-favorites, check-mujoco-viewer

no-mistakes(document): Correct rebot scene-camera decode encoding to bgr8
  src/rebot_bench_mock/README.md
  src/rebot_bench_mock/config/cameras.yaml
Due: none

feat(external_dependencies): vendor the RobStride ros2_control driver
  src/external_dependencies/robstride_hardware_interface/UPSTREAM.yaml
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/CMakeLists.txt
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/LICENSE
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/README.md
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/include/robstride_hardware_interface/robstride_hardware_interface.hpp
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/package.xml
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/robstride_hardware_interface_plugin.xml
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/scripts/setup_can.sh
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/src/robstride_hardware_interface.cpp
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/test/fake_robstride_motor.hpp
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/test/test_deactivate_torque.cpp
  src/external_dependencies/robstride_interfaces/UPSTREAM.yaml
  src/external_dependencies/robstride_interfaces/robstride_interfaces/CMakeLists.txt
  src/external_dependencies/robstride_interfaces/robstride_interfaces/LICENSE
  src/external_dependencies/robstride_interfaces/robstride_interfaces/README.md
  src/external_dependencies/robstride_interfaces/robstride_interfaces/msg/RobstrideState.msg
  src/external_dependencies/robstride_interfaces/robstride_interfaces/package.xml
  src/external_dependencies/robstride_interfaces/robstride_interfaces/srv/GetDataFromRobstride.srv
  src/external_dependencies/robstride_interfaces/robstride_interfaces/srv/RebootRobstride.srv
  src/external_dependencies/robstride_interfaces/robstride_interfaces/srv/SetDataToRobstride.srv
  src/external_dependencies/robstride_interfaces/robstride_interfaces/srv/SetZeroRobstride.srv
  src/external_dependencies/robstride_sdk/UPSTREAM.yaml
  src/external_dependencies/robstride_sdk/robstride_sdk/CMakeLists.txt
  src/external_dependencies/robstride_sdk/robstride_sdk/LICENSE
  src/external_dependencies/robstride_sdk/robstride_sdk/README.md
  src/external_dependencies/robstride_sdk/robstride_sdk/include/robstride_sdk/can_bus.hpp
  src/external_dependencies/robstride_sdk/robstride_sdk/include/robstride_sdk/robstride_motor.hpp
  src/external_dependencies/robstride_sdk/robstride_sdk/include/robstride_sdk/robstride_protocol.hpp
  src/external_dependencies/robstride_sdk/robstride_sdk/package.xml
  src/external_dependencies/robstride_sdk/robstride_sdk/src/can_bus.cpp
Due: none

deploy: 6d6964e37f570dcbedad71fafb6a3559ed9b00d7
  pr-1044/run-38052602886/hangar_sim/jazzy/report.html
  pr-1044/run-38052602886/lab_sim/jazzy/report.html
Due: none

deploy: 3a56d3782de423c061e0e9276a6ca966f43380f1
  pr-1044/run-38058064509/hangar_sim/jazzy/report.html
  pr-1044/run-38058064509/lab_sim/jazzy/report.html
Due: none

fix(rebot): poll joint_states until the goal is reached in the mock acceptance check
  src/rebot_bench_base_config/test/verify_mock_execution.py
Due: none

deploy: ec84dc475d7fb667f3ddc0f95383b74de63e07be
  pr-1044/run-38079571371/hangar_sim/jazzy/report.html
  pr-1044/run-38079571371/lab_sim/jazzy/report.html
Due: none

fix(rebot_bench_base_config): drop unresolvable pose_ik_plugin exec_depend
  src/rebot_bench_base_config/package.xml
Due: check-objective-favorites

feat(rebot_bench_base_config): add KDL gravity compensation for impedance mode
  src/external_dependencies/robstride_hardware_interface/UPSTREAM.yaml
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/CMakeLists.txt
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/README.md
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/include/robstride_hardware_interface/robstride_hardware_interface.hpp
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/src/robstride_hardware_interface.cpp
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/test/test_fault_bits.cpp
  src/external_dependencies/robstride_hardware_interface/robstride_hardware_interface/test/test_feedforward.cpp
  src/kdl_gravity_compensation_controller/CMakeLists.txt
  src/kdl_gravity_compensation_controller/LICENSE
  src/kdl_gravity_compensation_controller/controller_plugins.xml
  src/kdl_gravity_compensation_controller/include/kdl_gravity_compensation_controller/gravity_compensation_controller.hpp
  src/kdl_gravity_compensation_controller/include/kdl_gravity_compensation_controller/gravity_model.hpp
  src/kdl_gravity_compensation_controller/package.xml
  src/kdl_gravity_compensation_controller/src/gravity_compensation_controller.cpp
  src/kdl_gravity_compensation_controller/src/gravity_model.cpp
  src/kdl_gravity_compensation_controller/test/test_gravity_compensation_controller.cpp
  src/rebot_bench_base_config/CMakeLists.txt
  src/rebot_bench_base_config/README.md
  src/rebot_bench_base_config/config/config.yaml
  src/rebot_bench_base_config/config/control/rebot.ros2_control.yaml
  src/rebot_bench_base_config/description/rebot.urdf.xacro
  src/rebot_bench_base_config/package.xml
  src/rebot_bench_base_config/test/test_gravity_compensation.cpp
  src/rebot_bench_base_config/test/test_hardware_selection.py
Due: check-objective-favorites, check-mujoco-viewer

deploy: 97516bdd6fd548ea7eba187317a4ef297d9614ea
  pr-1051/run-38095661762/hangar_sim/jazzy/report.html
  pr-1051/run-38095661762/lab_sim/jazzy/report.html
Due: none

deploy: 9acf3dae4c85925793d8c8b07405c04487656ff5
  pr-1051/run-38096387041/hangar_sim/jazzy/report.html
  pr-1051/run-38096387041/lab_sim/jazzy/report.html
Due: none

deploy: 5367a96abacb1241bb0ba8746bc6eca8b97b8990
  pr-1053/run-38096766683/hangar_sim/jazzy/report.html
  pr-1053/run-38096766683/lab_sim/jazzy/report.html
Due: none
