Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

deploy: 6e2b5cddf13d2a9b036388817d5e6ec8494b1a30
  pr-869/run-34536386839/hangar_sim/jazzy/report.html
  pr-869/run-34536386839/lab_sim/jazzy/report.html
Due: none

feat(so101_sim): replace the stock SO-101 jaws with the XLeRobot fin gripper
  src/so101_sim/NOTICE.md
  src/so101_sim/README.md
  src/so101_sim/description/assets/NOTICE.md
  src/so101_sim/description/assets/soft_fin_finger.stl
  src/so101_sim/description/assets/soft_fin_fixed_jaw.stl
  src/so101_sim/description/assets/soft_fin_fixed_jaw_collision.stl
  src/so101_sim/description/assets/soft_fin_moving_jaw.stl
  src/so101_sim/description/assets/soft_fin_moving_jaw_collision.stl
  src/so101_sim/description/so101.urdf.xacro
  src/so101_sim/package.xml
Due: check-objective-favorites

no-mistakes(review): un-skip refine objective with test-scoped gate override; widen alias sweep; correct localization comments
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/test/objectives_integration_test.py
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: check-objective-favorites

deploy: 79aa366a5f51890556b2fab9cff42f30c76219d7
  pr-869/run-34538450996/hangar_sim/jazzy/report.html
  pr-869/run-34538450996/lab_sim/jazzy/report.html
Due: none

no-mistakes(review): resolve override namespace from XML; refresh alias table and gate docs
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/script/dump_localization_calibration_data.py
  src/hangar_sim/test/objectives_integration_test.py
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/localization_gates.hpp
  src/hangar_sim_behaviors/test/test_localization_gates.cpp
Due: check-objective-favorites

deploy: 2f02fa16efbe47b3dcb2f274dcb4ae7200c57364
  pr-929/run-34538431281/hangar_sim/jazzy/report.html
  pr-929/run-34538431281/lab_sim/jazzy/report.html
Due: none

deploy: 2b2ce10b6f909b8a2a2a93e58f45ae02c1931775
  pr-930/run-34539146516/hangar_sim/jazzy/report.html
  pr-930/run-34539146516/lab_sim/jazzy/report.html
Due: none

no-mistakes(review): fold offset rings into calibration band; fix threshold guidance
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/localization_gates.hpp
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: check-objective-favorites

deploy: a34158df4c8020dcf9a52c390f4b171044548aa0
  pr-930/run-34540034839/hangar_sim/jazzy/report.html
  pr-930/run-34540034839/lab_sim/jazzy/report.html
Due: none

feat(so101_sim): drive the physical arm over the Feetech STS3215 bus
  AGENTS.md
  src/so101_sim/README.md
  src/so101_sim/config/config.yaml
  src/so101_sim/config/control/so101.ros2_control.yaml
  src/so101_sim/config/so101_follower_calibration.yaml
  src/so101_sim/config/udev/99-so101.rules
  src/so101_sim/description/so101.urdf.xacro
  src/so101_sim/launch/runtime.launch.xml
  src/so101_sim/objectives/mirror_follower.xml
  src/so101_sim/package.xml
  src/so101_sim/script/so101_arm_bridge.py
  src/so101_sim/test/test_so101_arm_bridge.py
Due: check-objective-favorites, check-mujoco-viewer

no-mistakes(review): guard nav cold-boot seed; correct calibration band and coverage claims
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/script/dump_localization_calibration_data.py
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/localization_gates.hpp
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: check-objective-favorites

feat(hangar_sim): add Build Map objective
  src/hangar_sim/objectives/build_map.xml
Due: check-objective-favorites

deploy: 56c87535c89c8adac484ae1e72087765c3f7a227
  pr-930/run-34541452681/hangar_sim/jazzy/report.html
  pr-930/run-34541452681/lab_sim/jazzy/report.html
Due: none

no-mistakes(review): localize in place when the filter is unseeded
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
Due: check-objective-favorites

no-mistakes(review): gate cold-boot localize fallback on IsUserAvailable
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/test/objectives_integration_test.py
Due: check-objective-favorites

no-mistakes(review): invert no-UI guard; name real IsUserAvailable topic; harden yaw test
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim_behaviors/test/test_planar_pose.cpp
Due: check-objective-favorites

feat(hangar_sim): load the SLAM Behaviors package for Build Map
  src/hangar_sim/config/config.yaml
  src/hangar_sim/package.xml
Due: check-objective-favorites, check-mujoco-viewer

no-mistakes(review): give each rejection its own reason; guard relabel input frame
  src/hangar_sim/objectives/localize_robot.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/reinterpret_pose_frame.hpp
  src/hangar_sim_behaviors/src/reinterpret_pose_frame.cpp
Due: check-objective-favorites

no-mistakes(review): state observed symptoms, not unestablished causes, in failure messages
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
Due: check-objective-favorites

no-mistakes(review): record calibration history; drop redundant rejection hop; sync amcl comment
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/localization_gates.hpp
Due: check-objective-favorites

no-mistakes(review): reject non-free alias candidates; correct two stale claims
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/localization_gates.hpp
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: check-objective-favorites

deploy: cc2e79aa98c2b3348df3ac4b9d7b5b760c80647b
  pr-932/run-34547648599/hangar_sim/jazzy/report.html
  pr-932/run-34547648599/lab_sim/jazzy/report.html
Due: none

refactor(hangar_sim_behaviors): drop the offline calibration tool
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/objectives/refine_localization_in_place.xml
  src/hangar_sim/objectives/refine_localization_in_place_subtree.xml
  src/hangar_sim/script/dump_localization_calibration_data.py
  src/hangar_sim/test/objectives_integration_test.py
  src/hangar_sim_behaviors/CMakeLists.txt
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/calibration_io.hpp
  src/hangar_sim_behaviors/include/hangar_sim_behaviors/localization_gates.hpp
  src/hangar_sim_behaviors/src/calibration_io.cpp
  src/hangar_sim_behaviors/test/test_localization_gates.cpp
  src/hangar_sim_behaviors/tools/calibrate_scan_match_gate.cpp
Due: check-objective-favorites

deploy: a070de9e8a01b1455e06ba5b163d2b3eca9914f9
  pr-932/run-34549102537/hangar_sim/jazzy/report.html
  pr-932/run-34549102537/lab_sim/jazzy/report.html
Due: none

deploy: 5a660e3c89b2cfa9a1ac265845cec1b453c68286
  pr-933/run-34549182731/hangar_sim/jazzy/report.html
  pr-933/run-34549182731/lab_sim/jazzy/report.html
Due: none

deploy: 42afa4f13177b6ff0b1785e9438f055d15d8e38e
  pr-933/run-34550131613/hangar_sim/jazzy/report.html
  pr-933/run-34550131613/lab_sim/jazzy/report.html
Due: none

deploy: 7c790ab8d8fb5d5c7a158769c0eacbce9c1d7fd6
  pr-932/run-34550490958/hangar_sim/jazzy/report.html
  pr-932/run-34550490958/lab_sim/jazzy/report.html
Due: none

fix(hand_eye_calibration_sim): rename the flange board to arm board
  src/hand_eye_calibration_sim/description/assets/charuco_arm_board.png
  src/hand_eye_calibration_sim/description/scene.xml
  src/hand_eye_calibration_sim/description/ur5e_hand_eye.xml
  src/hand_eye_calibration_sim/scripts/generate_charuco_boards.py
Due: check-objective-favorites

deploy: 864f63592a40548283da9842ff3d65ec14540a26
  pr-934/run-34580378128/hangar_sim/jazzy/report.html
  pr-934/run-34580378128/lab_sim/jazzy/report.html
Due: none

feat(so101_sim): make servo torque follow the ros2_control lifecycle
  README.md
  colcon-defaults.yaml
  src/external_dependencies/feetech_ros2_driver/UPSTREAM.yaml
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/CMakeLists.txt
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/LICENSE
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/CMakeLists.txt
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/cmake/feetech_driver-config.cmake.in
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/examples/demo.cpp
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/include/feetech_driver/SMS_STS.h
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/include/feetech_driver/common.hpp
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/include/feetech_driver/communication_protocol.hpp
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/include/feetech_driver/serial_port.hpp
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/include/feetech_driver/version.hpp
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/src/communication_protocol.cpp
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/src/serial_port.cpp
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_ros2_control_plugin_description.xml
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/include/feetech_ros2_driver/feetech_ros2_driver.hpp
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/package.xml
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/src/feetech_ros2_driver.cpp
  src/so101_sim/CMakeLists.txt
  src/so101_sim/README.md
  src/so101_sim/config/config.yaml
  src/so101_sim/description/so101.urdf.xacro
  src/so101_sim/package.xml
  src/so101_sim/test/test_hardware_plugin.py
Due: check-objective-favorites, check-mujoco-viewer

deploy: 49a46d73bddc428e152d2532586f4bb11a26ae0f
  pr-932/run-34609425715/hangar_sim/jazzy/report.html
  pr-932/run-34609425715/lab_sim/jazzy/report.html
Due: none

fix(lunar_sim): publish mj_world -> odom so the scene camera frame resolves in odom
  src/lunar_sim/README.md
  src/lunar_sim/config/frontend_settings.yaml
  src/lunar_sim/description/husky_a300_mujoco.xacro
Due: none

fix(so101_sim): fail activation on a bad read and check each servo's torque ack
  src/external_dependencies/feetech_ros2_driver/UPSTREAM.yaml
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/feetech_driver/src/communication_protocol.cpp
  src/external_dependencies/feetech_ros2_driver/feetech_ros2_driver/src/feetech_ros2_driver.cpp
  src/so101_sim/README.md
Due: none

fix(lunar_sim): make Teleoperate fail visibly instead of silently doing nothing
  src/lunar_sim/objectives/request_teleoperation.xml
Due: check-objective-favorites

deploy: c5b9b19bb10ab0834d6f2682e9476c2212d7bf8e
  pr-932/run-34627971528/hangar_sim/jazzy/report.html
  pr-932/run-34627971528/lab_sim/jazzy/report.html
Due: none

deploy: f72886ef9422b2a299128de7a2bca5f5a02a47ef
  pr-869/run-34628496102/hangar_sim/jazzy/report.html
  pr-869/run-34628496102/lab_sim/jazzy/report.html
Due: none

deploy: 1ceb821b26637fa6ea6ebad1c37b1d43c05b682c
  pr-869/run-34627920792/hangar_sim/jazzy/report.html
  pr-869/run-34627920792/lab_sim/jazzy/report.html
Due: none

feat(lunar_sim): drive the Husky base over cmd_vel during teleoperation
  src/lunar_sim/README.md
  src/lunar_sim/config/moveit/joint_jog.yaml
  src/lunar_sim/config/moveit/pose_jog.yaml
  src/lunar_sim/objectives/request_teleoperation.xml
  src/lunar_sim_behaviors/CMakeLists.txt
  src/lunar_sim_behaviors/include/lunar_sim_behaviors/teleoperate_base.hpp
  src/lunar_sim_behaviors/package.xml
  src/lunar_sim_behaviors/src/register_behaviors.cpp
  src/lunar_sim_behaviors/src/teleoperate_base.cpp
  src/lunar_sim_behaviors/test/CMakeLists.txt
  src/lunar_sim_behaviors/test/test_behavior_plugins.cpp
  src/lunar_sim_behaviors/test/test_teleoperate_base_twist_mapping.cpp
Due: check-objective-favorites

no-mistakes(review): honor velocity_controlled_axes flags; fix pose_jog.yaml dataflow comment
  src/lunar_sim/config/moveit/pose_jog.yaml
  src/lunar_sim_behaviors/include/lunar_sim_behaviors/teleoperate_base.hpp
  src/lunar_sim_behaviors/src/teleoperate_base.cpp
  src/lunar_sim_behaviors/test/test_teleoperate_base_twist_mapping.cpp
Due: none

fix(kitchen_sim): port Segment Image from Prompt to SAM3
  README.md
  src/kitchen_sim/objectives/segment_image_from_prompt.xml
  src/kitchen_sim/package.xml
Due: check-objective-favorites
