Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

deploy: 4e48bde1428b61fe5f34089ee904c8a20d8ce776
  pr-882/run-32903394760/hangar_sim/jazzy/report.html
  pr-882/run-32903394760/lab_sim/jazzy/report.html
Due: none

deploy: 3f0efd25906287f66e7c9c228e1c242ca62cb9fd
  pr-882/run-32903566862/hangar_sim/jazzy/report.html
  pr-882/run-32903566862/lab_sim/jazzy/report.html
Due: none

deploy: fd134c985716b3dccc0c9a1881deb22846671f30
  pr-883/run-32911469122/hangar_sim/jazzy/report.html
  pr-883/run-32911469122/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): enable MPPI open_loop on the 9.4 Jazzy line
  src/hangar_sim/params/nav2_params.yaml
Due: none

deploy: 1031e874440a6fcb29bba64687c09ce478e5bd55
  pr-884/run-32913465882/hangar_sim/jazzy/report.html
  pr-884/run-32913465882/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): extract slip_aware_odom logic, add localization staleness guards
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/include/hangar_sim/slip_aware_odom_logic.hpp
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/src/amcl_odom_gate.cpp
  src/hangar_sim/src/odom_world_drift.cpp
  src/hangar_sim/src/slip_aware_odom.cpp
  src/hangar_sim/test/test_slip_aware_odom.cpp
Due: none

fix(hangar_sim): take ground truth from the robot chain, not a MuJoCo site
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
Due: check-objective-favorites

feat(hangar_sim): fuse odometry localization for the mobile base
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/include/hangar_sim/amcl_odom_gate_logic.hpp
  src/hangar_sim/include/hangar_sim/odom_world_drift_logic.hpp
  src/hangar_sim/include/hangar_sim/se2.hpp
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/package.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/src/amcl_odom_gate.cpp
  src/hangar_sim/src/amcl_odom_gate_logic.cpp
  src/hangar_sim/src/odom_world_drift.cpp
  src/hangar_sim/src/slip_aware_odom.cpp
  src/hangar_sim/test/test_amcl_odom_gate.cpp
  src/hangar_sim/test/test_odom_world_drift.cpp
Due: check-objective-favorites

fix(hangar_sim): drop the dead /odom_reliable relay
  src/hangar_sim/script/odom_qos_relay.py
Due: none

fix(hangar_sim): correct the mecanum wheel rolling radius to 0.0756
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
Due: none

fix(hangar_sim): restore the AMCL motion-model alphas to their pre-drift values
  src/hangar_sim/params/nav2_params.yaml
Due: none

docs: record the mecanum rolling-radius vs outer-radius distinction
  CLAUDE.md
Due: none

deploy: 305ba0670a14af39b551860b4efe393fd01310d9
  pr-790/run-32915161160/hangar_sim/jazzy/report.html
  pr-790/run-32915161160/lab_sim/jazzy/report.html
Due: none

deploy: 5690e52e9f57b3441d691f5855a29ea5443a14a1
  pr-790/run-32915910660/hangar_sim/jazzy/report.html
  pr-790/run-32915910660/lab_sim/jazzy/report.html
Due: none

deploy: 126c5fe9872fa20b45cc9199b2ea33696657f0b1
  pr-790/run-32915988391/hangar_sim/jazzy/report.html
  pr-790/run-32915988391/lab_sim/jazzy/report.html
Due: none

fix: silence tl_expected and rmw_qos deprecation warnings
  src/example_behaviors/CMakeLists.txt
  src/example_behaviors/include/example_behaviors/example_sam2_segmentation.hpp
  src/example_behaviors/package.xml
  src/example_behaviors/src/example_ndt_registration.cpp
  src/example_behaviors/src/example_ransac_registration.cpp
  src/example_behaviors/src/example_sam2_segmentation.cpp
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/src/protective_stop_manager_node.cpp
Due: check-objective-favorites

deploy: ccb43690b0b0342dddb026f0da2459587ccb2476
  pr-862/run-32969793239/hangar_sim/jazzy/report.html
  pr-862/run-32969793239/lab_sim/jazzy/report.html
Due: none

deploy: 5c1046a0aa640e5d7221b7c26fabc6a49d9000c2
  pr-862/run-32970924242/hangar_sim/jazzy/report.html
  pr-862/run-32970924242/lab_sim/jazzy/report.html
Due: none

docs(lab_sim): Fix Octomap Example description typo and RViz mention
  src/lab_sim/objectives/octomap_example.xml
Due: check-objective-favorites

fix(hangar_sim): derive the base height from the wheel geometry
  src/hangar_sim/description/ur5e_ridgeback.xacro
  src/hangar_sim/description/ur5e_ridgeback.xml
Due: check-objective-favorites

test(hangar_sim): pin the geometry checks to what they claim to check
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/package.xml
  src/hangar_sim/test/test_base_geometry.py
Due: check-objective-favorites

test(hangar_sim): pin the wheel height against the physics model
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/test/test_base_geometry.py
Due: none

fix(hangar_sim): ride on the roller envelope, not its peak
  src/hangar_sim/description/hangar_scene.xml
  src/hangar_sim/description/ur5e_ridgeback.xacro
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/test/test_base_geometry.py
Due: check-objective-favorites

deploy: 021be97f81c65183f8bdeeb4716f26ba14c880f5
  pr-882/run-32956995594/hangar_sim/jazzy/report.html
  pr-882/run-32956995594/lab_sim/jazzy/report.html
Due: none

deploy: d1f7c0713216cc51c0b8a18fb93962750aa88360
  pr-882/run-33003462153/hangar_sim/jazzy/report.html
  pr-882/run-33003462153/lab_sim/jazzy/report.html
Due: none

deploy: 3a293c7df88a9efe9c7cf340c3f3f8d26bf1c4e1
  pr-873/run-33059633541/hangar_sim/jazzy/report.html
  pr-873/run-33059633541/lab_sim/jazzy/report.html
Due: none

feat: add hand_eye_calibration_sim config
  src/hand_eye_calibration_sim/CMakeLists.txt
  src/hand_eye_calibration_sim/CONTRIBUTING.md
  src/hand_eye_calibration_sim/LICENSE
  src/hand_eye_calibration_sim/MOVEIT_PRO_IGNORE
  src/hand_eye_calibration_sim/README.md
  src/hand_eye_calibration_sim/config/config.yaml
  src/hand_eye_calibration_sim/description/LICENSE
  src/hand_eye_calibration_sim/description/assets/charuco_flange_board.png
  src/hand_eye_calibration_sim/description/assets/charuco_world_board.png
  src/hand_eye_calibration_sim/description/scene.xml
  src/hand_eye_calibration_sim/description/ur5e_hand_eye.xml
  src/hand_eye_calibration_sim/description/ur5e_linear_rail_hand_eye.xml
  src/hand_eye_calibration_sim/launch/runtime.launch.xml
  src/hand_eye_calibration_sim/objectives/close_gripper.xml
  src/hand_eye_calibration_sim/objectives/open_gripper.xml
  src/hand_eye_calibration_sim/package.xml
  src/hand_eye_calibration_sim/scripts/generate_charuco_boards.py
  src/hand_eye_calibration_sim/waypoints/ur_waypoints.yaml
Due: check-objective-favorites, check-mujoco-viewer

deploy: 4316f4c268f8dd12d574156622721abe9bc46033
  pr-873/run-33082444379/hangar_sim/jazzy/report.html
Due: none

deploy: 4316f4c268f8dd12d574156622721abe9bc46033
  pr-873/run-33082444379/lab_sim/jazzy/report.html
Due: none

feat(nyx): give the four sky configs real environments, and reframe the space camera
  src/april_tag_sim/description/scene.xml
  src/factory_sim/description/scene.xml
  src/kitchen_sim/description/mujoco/assets/solitude_interior_2k.hdr
  src/kitchen_sim/description/mujoco/scene.xml
  src/lab_sim/description/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/description/mujoco/scene.xml
  src/picknik_accessories/mujoco_assets/assets/aircraft_workshop_01_2k.hdr
  src/picknik_accessories/mujoco_assets/assets/childrens_hospital_2k.hdr
  src/picknik_accessories/mujoco_assets/assets/machine_shop_01_2k.hdr
Due: check-objective-favorites

deploy: e607e29c6073f245d3f0cd30c6b139e3ae4454a6
  pr-886/run-33160576990/hangar_sim/jazzy/report.html
  pr-886/run-33160576990/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): give the pick IK enough budget for the corrected base height
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
Due: check-objective-favorites

deploy: 4b42c690496d070b789111f8be97c08c723b0516
  pr-882/run-33173392264/hangar_sim/jazzy/report.html
  pr-882/run-33173392264/lab_sim/jazzy/report.html
Due: none

feat(nyx): add a camera_renderer switch selecting MuJoCo, Nyx, both or neither
  src/dual_arm_sim/description/franka.urdf.xacro
  src/dual_arm_sim/launch/runtime.launch.xml
  src/factory_sim/description/fanuc_lrmate200id.ros2_control.xacro
  src/factory_sim/launch/runtime.launch.xml
  src/grinding_sim/description/scene.xml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/launch/runtime.launch.xml
  src/kitchen_sim/description/franka.urdf.xacro
  src/kitchen_sim/launch/runtime.launch.xml
  src/lab_sim/description/picknik_ur.xacro
  src/lab_sim/launch/runtime.launch.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/description/mujoco/scene.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/description/space_satellite_sim.xacro
  src/moveit_pro_kinova_configs/space_satellite_sim/launch/runtime.launch.xml
Due: check-objective-favorites

fix(vla_sim): raise stacking objective goal_path_tolerance to 0.5
  src/vla_sim/objectives/stack_cubes_with_the_vla_policy.xml
Due: check-objective-favorites

deploy: ccf79a752895a75c5031a2e4875931ee13371ae6
  pr-888/run-33494730253/hangar_sim/jazzy/report.html
  pr-888/run-33494730253/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): pin nav2_mppi_controller 1.3.13 from ros2-testing and enable open_loop
  Dockerfile
  docker/keys/ros-archive-keyring.asc
  src/hangar_sim/README.md
  src/hangar_sim/params/nav2_params.yaml
Due: none

deploy: 5bf2447223d2b2e7212ef42af668574a41508497
  pr-889/run-33553012513/hangar_sim/jazzy/report.html
  pr-889/run-33553012513/lab_sim/jazzy/report.html
Due: none
