Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

deploy: d8d1af1761d84eea35259037eba16ab387171523
  pr-820/run-30634441981/hangar_sim/jazzy/report.html
  pr-820/run-30634441981/lab_sim/jazzy/report.html
Due: none

deploy: ec970300732a1743c1c352344debce2ac44a1ecb
  pr-815/run-30639456673/hangar_sim/jazzy/report.html
  pr-815/run-30639456673/lab_sim/jazzy/report.html
Due: none

deploy: f003a18215ed20a114e29e481b39033c5659a7c3
  pr-790/run-30641971922/lab_sim/jazzy/report.html
Due: none

deploy: 89db092aeeb2102cda270dcf357b85cfb4c77730
  pr-790/run-30643365903/hangar_sim/jazzy/report.html
  pr-790/run-30643365903/lab_sim/jazzy/report.html
Due: none

deploy: 0275081133ace507ba6fd3f21002302caacf17a4
  pr-822/run-30643413661/hangar_sim/jazzy/report.html
  pr-822/run-30643413661/lab_sim/jazzy/report.html
Due: none

deploy: 665825e712c71106c258762ab811b21f567f5465
  pr-815/run-30644057314/hangar_sim/jazzy/report.html
  pr-815/run-30644057314/lab_sim/jazzy/report.html
Due: none

deploy: 482d6414cadd28b4898198f93d2ee664b350c6d2
  pr-790/run-30645037046/hangar_sim/jazzy/report.html
  pr-790/run-30645037046/lab_sim/jazzy/report.html
Due: none

deploy: f363b2b107a5a01a358c6f42b37b9fc7dabcdf80
  pr-822/run-30647156701/hangar_sim/jazzy/report.html
  pr-822/run-30647156701/lab_sim/jazzy/report.html
Due: none

deploy: a0f6490f055e4e8fa906f3af6e758495189ad399
  pr-790/run-30647873804/hangar_sim/jazzy/report.html
  pr-790/run-30647873804/lab_sim/jazzy/report.html
Due: none

deploy: 9c8fed0f5c538b92e0439c320b8920d2c6b2f6f0
  pr-821/run-30648822177/hangar_sim/jazzy/report.html
  pr-821/run-30648822177/lab_sim/jazzy/report.html
Due: none

deploy: e2b60495c64a536ce72df2a32d16e4c41c6af219
  pr-790/run-30652177432/hangar_sim/jazzy/report.html
  pr-790/run-30652177432/lab_sim/jazzy/report.html
Due: none

deploy: 34b77e1d572a69e3ef26f5a79b5ac37ebf8c4940
  pr-820/run-30648845010/hangar_sim/jazzy/report.html
  pr-820/run-30648845010/lab_sim/jazzy/report.html
Due: none

deploy: a81ede1709b0ce1c8e74680f83de56bec35efe3a
  pr-790/run-30666009030/hangar_sim/jazzy/report.html
  pr-790/run-30666009030/lab_sim/jazzy/report.html
Due: none

feat(kinova_vla_test_sim): publish /joint_commands for oracle recording
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/launch/simulated_extras.launch.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/package.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/script/joint_command_bridge.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/test/test_joint_command_bridge.py
Due: check-objective-favorites

feat(kinova_vla_test_sim): run the stacking oracle as behavior trees
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/collect_color_stack_demo.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/color_stack_oracle_subtrees.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/run_color_stack_oracle.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/package.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/include/kinova_vla_test_sim_behaviors/compute_top_down_keyposes.hpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/kinova_vla_test_sim_behaviors_plugin_description.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/package.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/src/compute_top_down_keyposes.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/src/register_behaviors.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/test_behavior_plugins.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/test_compute_top_down_keyposes.cpp
Due: check-objective-favorites, check-mujoco-viewer

feat(kinova_vla_test_sim): match the oracle's motion with a joint-space spline
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/color_stack_oracle_subtrees.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/command_color_stack_gripper.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/execute_color_stack_oracle.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/move_along_color_stack_keyposes.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/prepare_color_stack_scene.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/run_color_stack_oracle.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/include/kinova_vla_test_sim_behaviors/compute_top_down_keyposes.hpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/include/kinova_vla_test_sim_behaviors/plan_joint_spline_through_poses.hpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/include/kinova_vla_test_sim_behaviors/send_gripper_command.hpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/package.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/src/compute_top_down_keyposes.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/src/plan_joint_spline_through_poses.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/src/register_behaviors.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/src/send_gripper_command.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/test_behavior_plugins.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/test_compute_top_down_keyposes.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/test_plan_joint_spline_through_poses.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/test_send_gripper_command.cpp
Due: check-objective-favorites

chore(kinova_vla_test_sim): drop the resolved gripper-action FIXME
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/script/joint_command_bridge.py
Due: none

test(kinova_vla_test_sim_behaviors): give ROS tests their own domain
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/test_send_gripper_command.cpp
Due: none

feat(kinova_vla_test_sim): record demonstrations the policies can train on
  docker-compose.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/collect_color_stack_demo.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/script/joint_command_bridge.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/include/kinova_vla_test_sim_behaviors/wait_for_episode_start.hpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/package.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/src/register_behaviors.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/src/wait_for_episode_start.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/test_behavior_plugins.cpp
  src/moveit_pro_kinova_configs/kinova_vla_test_sim_behaviors/test/test_wait_for_episode_start.cpp
Due: check-objective-favorites

feat(kinova_vla_test_sim): add training keyframes
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/mujoco/keyframes.xml
Due: check-objective-favorites

feat(kinova_vla_test_sim): sweep keyframes into a per-prompt dataset
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/collect_color_stack_demo.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/record_color_stack_episode.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/record_color_stack_red_on_green.xml
Due: check-objective-favorites

fix(kinova_vla_test_sim): give Pro recordings the statistics pi0.5 needs
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/train/README.md
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/train/backfill_stats.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/train/combine_datasets.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/train/pi05_colorstack_lora_backbone.yaml
Due: none

deploy: efe6f6f2d29ed7cf3ec064c26ccaed300f8ad17b
  pr-800/run-30759100148/hangar_sim/jazzy/report.html
  pr-800/run-30759100148/lab_sim/jazzy/report.html
Due: none

docs(kinova_vla_test_sim): restore the flag the OOM workaround needs
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/train/README.md
Due: none

feat(kinova_vla_test_sim): add the five remaining per-prompt recordings
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/record_color_stack_blue_on_green.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/record_color_stack_blue_on_red.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/record_color_stack_green_on_blue.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/record_color_stack_green_on_red.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/record_color_stack_red_on_blue.xml
Due: check-objective-favorites

docs(kinova_vla_test_sim): serve with --state-dim
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/README.md
Due: none

deploy: 665825e712c71106c258762ab811b21f567f5465
  pr-815/run-30644057314/lab_sim/jazzy/report.html
Due: none

deploy: 72aa34b2aeb3b99bc6188fa2a453509a6014863c
  pr-820/run-30805189603/lab_sim/jazzy/report.html
Due: none

deploy: c6891c7df6f2bf45c9bd296b0931f1266517e6af
  pr-820/run-30805915911/hangar_sim/jazzy/report.html
  pr-820/run-30805915911/lab_sim/jazzy/report.html
Due: none

deploy: e5575ccdd0840f2af808da6fb0c6be7358824c69
  pr-824/run-30625295593/lab_sim/jazzy/report.html
Due: none

deploy: e5575ccdd0840f2af808da6fb0c6be7358824c69
  pr-824/run-30625295593/hangar_sim/jazzy/report.html
  pr-824/run-30625295593/lab_sim/jazzy/report.html
Due: none

test(lab_sim): log UDP rcvbuf capacity + overflow for #20603 diagnosis
  src/lab_sim/test/conftest.py
Due: none

test(lab_sim): emit DDS rcvbuf diagnostics from runtest hooks (#20603)
  src/lab_sim/test/conftest.py
Due: none

deploy: 3f6c9b065f7dff36e1dd29a9ed894bbcdd45500d
  pr-826/run-30826125537/hangar_sim/jazzy/report.html
  pr-826/run-30826125537/lab_sim/jazzy/report.html
Due: none

deploy: a5a66daee358ddb90282145f13b80efb191f4bf5
  pr-826/run-30827576823/hangar_sim/jazzy/report.html
  pr-826/run-30827576823/lab_sim/jazzy/report.html
Due: none

ci: skip empty release merge pull requests
  .github/workflows/batch-merge-release-branch.yaml
Due: none

refactor: rename agent_bridge compose service and launch files to runtime
  docker-compose.yaml
  src/april_tag_sim/launch/runtime.launch.xml
  src/dual_arm_sim/launch/runtime.launch.xml
  src/factory_sim/launch/runtime.launch.xml
  src/grinding_sim/launch/runtime.launch.xml
  src/hangar_sim/launch/runtime.launch.xml
  src/kitchen_sim/launch/runtime.launch.xml
  src/lab_sim/launch/runtime.launch.xml
  src/lunar_sim/launch/runtime.launch.xml
  src/moveit_pro_kinova_configs/kinova_gen3_base_config/launch/runtime.launch.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/launch/runtime.launch.xml
  src/moveit_pro_kinova_configs/kinova_sim/launch/runtime.launch.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/config/config.yaml
  src/moveit_pro_kinova_configs/space_satellite_sim/launch/runtime.launch.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/launch/simulated_extras.launch.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/launch/runtime.launch.xml
  src/moveit_pro_ur_configs/mock_sim/launch/runtime.launch.xml
  src/moveit_pro_ur_configs/multi_arm_sim/launch/runtime.launch.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/launch/runtime.launch.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/launch/runtime.launch.xml
Due: check-objective-favorites, check-mujoco-viewer
