Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

test(hangar_sim): rename to Aircraft Nose (south pose is the front, robot-verified)
  src/hangar_sim/objectives/semantic_navigate_to_workbench.xml
Due: check-objective-favorites

fix(ci): pin main runs to arch-suffixed backend image
  .github/workflows/ci.yaml
Due: none

chore(hangar_sim): remove smoke-test objective; keep Semantic Navigate
  src/hangar_sim/objectives/semantic_navigate_to_workbench.xml
Due: check-objective-favorites

fix: harden lab_sim and hangar_sim integration tests against repeating CI flakes
  src/hangar_sim/objectives/cartesian_draw_geometry_from_file.xml
  src/hangar_sim/test/objectives_integration_test.py
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

deploy: 6e1ee1661a65a2be93a8a78490fdf7153a21310c
  pr-706/run-27356246321/hangar_sim/jazzy/report.html
  pr-706/run-27356246321/lab_sim/jazzy/report.html
Due: none

deploy: a342953ebf418060ed678110c29922e916c5d3bb
  pr-707/run-27356266995/hangar_sim/jazzy/report.html
  pr-707/run-27356266995/lab_sim/jazzy/report.html
Due: none

Add behavior_hub_catalog config for the Behaviors Hub data export
  src/behavior_hub_catalog/CMakeLists.txt
  src/behavior_hub_catalog/MOVEIT_PRO_IGNORE
  src/behavior_hub_catalog/config/config.yaml
  src/behavior_hub_catalog/package.xml
Due: check-objective-favorites, check-mujoco-viewer

fix(ci): default jazzy needs: image suffix to cuda13.2
  .github/workflows/ci.yaml
Due: none

chore: bump src package versions to 9.5.0 and add version-bump workflow
  .github/workflows/bump_version.yaml
  src/april_tag_sim/package.xml
  src/dual_arm_sim/package.xml
  src/example_behaviors/package.xml
  src/factory_sim/package.xml
  src/grinding_sim/package.xml
  src/hangar_sim/package.xml
  src/kitchen_sim/package.xml
  src/lab_sim/package.xml
  src/lab_sim_behaviors/package.xml
  src/lunar_sim/package.xml
  src/moveit_pro_franka_configs/franka_base_config/package.xml
  src/moveit_pro_kinova_configs/kinova_gen3_base_config/package.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/package.xml
  src/moveit_pro_kinova_configs/kinova_sim/package.xml
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/package.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/package.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/package.xml
  src/moveit_pro_ur_configs/mock_sim/package.xml
  src/moveit_pro_ur_configs/multi_arm_sim/package.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/package.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/package.xml
  src/picknik_accessories/package.xml
Due: check-objective-favorites

deploy: a342953ebf418060ed678110c29922e916c5d3bb
  pr-707/run-27356266995/lab_sim/jazzy/report.html
Due: none

deploy: 713f5c1b3f108ab7b9017d541921cfd25e007a8e
  pr-707/run-27362617481/hangar_sim/jazzy/report.html
  pr-707/run-27362617481/lab_sim/jazzy/report.html
Due: none

deploy: 5c839dcf394fe27d4655d0c6f75ba5d0bfce2da3
  pr-706/run-27362624374/hangar_sim/jazzy/report.html
  pr-706/run-27362624374/lab_sim/jazzy/report.html
Due: none

fix(hangar_sim): hide Semantic Navigate from favorites list
  src/hangar_sim/objectives/semantic_navigate.xml
Due: check-objective-favorites

Update package version from 6.5.0 to 9.4.0
  src/behavior_hub_catalog/package.xml
Due: check-objective-favorites

Update package version to 9.5.0
  src/behavior_hub_catalog/package.xml
Due: check-objective-favorites

feat(factory_sim): improve sim and 3D viewer visuals
  src/factory_sim/description/picknik_fanuc.xacro
  src/factory_sim/description/scene.xml
Due: check-objective-favorites

chore(sim): suppress ros2_control overrun warnings in simulation configs
  src/dual_arm_sim/config/control/franka_ros2_control.yaml
  src/factory_sim/config/control/picknik_fanuc.ros2_control.yaml
  src/grinding_sim/config/control/ur20.ros2_control.yaml
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/kitchen_sim/config/control/franka_ros2_control.yaml
  src/lab_sim/config/control/picknik_ur.ros2_control.yaml
  src/moveit_pro_kinova_configs/kinova_sim/config/control/picknik_kinova_gen3.ros2_control.yaml
  src/moveit_pro_ur_configs/mock_sim/config/control/picknik_ur.ros2_control.yaml
  src/moveit_pro_ur_configs/multi_arm_sim/config/control/picknik_multi_ur.ros2_control.yaml
Due: none

test(lab_sim): add joint and object-pose end-state checks
  src/lab_sim/test/objectives_integration_test.py
Due: none

Add lab_sim collision-monitor usage example + Layer-2 integration
  .github/workflows/collision-monitor-integration.yaml
  src/lab_sim_collision_monitor/CMakeLists.txt
  src/lab_sim_collision_monitor/README.md
  src/lab_sim_collision_monitor/config/lab_sim_collision_monitor.yaml
  src/lab_sim_collision_monitor/launch/collision_monitor.launch.py
  src/lab_sim_collision_monitor/package.xml
  src/lab_sim_collision_monitor/test/collision_monitor_integration_test.py
  src/lab_sim_collision_monitor/test/conftest.py
Due: check-objective-favorites

deploy: fee829712d1e697190573103f06d0f01ea9a4957
  pr-716/run-27698711584/hangar_sim/jazzy/report.html
  pr-716/run-27698711584/lab_sim/jazzy/report.html
Due: none

ci: use per-arch image tag in v9.4 integration fallback
  .github/workflows/ci.yaml
Due: none
