Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

deploy: bd05559fc6e71971682b223b9f3e6212ff9a2efa
  pr-1016/run-37045052376/hangar_sim/jazzy/report.html
  pr-1016/run-37045052376/lab_sim/jazzy/report.html
Due: none

deploy: 32bde80c6a1c930c112df1e4e08fa401b1288e06
  pr-1018/run-37046394177/hangar_sim/jazzy/report.html
  pr-1018/run-37046394177/lab_sim/jazzy/report.html
Due: none

deploy: d23a4a9cbf78807dc4437b8d6af3f30398af902d
  pr-1016/run-37047405666/hangar_sim/jazzy/report.html
  pr-1016/run-37047405666/lab_sim/jazzy/report.html
Due: none

deploy: ed10e781b38b7eaecd8cb2856c6b0b2c8e697127
  pr-1016/run-37054365702/hangar_sim/jazzy/report.html
  pr-1016/run-37054365702/lab_sim/jazzy/report.html
Due: none

deploy: 2ae8b534d768605cbd91456e7365afca24efa2bb
  pr-970/run-37055460340/hangar_sim/jazzy/report.html
  pr-970/run-37055460340/lab_sim/jazzy/report.html
Due: none

deploy: 5d2acd10a7252a928ef014a3ca08651b00eea2eb
  pr-1016/run-37057406641/hangar_sim/jazzy/report.html
  pr-1016/run-37057406641/lab_sim/jazzy/report.html
Due: none

feat(factory_sim): configure bin poses in YAML and derive rim, crop, and drop poses
  src/factory_sim/CMakeLists.txt
  src/factory_sim/README.md
  src/factory_sim/config/bin_poses.yaml
  src/factory_sim/description/bin_tops.urdf
  src/factory_sim/objectives/add_bin_rim.xml
  src/factory_sim/objectives/add_bins_to_planning_scene.xml
  src/factory_sim/objectives/drop_bracket_part_in_right_bin_subtree.xml
  src/factory_sim/objectives/load_bin_configuration.xml
  src/factory_sim/objectives/look_for_bracket_part_subtree.xml
  src/factory_sim/objectives/pick_and_place_brackets_from_left_bin.xml
  src/factory_sim/objectives/pick_brackets_from_left_bin.xml
  src/factory_sim/objectives/vacuum_drop_bracket_part_subtree.xml
  src/factory_sim/objectives/validate_bin_pose_values.xml
  src/factory_sim/package.xml
  src/factory_sim/test/test_bin_configuration.cpp
Due: check-objective-favorites

feat(lab_sim): select the camera renderer from one setting
  src/lab_sim/description/picknik_ur.xacro
  src/lab_sim/launch/runtime.launch.xml
Due: check-objective-favorites

deploy: 21ec7711cf53bbfd64ce9a3ded7a5d4d7cbbf7c4
  pr-970/run-37102048433/hangar_sim/jazzy/report.html
  pr-970/run-37102048433/lab_sim/jazzy/report.html
Due: none

deploy: 2c1a255b3dda72744e2eb691a7689fc455895730
  pr-1013/run-37298201768/hangar_sim/jazzy/report.html
  pr-1013/run-37298201768/lab_sim/jazzy/report.html
Due: none

deploy: 289eafedfd9e9daa5e2917d8d8807dc7bf2e7b96
  pr-1013/run-37314976101/hangar_sim/jazzy/report.html
  pr-1013/run-37314976101/lab_sim/jazzy/report.html
Due: none

fix(sim): prepare the example sims for the enforced JTAC goal tolerance
  src/dual_arm_sim/config/control/franka_ros2_control.yaml
  src/factory_sim/config/control/picknik_fanuc.ros2_control.yaml
  src/grinding_sim/config/control/ur20.ros2_control.yaml
  src/kitchen_sim/config/control/franka_ros2_control.yaml
  src/lab_sim/config/control/picknik_ur.ros2_control.yaml
  src/lab_sim/objectives/push_button_with_a_trajectory.xml
  src/lab_sim/objectives/record_surface_coverage_demo.xml
  src/moveit_pro_kinova_configs/kinova_sim/config/control/picknik_kinova_gen3.ros2_control.yaml
  src/moveit_pro_kinova_configs/kinova_sim/objectives/demo_trajectory_stitching.xml
  src/vla_sim/config/control/picknik_kinova_gen3.ros2_control.yaml
Due: check-objective-favorites

deploy: fb9ea39a3793f266af9871fc9f303f239beade09
  pr-1013/run-37318847522/hangar_sim/jazzy/report.html
  pr-1013/run-37318847522/lab_sim/jazzy/report.html
Due: none

deploy: a9499cd4d0851ed28be7b9b3d471f6c363541d81
  pr-1019/run-37298346168/hangar_sim/jazzy/report.html
  pr-1019/run-37298346168/lab_sim/jazzy/report.html
Due: none

deploy: 1455dd929cc3c23b69ee8876b50c882c9c56ce03
  pr-1016/run-37064444918/hangar_sim/jazzy/report.html
  pr-1016/run-37064444918/lab_sim/jazzy/report.html
Due: none

fix(factory_sim): align bin setup validation and scene wiring
  src/factory_sim/CMakeLists.txt
  src/factory_sim/README.md
  src/factory_sim/config/bin_poses.yaml
  src/factory_sim/objectives/add_bin_rim.xml
  src/factory_sim/objectives/add_bins_to_planning_scene.xml
  src/factory_sim/objectives/load_bin_configuration.xml
  src/factory_sim/objectives/validate_bin_pose_values.xml
  src/factory_sim/package.xml
  src/factory_sim/test/test_bin_configuration.cpp
Due: check-objective-favorites

deploy: 2666bbd6ee311097a7b7bf1071078637db73e7c4
  pr-1016/run-37326679087/hangar_sim/jazzy/report.html
  pr-1016/run-37326679087/lab_sim/jazzy/report.html
Due: none

fix(objectives): single-quote string literals in BT scripts
  src/factory_sim/objectives/automask_camera_iterate_masks.xml
  src/factory_sim/objectives/place_tool_in_tool_holder.xml
  src/factory_sim/objectives/plan_and_execute_with_orientation_samples.xml
  src/factory_sim/objectives/plan_and_execute_with_position_only.xml
  src/factory_sim/objectives/plan_and_execute_with_world_vertical_orientation.xml
  src/hangar_sim/objectives/calibrate_sam3_mask_areas.xml
  src/lab_sim/objectives/pick_all_pill_bottles.xml
Due: check-objective-favorites

deploy: 8de9cce4316bb3a95833eb59a7eb7751c01f22d7
  pr-1020/run-37339469374/lab_sim/jazzy/report.html
Due: none

deploy: 8de9cce4316bb3a95833eb59a7eb7751c01f22d7
  pr-1020/run-37339469374/hangar_sim/jazzy/report.html
Due: none

docs(hand-eye): add calibration simulation thumbnail
  src/hand_eye_calibration_sim/thumbnail.png
Due: none

deploy: 5f17729756170ca555458c74be12914f0e47821a
  pr-1021/run-37408303212/hangar_sim/jazzy/report.html
Due: none

deploy: 5f17729756170ca555458c74be12914f0e47821a
  pr-1021/run-37408303212/lab_sim/jazzy/report.html
Due: none

feat(vla_sim): add Objectives for evaluating the cube-stacking policy
  src/vla_sim/config/config.yaml
  src/vla_sim/objectives/check_if_one_cube_is_on_another.xml
  src/vla_sim/objectives/check_if_the_blue_cube_is_on_the_green_cube.xml
  src/vla_sim/objectives/check_the_cube_stacking_trial.xml
  src/vla_sim/objectives/reset_the_cube_stacking_trial.xml
  src/vla_sim/objectives/run_the_cube_stacking_trial.xml
  src/vla_sim/objectives/sample_a_cube_stacking_trial.xml
  src/vla_sim/objectives/stack_cubes_until_the_cube_poses_confirm.xml
  src/vla_sim/objectives/stack_cubes_with_the_vla_policy.xml
  src/vla_sim/package.xml
  src/vla_sim_behaviors/CMakeLists.txt
  src/vla_sim_behaviors/include/vla_sim_behaviors/cube_stack_trial.hpp
  src/vla_sim_behaviors/include/vla_sim_behaviors/sample_cube_stack_trial.hpp
  src/vla_sim_behaviors/package.xml
  src/vla_sim_behaviors/src/cube_stack_trial.cpp
  src/vla_sim_behaviors/src/register_behaviors.cpp
  src/vla_sim_behaviors/src/sample_cube_stack_trial.cpp
  src/vla_sim_behaviors/test/CMakeLists.txt
  src/vla_sim_behaviors/test/test_behavior_plugins.cpp
  src/vla_sim_behaviors/test/test_cube_stack_trial.cpp
  src/vla_sim_behaviors/test/test_sample_cube_stack_trial.cpp
  src/vla_sim_behaviors/vla_sim_behaviors_plugin_description.xml
Due: check-objective-favorites, check-mujoco-viewer

deploy: 198203d260bd64c99681558ef1fbf8ebebad856c
  pr-1019/run-37450801449/lab_sim/jazzy/report.html
Due: none

deploy: 198203d260bd64c99681558ef1fbf8ebebad856c
  pr-1019/run-37450801449/hangar_sim/jazzy/report.html
Due: none

deploy: 5b5c7ad689bd92e500139a95396b5f0905821307
  pr-902/run-37371164192/hangar_sim/jazzy/report.html
  pr-902/run-37371164192/lab_sim/jazzy/report.html
Due: none

deploy: 7fa78c5794bb76f87193e4a2c8f4d88768efc237
  pr-903/run-37371173510/hangar_sim/jazzy/report.html
  pr-903/run-37371173510/lab_sim/jazzy/report.html
Due: none

feat(deps): add a script to refresh a vendored dependency
  README.md
  bin/tests/test_vendored_dependency.py
  bin/vendored_dependency.py
Due: none

deploy: 8b4d3984bb2b225d3453fc2cc80350d0b409d283
  pr-902/run-37502629804/hangar_sim/jazzy/report.html
  pr-902/run-37502629804/lab_sim/jazzy/report.html
Due: none

deploy: cbec3e179193a3239c537528fd6ef9d36613c84e
  pr-903/run-37502665685/hangar_sim/jazzy/report.html
  pr-903/run-37502665685/lab_sim/jazzy/report.html
Due: none

fix(ci): stop batch merge from crashing on submodule conflicts
  .github/workflows/batch-merge-release-branch.yaml
Due: none

deploy: da8cb848ed124d9b9ea847be04bfdeda8b7bc3db
  pr-1022/run-37519758055/hangar_sim/jazzy/report.html
  pr-1022/run-37519758055/lab_sim/jazzy/report.html
Due: none

Bump version to 10.1.1
  src/april_tag_sim/package.xml
  src/behavior_hub_catalog/package.xml
  src/dual_arm_sim/package.xml
  src/example_behaviors/package.xml
  src/factory_sim/package.xml
  src/grinding_sim/package.xml
  src/hand_eye_calibration_sim/package.xml
  src/hangar_sim/package.xml
  src/kitchen_sim/package.xml
  src/lab_sim/package.xml
  src/lab_sim_behaviors/package.xml
  src/lunar_sim/package.xml
  src/moveit_pro_franka_configs/franka_base_config/package.xml
  src/moveit_pro_kinova_configs/kinova_gen3_base_config/package.xml
  src/moveit_pro_kinova_configs/kinova_gen3_site_config/package.xml
  src/moveit_pro_kinova_configs/kinova_sim/package.xml
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/package.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/package.xml
  src/moveit_pro_kinova_configs/space_satellite_sim_camera_cal/package.xml
  src/moveit_pro_ur_configs/mock_sim/package.xml
  src/moveit_pro_ur_configs/multi_arm_sim/package.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/package.xml
  src/moveit_pro_ur_configs/picknik_ur_site_config/package.xml
  src/picknik_accessories/package.xml
  src/vla_sim/package.xml
Due: check-objective-favorites

deploy: a87aacdbc512d352a3dec4dd35c488a45c28b94b
  pr-1023/run-37522036883/hangar_sim/jazzy/report.html
  pr-1023/run-37522036883/lab_sim/jazzy/report.html
Due: none

deploy: 31d97f800bdfcfcef428fd0c68690e88f982508d
  pr-1024/run-37522260064/hangar_sim/jazzy/report.html
  pr-1024/run-37522260064/lab_sim/jazzy/report.html
Due: none

chore(hangar_sim): state the arrival heading in Navigate to Clicked Point prompts
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
Due: check-objective-favorites

ci: open a weekly refresh PR per drifted vendored dependency
  .github/workflows/ci.yaml
  README.md
  bin/tests/test_vendored_dependency.py
  bin/vendored_dependency.py
Due: none

deploy: aa5653cacf1595717ebcec9eef2167a8a679a229
  pr-1022/run-37526360154/hangar_sim/jazzy/report.html
  pr-1022/run-37526360154/lab_sim/jazzy/report.html
Due: none

Bump version to 10.2.0
  src/april_tag_sim/package.xml
  src/behavior_hub_catalog/package.xml
  src/dual_arm_sim/package.xml
  src/example_behaviors/package.xml
  src/factory_sim/package.xml
  src/grinding_sim/package.xml
  src/hand_eye_calibration_sim/package.xml
  src/hangar_sim/package.xml
  src/kitchen_sim/package.xml
  src/lab_sim/package.xml
  src/lab_sim_behaviors/package.xml
  src/lunar_sim/package.xml
  src/lunar_sim_behaviors/package.xml
  src/moveit_pro_franka_configs/franka_base_config/package.xml
  src/moveit_pro_kinova_configs/kinova_gen3_base_config/package.xml
  src/moveit_pro_kinova_configs/kinova_sim/package.xml
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/package.xml
  src/moveit_pro_kinova_configs/space_satellite_sim/package.xml
  src/moveit_pro_ur_configs/mock_sim/package.xml
  src/moveit_pro_ur_configs/multi_arm_sim/package.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/package.xml
  src/picknik_accessories/package.xml
  src/so101_base_config/package.xml
  src/so101_sim/package.xml
  src/vla_sim/package.xml
Due: check-objective-favorites
