Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ^src/external_dependencies/
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: ["--unsafe"] # Fixes errors parsing custom YAML constructors like ur_description's !degrees
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (\.(svg|stl|dae))$
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes", "-L", "atleast,inout,ether"] # Provide a comma-separated list of misspelled words that codespell should ignore (for example: '-L', 'word1,word2,word3').
        exclude: \.(svg|pyc|stl|dae|lock)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|proto|vert)$
        # -i arg is included by default by the hook
        args: ["-fallback-style=none"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "--no-warnings",
            "--config-data",
            "{extends: default, rules: {line-length: disable, braces: {max-spaces-inside: 1}, indentation: disable, empty-lines: {max-end: 0, max-start: 1}}}",
          ]
        types: [text]
        files: \.(yml|yaml)$

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check

  # NOTE: Broken on arm64. Will need to bump once https://github.com/hadolint/hadolint/issues/840 is fixed.
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        name: "Lint Dockerfiles"
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:2.11.0 hadolint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      # Use Prettier to lint XML files because, well.. its rules are prettier than most linters, as the name implies.
      # Also we use it in the UI, so it's familiar.
      - id: prettier
        additional_dependencies:
          - "prettier@3.1.0"
          - "@prettier/plugin-xml@3.3.1"
        files: \.(xml)$

  - repo: local
    hooks:
      - id: check-objective-favorites
        name: Validate Objective favorites
        entry: ./scripts/check_objective_favorites.sh
        language: system
        pass_filenames: false
        files: \.(xml)$
      - id: check-mujoco-viewer
        name: Ensure mujoco_viewer is disabled
        entry: ./scripts/check_mujoco_viewer.sh
        language: system
        pass_filenames: false
        files: config\.yaml$

market_sim: turn in place before following a path, keep off the racks
  src/market_sim/README.md
  src/market_sim/package.xml
  src/market_sim/params/nav2_params.yaml
  src/market_sim/test/test_nav2_footprint.py
Due: check-objective-favorites

moveit_pro_franka_ws: vendor fr3_duo_mock
  src/external_dependencies/moveit_pro_franka_ws/UPSTREAM.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/CMakeLists.txt
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/README.md
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/config/config.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/config/control/fr3_duo.ros2_control.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/config/moveit/franka.srdf
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/config/moveit/joint_jog.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/config/moveit/joint_limits.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/config/moveit/pose_ik.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/config/moveit/pose_jog.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/description/fr3_duo.urdf.xacro
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/description/fr3_duo_mock.ros2_control.xacro
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/launch/runtime.launch.xml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/objectives/close_gripper.xml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/objectives/close_left_gripper.xml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/objectives/close_right_gripper.xml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/objectives/open_gripper.xml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/objectives/open_left_gripper.xml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/objectives/open_right_gripper.xml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/package.xml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/waypoints/waypoints.yaml
Due: none

market_sim: Navigate with NavFn and Navigate with SMAC
  src/market_sim/README.md
  src/market_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/market_sim/objectives/navigate_with_navfn.xml
  src/market_sim/objectives/navigate_with_smac.xml
  src/market_sim/package.xml
  src/market_sim/params/nav2_params.yaml
Due: check-objective-favorites

kitchen_sim: use fr3_solo_mock's gripper controller name
  src/kitchen_sim/README.md
  src/kitchen_sim/config/config.yaml
  src/kitchen_sim/config/control/franka_ros2_control.yaml
  src/kitchen_sim/objectives/grasp_object_from_point.xml
Due: check-objective-favorites, check-mujoco-viewer

moveit_pro_franka_ws: refresh the vendored copy
  AGENTS.md
  src/external_dependencies/moveit_pro_franka_ws/UPSTREAM.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/CMakeLists.txt
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/README.md
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/behavior_plugin.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/config/tree_nodes_model.xml
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/franka_behaviors_plugin_description.xml
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/include/franka_behaviors/create_spine_state.hpp
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/include/franka_behaviors/get_spine_state_for_pose_height.hpp
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/include/franka_behaviors/spine_height.hpp
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/package.xml
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/src/create_spine_state.cpp
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/src/get_spine_state_for_pose_height.cpp
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/src/register_behaviors.cpp
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/test/test_behavior_plugins.cpp
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/test/test_create_spine_state.cpp
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/test/test_spine_height.cpp
  src/external_dependencies/moveit_pro_franka_ws/src/franka_spine_behaviors/behavior_plugin.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/franka_spine_behaviors/include/franka_spine_behaviors/get_spine_state_for_pose_height.hpp
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/README.md
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/config/config.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/config/moveit/mobile_fr3_duo.srdf
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/config/moveit/pose_ik.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/objectives/request_teleoperation.xml
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/package.xml
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/params/nav2_params.yaml
  src/market_sim/params/nav2_params.yaml
Due: none

moveit_pro_franka_ws: refresh the vendored copy
  src/external_dependencies/moveit_pro_franka_ws/UPSTREAM.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/fr3_duo_mock/config/moveit/franka.srdf
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/README.md
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/objectives/request_teleoperation.xml
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/params/nav2_params.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/script/joint_state_odometry.py
  src/external_dependencies/moveit_pro_franka_ws/src/mobile_fr3_duo_mock/test/test_joint_state_odometry.py
Due: none

market_sim: stow the arms before driving, stowed-arms footprint
  src/market_sim/CMakeLists.txt
  src/market_sim/README.md
  src/market_sim/objectives/navigate_to_aisle_a1.xml
  src/market_sim/objectives/navigate_to_aisle_b2.xml
  src/market_sim/objectives/navigate_to_aisle_c3.xml
  src/market_sim/objectives/navigate_to_aisle_d4.xml
  src/market_sim/objectives/navigate_to_aisle_e1.xml
  src/market_sim/objectives/navigate_to_aisle_e5.xml
  src/market_sim/objectives/navigate_to_aisle_i2.xml
  src/market_sim/objectives/navigate_with_navfn.xml
  src/market_sim/objectives/navigate_with_smac.xml
  src/market_sim/params/nav2_params.yaml
  src/market_sim/scripts/generate_market.py
  src/market_sim/test/test_nav2_footprint.py
Due: check-objective-favorites

dual_arm_sim: build on fr3_duo_mock
  src/dual_arm_sim/README.md
  src/dual_arm_sim/config/config.yaml
  src/dual_arm_sim/config/moveit/franka.srdf
  src/dual_arm_sim/config/moveit/joint_limits.yaml
  src/dual_arm_sim/config/moveit/pose_ik_distance.yaml
  src/dual_arm_sim/config/moveit/pose_ik_speed.yaml
  src/dual_arm_sim/objectives/close_gripper.xml
  src/dual_arm_sim/objectives/close_left_gripper.xml
  src/dual_arm_sim/objectives/close_right_gripper.xml
  src/dual_arm_sim/objectives/open_gripper.xml
  src/dual_arm_sim/objectives/open_left_gripper.xml
  src/dual_arm_sim/objectives/open_right_gripper.xml
  src/dual_arm_sim/package.xml
  src/kitchen_sim/objectives/close_gripper.xml
  src/kitchen_sim/objectives/open_gripper.xml
Due: check-objective-favorites, check-mujoco-viewer

AGENTS.md: check the MuJoCo-to-URDF body warning after a mount change
  AGENTS.md
Due: none

market_sim: document AMCL drift along the aisles as a known limit
  AGENTS.md
  src/market_sim/README.md
Due: none

no-mistakes(review): Restore controllers on failed reset; tidy market_sim generator and test
  src/market_sim/objectives/reset_market_keyframe.xml
  src/market_sim/scripts/generate_market.py
  src/market_sim/test/test_nav2_footprint.py
Due: check-objective-favorites

no-mistakes(document): Note vendored Franka configs and market_sim inheritance in docs
  AGENTS.md
  README.md
Due: none

no-mistakes(document): Drop duplicated AMCL drift numbers from AGENTS.md
  AGENTS.md
Due: none

deploy: a9f6ab9ab1638a2a5f59a0309bbbf7f712049df9
  pr-1031/run-37834703634/hangar_sim/jazzy/report.html
  pr-1031/run-37834703634/lab_sim/jazzy/report.html
Due: none

no-mistakes: apply CI fixes
  src/external_dependencies/moveit_pro_franka_ws/UPSTREAM.yaml
  src/external_dependencies/moveit_pro_franka_ws/src/franka_behaviors/behavior_plugin.yaml
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/package.xml
  src/hangar_sim/test/test_behavior_loader_plugins.py
Due: check-objective-favorites

deploy: 1c0d5cdc9c43b368072a1edffdc420caf8b3e334
  pr-1031/run-37839391663/hangar_sim/jazzy/report.html
  pr-1031/run-37839391663/lab_sim/jazzy/report.html
Due: none

hangar_sim: drop the Behavior-loader guard test
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/package.xml
  src/hangar_sim/test/test_behavior_loader_plugins.py
Due: check-objective-favorites

deploy: bcb94878ce9338d31452362726ab73196a077f89
  pr-1031/run-37843020707/hangar_sim/jazzy/report.html
  pr-1031/run-37843020707/lab_sim/jazzy/report.html
Due: none

deploy: 79d618a70412263a4ff1893c1b65325addab2bec
  pr-1032/run-37848337806/hangar_sim/jazzy/report.html
  pr-1032/run-37848337806/lab_sim/jazzy/report.html
Due: none

deploy: 7b92db604391f47131ebe476c75b0eba2b51d21d
  pr-1033/run-37848342019/hangar_sim/jazzy/report.html
  pr-1033/run-37848342019/lab_sim/jazzy/report.html
Due: none

deploy: 1c902491ebcf7a52c82480a50809f5345ae73303
  pr-1032/run-37858967677/hangar_sim/jazzy/report.html
  pr-1032/run-37858967677/lab_sim/jazzy/report.html
Due: none

fix(so101): hide base configuration from Quickstart
  src/so101_base_config/MOVEIT_PRO_IGNORE
Due: none

deploy: 49ce3c3bb8ce54d8ebf870345705b853027e533f
  pr-1039/run-37945452403/hangar_sim/jazzy/report.html
  pr-1039/run-37945452403/lab_sim/jazzy/report.html
Due: none

feat(vla): pass resident policy handles to execution objectives
  src/vla_sim/objectives/stack_cubes_until_gemini_confirms.xml
  src/vla_sim/objectives/stack_cubes_until_the_cube_poses_confirm.xml
  src/vla_sim/objectives/stack_cubes_with_the_vla_policy.xml
  src/vla_sim/objectives/stack_cubes_with_the_vla_policy_or_fail_when_time_runs_out.xml
Due: check-objective-favorites

feat(sam3): download SAM3 models at build time instead of vendoring them
  .gitmodules
  .pre-commit-config.yaml
  README.md
  src/moveit_pro_sam3/.gitignore
  src/moveit_pro_sam3/CMakeLists.txt
  src/moveit_pro_sam3/CONTRIBUTING.md
  src/moveit_pro_sam3/LICENSE
  src/moveit_pro_sam3/README.md
  src/moveit_pro_sam3/models/LICENSE
  src/moveit_pro_sam3/models/model.yaml.in
  src/moveit_pro_sam3/package.xml
Due: check-objective-favorites, check-mujoco-viewer

deploy: 573c06b8d8eb04233bf27cc78174f93ec570fde0
  pr-1042/run-37956175065/hangar_sim/jazzy/report.html
  pr-1042/run-37956175065/lab_sim/jazzy/report.html
Due: none

deploy: b69f7b1307b382236d288327994d45a93c7389bd
  pr-1043/run-37956185349/hangar_sim/jazzy/report.html
  pr-1043/run-37956185349/lab_sim/jazzy/report.html
Due: none

deploy: 436bcbed70b9b3823f6490b7d4a95b706e8ae499
  pr-1041/run-37955486503/hangar_sim/jazzy/report.html
  pr-1041/run-37955486503/lab_sim/jazzy/report.html
Due: none

fix(ci): handle Dependabot cache and status restrictions
  .github/workflows/ci.yaml
Due: none

franka_description: vendor the hand SRDF; note the mobile Duo default
  src/external_dependencies/franka_config/UPSTREAM.yaml
  src/external_dependencies/franka_config/franka_description/end_effectors/franka_hand/franka_hand.srdf.xacro
Due: none

Add market_sim: a Franka Mobile FR3 Duo in a simulated supermarket
  AGENTS.md
  README.md
  src/external_dependencies/moveit_pro_franka_ws/UPSTREAM.yaml
  src/market_sim/CMakeLists.txt
  src/market_sim/README.md
  src/market_sim/config/config.yaml
  src/market_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/market_sim/maps/market.png
  src/market_sim/maps/market.yaml
  src/market_sim/mjcf/market/keyframes.xml
  src/market_sim/mjcf/market/market_assets.xml
  src/market_sim/mjcf/market/market_world.xml
  src/market_sim/mjcf/mobile_fr3_duo.xml
  src/market_sim/mjcf/scene.xml
  src/market_sim/mjcf/sensors.xml
  src/market_sim/objectives/localize_robot.xml
  src/market_sim/objectives/localize_robot_if_needed.xml
  src/market_sim/objectives/navigate_to_aisle_a1.xml
  src/market_sim/objectives/navigate_to_aisle_b2.xml
  src/market_sim/objectives/navigate_to_aisle_c3.xml
  src/market_sim/objectives/navigate_to_aisle_d4.xml
  src/market_sim/objectives/navigate_to_aisle_e1.xml
  src/market_sim/objectives/navigate_to_aisle_e5.xml
  src/market_sim/objectives/navigate_to_aisle_i2.xml
  src/market_sim/objectives/navigate_with_navfn.xml
  src/market_sim/objectives/navigate_with_smac.xml
  src/market_sim/objectives/refine_localization_in_place.xml
  src/market_sim/objectives/refine_localization_in_place_subtree.xml
  src/market_sim/objectives/reset_market_keyframe.xml
  src/market_sim/package.xml
  src/market_sim/params/nav2_params.yaml
  src/market_sim/scripts/generate_market.py
  src/market_sim/scripts/reset_relocalizer.py
  src/market_sim/test/test_market_scene.py
  src/market_sim/test/test_nav2_footprint.py
  src/market_sim/test/test_reset_relocalizer.py
Due: check-objective-favorites, check-mujoco-viewer

deploy: c38d5f64f34a60c8d9d18095208d50e2a8d74edd
  pr-1038/run-37976544834/lab_sim/jazzy/report.html
Due: none
