Repository PickNikRobotics/moveit_pro_example_ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-objective-favorites, check-mujoco-viewer

check-objective-favorites:
  name: Validate Objective favorites
  entry: ./scripts/check_objective_favorites.sh
  language: system
  pass_filenames: false

check-mujoco-viewer:
  name: Ensure mujoco_viewer is disabled
  entry: ./scripts/check_mujoco_viewer.sh
  language: system
  pass_filenames: false

refactor(behaviors): use getBehaviorContext() instead of shared_resources_
  src/example_behaviors/src/example_convert_mtc_solution_to_joint_trajectory.cpp
  src/example_behaviors/src/example_create_string_msg.cpp
  src/example_behaviors/src/example_delayed_message.cpp
  src/example_behaviors/src/example_fibonacci_action_client.cpp
  src/example_behaviors/src/example_hello_world.cpp
  src/example_behaviors/src/example_publish_color_rgba.cpp
  src/lab_sim_behaviors/src/compute_tray_place_positions_using_apriltags.cpp
Due: none

refactor(perception): migrate CLIPSeg callers to SAM3
  src/dual_arm_sim/objectives/find_with_prompt.xml
  src/dual_arm_sim/objectives/ml_segment_image_from_text_prompt.xml
  src/dual_arm_sim/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/dual_arm_sim/objectives/segment_point_cloud_from_text.xml
  src/dual_arm_sim/package.xml
  src/hangar_sim/objectives/segment_image_from_text_prompt.xml
  src/hangar_sim/package.xml
  src/kitchen_sim/objectives/segment_image_from_prompt.xml
  src/kitchen_sim/package.xml
  src/lab_sim/objectives/addbottlestoplanningscene.xml
  src/lab_sim/objectives/ml_find_objects_on_table.xml
  src/lab_sim/objectives/ml_segment_image.xml
  src/lab_sim/objectives/ml_segment_point_cloud.xml
  src/lab_sim/package.xml
  src/moveit_pro_franka_configs/franka_base_config/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/moveit_pro_franka_configs/franka_base_config/package.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_image_from_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_point_cloud_from_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/package.xml
Due: check-objective-favorites

feat(lab_sim): add Run pi0.5 Policy objective wiring ExecutePolicyPi05Torch
  src/lab_sim/objectives/run_pi05_policy.xml
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

Example of C++ script validating a license
  src/licensing_example/CMakeLists.txt
  src/licensing_example/package.xml
  src/licensing_example/src/check_license.cpp
Due: check-objective-favorites

docs(lab_sim): explain ICP delta semantics in Register CAD Part objective
  src/lab_sim/objectives/register_cad_part.xml
Due: check-objective-favorites

deploy: fc0536ad56d12136af555b21a745d8e8f7f25f94
  pr-788/run-29514116780/hangar_sim/jazzy/report.html
Due: none

fix(hangar_sim): ignore goal stamp time in clicked-point nav objectives
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
Due: check-objective-favorites

chore: remove ROS Humble support
  .github/workflows/ci.yaml
  Dockerfile
  src/external_dependencies/ros2_robotiq_gripper/robotiq_controllers/CMakeLists.txt
  src/external_dependencies/ros2_robotiq_gripper/robotiq_controllers/src/robotiq_activation_controller.cpp
  src/external_dependencies/ros2_robotiq_gripper/robotiq_driver/CMakeLists.txt
  src/external_dependencies/ros2_robotiq_gripper/robotiq_driver/include/robotiq_driver/hardware_interface.hpp
  src/external_dependencies/ros2_robotiq_gripper/robotiq_driver/src/hardware_interface.cpp
  src/external_dependencies/ros2_robotiq_gripper/robotiq_driver/tests/test_robotiq_gripper_hardware_interface.cpp
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/test/objectives_integration_test.py
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/CMakeLists.txt
  src/moveit_pro_kinova_configs/moveit_studio_kinova_pstop_manager/src/protective_stop_manager_node.cpp
Due: check-objective-favorites

chore: move shared Humble removal upstream
  .github/workflows/ci.yaml
  Dockerfile
Due: none

Remove L2G example workflow and model
  src/lab_sim/CMakeLists.txt
  src/lab_sim/models/l2g.onnx
  src/lab_sim/objectives/ml_auto_grasp_object_from_clicked_point.xml
  src/lab_sim/test/objectives_integration_test.py
Due: check-objective-favorites

docs: clarify Register CAD Part registration flow
  src/lab_sim/objectives/register_cad_part.xml
Due: check-objective-favorites

feat(hangar_sim): fuse odometry localization for the mobile base (#19667)
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/config/control/picknik_ur.ros2_control.yaml
  src/hangar_sim/config/fuse/fuse.yaml
  src/hangar_sim/description/picknik_ur_mujoco_ros2_control.xacro
  src/hangar_sim/description/ur5e_ridgeback.xml
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/package.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/script/odom_world_drift.py
  src/hangar_sim/src/slip_aware_odom.cpp
Due: check-objective-favorites

fix(docker): use moveit-pro image name
  .github/workflows/ci.yaml
  Dockerfile
Due: none

feat(kinova_vla_test_sim): serve VLA policies over docker with auto-launched bridge
  .gitignore
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/CMakeLists.txt
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/config/config.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/config/moveit/joint_limits.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/Dockerfile.serve_policy
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/README.md
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/docker-compose.yaml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/serve_policy.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/test_serve_policy.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/launch/simulated_extras.launch.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/execute_color_stack_policy.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/package.xml
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/script/get_action_chunk_adapter.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/test/test_get_action_chunk_adapter.py
Due: check-objective-favorites, check-mujoco-viewer

deploy: 7bdbb7c533598f13814ce69181b07aa1e5c42b26
  pr-800/run-29911110612/hangar_sim/jazzy/report.html
  pr-800/run-29911110612/lab_sim/jazzy/report.html
Due: none

fix(kinova_vla_test_sim): home+open-gripper before rollout, standard RTC defaults, drop dead RealSense mesh
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/description/picknik_kinova_gen3.xacro
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/README.md
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/docker/serve_policy.py
  src/moveit_pro_kinova_configs/kinova_vla_test_sim/objectives/execute_color_stack_policy.xml
Due: check-objective-favorites

Distribute factory_sim SAM 2.1 models under Apache-2.0 with Meta attribution
  src/factory_sim/README.md
  src/factory_sim/models/LICENSE
  src/factory_sim/models/NOTICE
  src/factory_sim/package.xml
Due: check-objective-favorites

feat: switch SAM3 objectives to the model bundle manifest
  src/dual_arm_sim/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/dual_arm_sim/objectives/segment_point_cloud_from_text.xml
  src/hangar_sim/objectives/calibrate_sam3_mask_areas.xml
  src/hangar_sim/objectives/move_boxes_to_loading_zone_from_waypoint.xml
  src/kitchen_sim/objectives/segment_image_from_prompt.xml
  src/lab_sim/objectives/ml_find_bottles_on_table_from_image_exemplar.xml
  src/lab_sim/objectives/ml_segment_bottles_from_file.xml
  src/lab_sim/objectives/segment_bottle_subtree.xml
  src/moveit_pro_franka_configs/franka_base_config/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_image_from_no_negative_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_image_from_text_prompt_subtree.xml
  src/moveit_pro_ur_configs/picknik_ur_base_config/objectives/segment_point_cloud_from_text_prompt_subtree.xml
Due: check-objective-favorites

fix(hangar_sim): relax beluga_amcl likelihood for unmapped obstacles
  src/hangar_sim/params/nav2_params.yaml
Due: none

feat(hangar_sim): degeneracy-aware map->odom gate for localization robustness
  src/hangar_sim/CMakeLists.txt
  src/hangar_sim/include/hangar_sim/amcl_odom_gate_logic.hpp
  src/hangar_sim/launch/sim/robot_drivers_to_persist_sim.launch.py
  src/hangar_sim/objectives/navigate_to_clicked_point.xml
  src/hangar_sim/objectives/navigate_to_clicked_point_with_replanning.xml
  src/hangar_sim/package.xml
  src/hangar_sim/params/nav2_params.yaml
  src/hangar_sim/script/odom_world_drift.py
  src/hangar_sim/src/amcl_odom_gate.cpp
  src/hangar_sim/src/amcl_odom_gate_logic.cpp
  src/hangar_sim/src/slip_aware_odom.cpp
  src/hangar_sim/test/test_amcl_odom_gate.cpp
Due: check-objective-favorites

Path conditions:
  check-objective-favorites: any of: \.(xml)$, but not: ^src/external_dependencies/
  check-mujoco-viewer: any of: config\.yaml$, but not: ^src/external_dependencies/
